<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta content="Connoisseur, Cannabis Tournament, Missouri, Kansas City, Saint Louis, Cannabis, Marijuana, Weed, Pot, Dispensary, Dispensaries Near Me, Weed Near Me, Cultivator, Leafly, Weedmaps, Weed Maps," name="keywords">
    <div id="preloaderMain" class="preloader-main d-flex justify-content-center align-items-center">
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <style>
    .preloader-main {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      z-index: 9999;
    }
    </style>
    <script>
    document.onreadystatechange = function () {
      if (document.readyState === "complete") {
        const preloaderMain = document.getElementById("preloaderMain");
        preloaderMain.style.display = "none";
        preloaderMain.classList.add("d-none")
      }
    };
    </script>
    {% block head %}
    <meta name="robots" content="index, follow">
    {%  endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="{{ url_for('static', path='images/favicon.ico') }}" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
    <!-- MDB -->
    <link rel="stylesheet" href="{{ url_for('static', path='plugins/css/all.min.css') }}" />
    <link href="{{ url_for('static', path='css/mdb.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='src/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
    <script
      type="text/javascript"
      src="{{ url_for('static', path='src/aos/aos.js') }}"
    ></script>
    <script type="module" src="{{ url_for('static', path='js/supa_login.js') }}"></script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Cannabis Cult",
      "url": "https://cannabiscult.co",
      "logo": "https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/cannabiscult/webiste_assests/logos/brain_vector-optimized.png",
      "sameAs": [
        "https://www.facebook.com/100089202138069",
        "https://twitter.com/TheCannabisCvlt",
        "https://www.instagram.com/missouricannabisreviews",
        "https://www.reddit.com/r/thecannabiscult/"

      ]
    }
    </script>
    <!-- MDB -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='js/mdb.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/mdb.umd.min.js') }}"></script>
    <script src="{{ url_for('static', path='plugins/js/all.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/utils/browser-image-compression/browser-image-compression.js') }}"></script>
    <script src="https://js.sentry-cdn.com/a5299021dec7811949190fa7bdd78a9f.min.js" crossorigin="anonymous"></script>
    <script defer>
      if (window.Sentry) {
        Sentry.onLoad(function() {
          Sentry.init({
            integrations: [
              Sentry.replayIntegration(),
            ],
            // Session Replay
            replaysSessionSampleRate: 0.1,
            replaysOnErrorSampleRate: 1.0,
          });
        });
      };
    </script>
    {% block title %}
    {% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E9FRJKXKF7" rel="dns-prefetch"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E9FRJKXKF7');
    </script>
  </head>
  {% include "components/navigation/navbar.html" %}

  {% block header %}
  {%  endblock %}

  <body class="stage">
    {% include "components/auth/are_you_21.html" %}
    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
    {% include "components/navigation/footer.html" %}
    <!-- Custom scripts -->
    <script>
    $(document).ready(function() {
      var offsetValue;
      if (window.innerWidth <= 500) {
        offsetValue = 725;
      } else if (window.innerWidth <= 768) {
        offsetValue = 650;
      } else {
        offsetValue = 225;
      }

      AOS.init({
        offset: offsetValue,
        mirror: false,
        once: true
      });
    });
    </script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
