<div class="container py-5 text-start" id="mystery_strain_guess_container">
  <hr>
  <h6 class="my-3 d-flex flex-shrink"><b>Guess the strain and cultivator for each Connoisseur Pack submission:</b></h6>
  <form id="strainGuessForm">
    <div class="row mb-4 pt-3">
      <div class="col">
        <input type="text" id="citrus1" class="form-control" placeholder="Guess Strain & Cultivator of Citrus 1">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <input type="text" id="citrus2" class="form-control" placeholder="Guess Strain & Cultivator of Citrus 2">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <input type="text" id="citrus3" class="form-control" placeholder="Guess Strain & Cultivator of Citrus 3">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <input type="text" id="citrus4" class="form-control" placeholder="Guess Strain & Cultivator of Citrus 4">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <input type="email" id="email" class="form-control" placeholder="Your registered voting email">
      </div>
    </div>
    <button type="submit" class="btn custom-gradient-button shadow-strong-5 ripple-surface-dark w-100 btn-lg mt-3 mb-0" data-ripple-color="primary" >Submit Strain Guesses</button>
  </form>
</div>

<div class="container py-5 text-start d-none" id="instruction_container">
  <h6 class="my-3 fs-4"><b>Your Strain and Cultivator guesses have been submitted!</b></h6>
</div>
{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('strainGuessForm');
    const container = document.getElementById('mystery_strain_guess_container');
    const successContainer = document.getElementById('instruction_container');
    
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        // Collecting the data from the form
        const citrus1 = document.getElementById('citrus1').value;
        const citrus2 = document.getElementById('citrus2').value;
        const citrus3 = document.getElementById('citrus3').value;
        const citrus4 = document.getElementById('citrus4').value;
        const email = document.getElementById('email').value;
        const lowerEmail = email.toLowerCase();
        // Structuring the data
        const strainGuessData = {
            strain_guesses: {
                'Citrus 1': citrus1,
                'Citrus 2': citrus2,
                'Citrus 3': citrus3,
                'Citrus 4': citrus4,
            },
            email: lowerEmail
        };

        // Sending the data to the API
        fetch('/mystery_voters/submit_strain_guesses/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(strainGuessData)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            container.classList.add('d-none');
            successContainer.classList.remove('d-none');
        })
        .catch((error) => {
            console.error('Error:', error);
            // You can add more code here to handle errors
        });
    });
});
</script>
{% endblock %}
