<div class="modal fade" id="PreRollRankingsModal" tabindex="-1" aria-labelledby="PreRollRankingsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PreRollRankingsModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include "components/forms/preroll_rating_form.html" %}
      </div>
    </div>
  </div>
</div>
