<div class="col-10 mx-auto" style="min-height: 50vh">
  <div class="container my-4">
    <input id="custom-search-input" type="search" class="form-control" placeholder="Search here..." aria-label="Search">
  </div>
  <div class="col-12">
    <div id="custom-search-results" class="ecommerce-gallery" data-mdb-ecommerce-gallery-init data-mdb-zoom-effect="true">
      <div class="row" data-mdb-lightbox-init>
          <p class="text-center pt-5 fs-2">Search for a Cult Review above or browse reviews below.</p>
      </div>
    </div>
  </div>
</div>

{% block scripts %}
<script async defer>
document.addEventListener('DOMContentLoaded', () => {
    const existingCategories = {};
    function updateCustomSearchResults(searchTerm) {
        const resultsContainer = document.getElementById('custom-search-results');
        const resultsRow = resultsContainer.querySelector('.row');
        resultsRow.innerHTML = ''; // Clear previous results

        if (searchTerm.trim().length < 3) {
            return; // Avoid searching for overly broad terms
        }

        fetch(`/search/all/${encodeURIComponent(searchTerm)}`)
            .then(response => response.json())
            .then(data => {
                if (data.length === 0) {
                    resultsRow.innerHTML = '<p class="text-center">No results found.</p>';
                    return;
                }

                const categorizedResults = {
                    Flower: new Map(),
                    Concentrate: new Map(),
                    Edible: new Map(),
                    Pre_Roll: new Map()
                };

                data.forEach(item => {
                    const key = `${item.type}-${item.cultivator}-${item.strain}`; // Unique key for product type and combination
                    if (item.type in categorizedResults) {
                        categorizedResults[item.type].set(key, item); // Store item under unique key
                    }
                });

                Object.keys(categorizedResults).forEach(type => {
                    if (categorizedResults[type].size > 0) {
                        const typeRow = document.createElement('div');
                        typeRow.className = 'row mb-4';
                        const typeHeading = document.createElement('h3');
                        typeHeading.textContent = type;
                        typeHeading.className = 'col-12 mx-auto text-start text-md-center';
                        typeRow.appendChild(typeHeading);

                        categorizedResults[type].forEach(item => {
                            const col = document.createElement('div');
                            col.className = 'col-12 col-sm-10 col-md-6 col-lg-4 my-1 mx-auto text-center';
                            const lightboxDiv = document.createElement('div');
                            lightboxDiv.className = 'lightbox';
                            lightboxDiv.setAttribute('data-mdb-lightbox-init', 'true');
                            const img = document.createElement('img');
                            img.className = 'img w-100';
                            img.src = item.url_path;
                            img.alt = `${item.strain} by ${item.cultivator}`;
                            img.setAttribute('data-mdb-img', item.url_path);
                            // Cultivator caption overlayed on top of the image
                            const caption = document.createElement('div');
                            caption.className = 'position-absolute text-secondary fs-5';
                            caption.style = 'padding: 0.5rem; top: 10%; left: 50%; transform: translateX(-50%); width: 75%;';
                            let captionText = `${item.cultivator}`;
                            if (window.innerWidth <= 768) {
                                if (captionText.length > 7) {
                                    captionText = captionText.slice(0, 7);
                                }
                            }
                            caption.innerHTML = captionText;
                            lightboxDiv.appendChild(caption);
                            lightboxDiv.appendChild(img);
                            const buttonCol = document.createElement('div');
                            buttonCol.className = 'col-4 col-md-10 mx-auto text-center';
                            const button = document.createElement('a');
                            button.className = 'btn btn-secondary w-100 mx-auto';
                            button.textContent = `${item.strain}`;
                            button.href = constructReviewUrl(item);
                            buttonCol.append(button);
                            
                            col.appendChild(lightboxDiv);
                            col.appendChild(buttonCol);
                            typeRow.appendChild(col);
                        });

                        resultsRow.appendChild(typeRow);
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching search results:', error);
                resultsRow.innerHTML = '<p class="text-center">No results found.</p>';
                return;
            });
    }

    function constructReviewUrl(item) {
        const baseUrl = {
            'Flower': 'get-review',
            'Concentrate': 'concentrate-get-review',
            'Edible': 'edible-get-review',
            'Pre_Roll': 'pre-roll-get-review'
        };
        return `/${baseUrl[item.type]}?strain_selected=${encodeURIComponent(item.strain)}&cultivator_selected=${encodeURIComponent(item.cultivator)}`;
    }

    const customSearchInput = document.getElementById('custom-search-input');
    customSearchInput.addEventListener('input', (event) => {
        updateCustomSearchResults(event.target.value);
    });
});
</script>
{% endblock %}

