<div class="col-10 mx-auto" style="min-height: 50vh">
  <div class="container my-4">
    <input id="custom-search-input" type="search" class="form-control" placeholder="Search here..." aria-label="Search">
  </div>
  <div class="col-12">
    <div id="custom-search-results" class="ecommerce-gallery" data-mdb-ecommerce-gallery-init data-mdb-zoom-effect="true">
      <div class="row" data-mdb-lightbox-init>
          <p class="text-center pt-5 fs-2">Search for a Cult Review above or browse reviews below.</p>
      </div>
    </div>
    <div id="loading-search-results-spinner" class="text-center my-4" style="display: none;">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>

{% block scripts %}
<script async defer>
document.addEventListener('DOMContentLoaded', () => {
    let lastFetch = null;
    function capitalizeWordsWithUnderscore(str) {
        return str
            .split('_')
            .map(word => word.charAt(0).toUpperCase() + word.slice(1))
            .join(' ');
    }
    function updateCustomSearchResults(searchTerm) {
        const trimmedSearchTerm = searchTerm.trim();
        const resultsContainer = document.getElementById('custom-search-results');
        const resultsRow = resultsContainer.querySelector('.row');
        const searchLoadingSpinner = document.getElementById('loading-search-results-spinner');

        if (trimmedSearchTerm.length < 3) {
            return;
        }
        searchLoadingSpinner.style.display = 'block';
        const currentFetch = fetch(`/search/all/${encodeURIComponent(trimmedSearchTerm)}?with_images_flag=true`)
            .then(response => response.json())
            .then(data => {
                if (lastFetch !== currentFetch) {
                    return;
                }
                searchLoadingSpinner.style.display = 'none';
                if (data.length === 0) {
                    resultsRow.innerHTML = '<p class="text-center">No results found.</p>';
                    return;
                }
                const categorizedResults = {}
                data.forEach(item => {
                    const category = item.type.trim().toLowerCase();
                    if (!categorizedResults[category]) {
                        categorizedResults[category] = [];
                    }
                    categorizedResults[category].push(item);
                });
                resultsRow.innerHTML = '';
                // Render categories and items
                Object.keys(categorizedResults).forEach(type => {
                    if (categorizedResults[type].length > 0) { // Corrected from .size to .length
                        const typeRow = document.createElement('div');
                        typeRow.className = 'row mb-4';
                        const typeHeading = document.createElement('h3');
                        typeHeading.textContent = capitalizeWordsWithUnderscore(type);
                        typeHeading.className = 'col-12 mx-auto text-start text-md-center';
                        typeRow.appendChild(typeHeading);

                        categorizedResults[type].forEach(item => {
                            const col = document.createElement('div');
                            col.className = 'col-6 col-sm-6 col-md-6 col-lg-4 my-1 mx-auto text-center';

                            const lightboxDiv = document.createElement('div');
                            lightboxDiv.className = 'lightbox';
                            lightboxDiv.setAttribute('data-mdb-lightbox-init', 'true');

                            const img = document.createElement('img');
                            img.className = 'img w-100';
                            img.src = item.url_path;
                            img.alt = `${item.strain} by ${item.cultivator}`;
                            lightboxDiv.appendChild(img);

                            const caption = document.createElement('div');
                            caption.className = 'position-absolute text-secondary fs-5';
                            caption.style = 'padding: 0.5rem; top: 10%; left: 50%; transform: translateX(-50%); width: 75%;';
                            caption.textContent = item.cultivator.length > 7 ? item.cultivator.slice(0, 7) : item.cultivator;
                            lightboxDiv.appendChild(caption);

                            col.appendChild(lightboxDiv);

                            const buttonCol = document.createElement('div');
                            buttonCol.className = 'col-10 col-sm-8 col-md-10 mx-auto text-center';
                            const button = document.createElement('a');
                            button.className = 'btn btn-secondary w-100 mx-auto flex-shrink';
                            button.textContent = item.strain;
                            button.href = constructReviewUrl(item);
                            buttonCol.appendChild(button);

                            col.appendChild(buttonCol);
                            typeRow.appendChild(col);
                        });

                        resultsRow.appendChild(typeRow);
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching search results:', error);
                resultsRow.innerHTML = '<p class="text-center">No results found.</p>';
            });

        lastFetch = currentFetch; // Update lastFetch to the current fetch
    }

    function constructReviewUrl(item) {
        const baseUrl = {
            'Flower': 'get-review',
            'Concentrate': 'concentrate-get-review',
            'Edible': 'edible-get-review',
            'Pre_Roll': 'pre-roll-get-review'
        };
        return `/${baseUrl[item.type]}?strain_selected=${encodeURIComponent(item.strain)}&cultivator_selected=${encodeURIComponent(item.cultivator)}`;
    }

    const customSearchInput = document.getElementById('custom-search-input');
    customSearchInput.addEventListener('input', (event) => {
        updateCustomSearchResults(event.target.value);
    });
});
</script>
{% endblock %}


