<section class="row mx-auto">
  <div class="col-12 col-lg-9 col-xl-7 mx-auto">
    <button id="toggleFormButton" class="btn btn-secondary btn-lg w-100">Show 'Add a Strain' Form</button>
  </div>
  <div class="container justify-content-center" id="strainSubmissionContainerRow" style="display: none;">
    <div class="col-12 col-lg-9 col-xl-7 mx-auto pt-3">
      <div class="card">
        <div class="card-body p-2 p-md-5">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2">Add a Strain</h3>
            <form action="#" id="strainSubmissionForm">
              <div class="row">
                <div class="col-12 mb-4">
                  <h6 class="mb-2 pb-1">Product Type: </h6>
                  <div data-mdb-input-init class="form-check form-check-inline">
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="flowerSubmission"
                      value="flowerSubmission"
                    />
                    <label class="form-check-label" for="Flower">Flower</label>
                  </div>
                  <div data-mdb-input-init class="form-check form-check-inline">
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="concentrateSubmission"
                      value="concentrateSubmission"
                    />
                    <label class="form-check-label" for="Concentrate">Concentrate</label>
                  </div>
                  <div data-mdb-input-init class="form-check form-check-inline">
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="pre_rollSubmission"
                      value="pre_rollSubmission"
                    />
                    <label class="form-check-label" for="Pre-Roll">Pre-Roll</label>
                  </div>
                  <div data-mdb-input-init class="form-check form-check-inline">
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="edibleSubmission"
                      value="edibleSubmission"
                    />
                    <label class="form-check-label" for="edibleSubmission">Edible</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="strainSubmission" class="form-control" />
                    <label class="form-label" for="strainSubmission">Strain Name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="cultivatorSubmission" class="form-control" />
                    <label class="form-label" for="cultivatorSubmission">Cultivator</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4 align-items-center justify-content-center">
                <div class="col-5 col-xl-4 col-xxl-3">
                  <label class="form-label" for="strainCategorySubmission">Strain Category</label>
                </div>
                <div class="col-7 col-xl-8 col-xxl-9">
                  <select id="strainCategorySubmission" class="form-outline w-100 form-control" data-mdb-select-init>
                    <option value="indica" class="form-control">Indica</option>
                    <option value="indica_dominant_hybrid" class="form-control">Indica Dominant Hybrid</option>
                    <option value="hybrid" selected>Hybrid</option>
                    <option value="sativa_dominant_hybrid" class="form-control">Sativa Dominant Hybrid</option>
                    <option value="sativa" class="form-control">Sativa</option>
                    <option value="cult_pack" class="form-control">Cult Pack</option>
                  </select>
                </div>
              </div>
              <div class="col-12 mb-3 pb-2">
                <select class="form-outline w-100" data-mdb-select-init data-mdb-placeholder="Select One or Multiple Terpenes" multiple id="terpenesSubmission">
                  <option value="alpha_bergamotene">Alpha Bergamotene</option>
                  <option value="alpha_beta_cis_ocimene">Alpha Beta Cis Ocimene</option>
                  <option value="alpha_beta_pinene">Alpha Beta Pinene</option>
                  <option value="alpha_beta_thujene">Alpha Beta Thujene</option>
                  <option value="alpha_bisabolene">Alpha Bisabolene</option>
                  <option value="alpha_bisabolol">Alpha Bisabolol</option>
                  <option value="alpha_cedrene">Alpha Cedrene</option>
                  <option value="alpha_fenchene">Alpha Fenchene</option>
                  <option value="alpha_humulene">Alpha Humulene</option>
                  <option value="alpha_humulene_epoxide_i">Alpha Humulene Epoxide I</option>
                  <option value="alpha_phellandrene">Alpha Phellandrene</option>
                  <option value="alpha_pinene">Alpha Pinene</option>
                  <option value="alpha_terpinene">Alpha Terpinene</option>
                  <option value="alpha_terpineol">Alpha Terpineol</option>
                  <option value="alpha_terpinolene">Alpha Terpinolene</option>
                  <option value="alpha_thujene">Alpha Thujene</option>
                  <option value="alpha_zingiberene">Alpha Zingiberene</option>
                  <option value="beta_asarone">Beta Asarone</option>
                  <option value="beta_bisabolene">Beta Bisabolene</option>
                  <option value="beta_caryophyllene_oxide">Beta Caryophyllene Oxide</option>
                  <option value="beta_farnesene">Beta Farnesene</option>
                  <option value="beta_myrcene">Beta Myrcene</option>
                  <option value="beta_ocimene">Beta Ocimene</option>
                  <option value="beta_pinene">Beta Pinene</option>
                  <option value="beta_selinene">Beta Selinene</option>
                  <option value="beta_terpinene">Beta Terpinene</option>
                  <option value="camphene">Camphene</option>
                  <option value="caryophyllene">Caryophyllene</option>
                  <option value="caryophyllene_oxide">Caryophyllene Oxide</option>
                  <option value="cis_nerolidol">Cis Nerolidol</option>
                  <option value="cis_beta_ocimene">Cis Beta Ocimene</option>
                  <option value="delta_3_carene">Delta 3 Carene</option>
                  <option value="delta_limonene">Delta Limonene</option>
                  <option value="eucalyptol">Eucalyptol</option>
                  <option value="gamma_terpinene">Gamma Terpinene</option>
                  <option value="geraniol">Geraniol</option>
                  <option value="guaiol">Guaiol</option>
                  <option value="humulene">Humulene</option>
                  <option value="isoborneol">Isoborneol</option>
                  <option value="isopulegol">Isopulegol</option>
                  <option value="limonene">Limonene</option>
                  <option value="linalool">Linalool</option>
                  <option value="myrcene">Myrcene</option>
                  <option value="nerolidol">Nerolidol</option>
                  <option value="nerolidol_2">Nerolidol 2</option>
                  <option value="ocimene">Ocimene</option>
                  <option value="p_cymene">P Cymene</option>
                  <option value="para_cymene">Para Cymene</option>
                  <option value="phellandrene">Phellandrene</option>
                  <option value="terpineol">Terpineol</option>
                  <option value="terpinolene">Terpinolene</option>
                  <option value="trans_nerolidol">Trans Nerolidol</option>
                  <option value="trans_ocimene">Trans Ocimene</option>
                  <option value="y_terpinene">Y Terpinene</option>
                  <option value="beta_caryophyllene">Beta Caryophyllene</option>
                </select>
              </div>
              <div class="row">
                <div class="col-12">
                  <div data-mdb-input-init class="form-outline mb-4">
                    <textarea class="form-control" id="strainDescription" rows="4"></textarea>
                    <label class="form-label" for="strainDescription">Description <span id="descriptionCounter">0</span> / 1500</label>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="form-outline" data-mdb-input-init>
                    <textarea class="form-control" id="effectsSubmission" rows="4"></textarea>
                    <label class="form-label" for="effectsSubmission">Effects <span id="effectsCounter">0</span> / 1500</label>
                  </div>
                </div>
                <div class="input-group text-center mx-auto align-items-center py-3 rounded-5" data-mdb-input-init>
                  <input type="text" id="lineageInput" class="form-control form-outline-light" placeholder="Enter Lineage" aria-label="Enter Strain Lineage" />
                  <button type="button" id="addLineage" class="form-control form-outline btn-light btn-outline-light btn-lg" data-mdb-ripple-init data-mdb-ripple-color="secondary">
                    Save
                  </button>
                </div>
              </div>
              <div class="col-12 align-items-center text-center mx-auto py-5 form-control form-outline align-conent-center">
                <div id="lineageChipsContainer" class="chips-container row my-2 mx-auto align-items-center">
                  <p class="text-dark">Add parent strains above to create lineage tree.</p>  
                </div>
              </div>
              <div class="row pt-4">
                <div class="col-12 mb-3 mx-auto me-3 pt-2">
                  <div data-mdb-input-init class="form-outline">
                    <input type="email" id="emailAddress" class="form-control" />
                    <label class="form-label" for="emailAddress">Your Email Address</label>
                  </div>
                </div>
              </div>
              <div class="col-12 mx-auto">
                <div class="mt-4 pe-0">
                  <button data-mdb-ripple-init class="btn btn-info btn-lg w-100 text-dark" type="submit" data-mdb-ripple-color="info"/>Submit Strain</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="missingInfoModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Missing Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- The missing fields information will be inserted here -->
      </div>
      <div class="modal-footer">
        <div class="col-12 mx-auto">
          <button type="button" class="btn btn-lg btn-dark w-100" data-bs-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% block scripts %}
<script type="module" src="{{ url_for('static', path='js/forms/strainSubmissionForm.js') }}" async></script>
{% endblock %}
