<div class="modal fade pt-5 mt-5" id="missingInfoModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Missing Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- The missing fields information will be inserted here -->
      </div>
      <div class="modal-footer">
        <div class="col-12 mx-auto">
          <button type="button" class="btn btn-lg btn-dark w-100" data-bs-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9 col-xl-7">
      <div class="card">
        <div class="card-body p-4 p-md-5">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2">Submission Form</h3>
            <form action="#" id="strainSubmissionForm">
              <div class="row">
                <div class="col-12 mb-4">
                  <h6 class="mb-2 pb-1">Product Type: </h6>
                  <div data-mdb-input-init class="form-check form-check-inline">
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="flowerSubmission"
                      value="flowerSubmission"
                    />
                    <label class="form-check-label" for="Flower">Flower</label>
                  </div>
                  <div data-mdb-input-init class="form-check form-check-inline">
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="concentrateSubmission"
                      value="concentrateSubmission"
                    />
                    <label class="form-check-label" for="Concentrate">Concentrate</label>
                  </div>
                  <div data-mdb-input-init class="form-check form-check-inline">
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="pre_rollSubmission"
                      value="pre_rollSubmission"
                    />
                    <label class="form-check-label" for="Pre-Roll">Pre-Roll</label>
                  </div>
                  <!--
                  <div data-mdb-input-init class="form-check form-check-inline">
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="edibleSubmission"
                      value="edibleSubmission"
                    />
                    <label class="form-check-label" for="otherGender">Edible</label>
                  </div>
                  -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="strainSubmission" class="form-control" />
                    <label class="form-label" for="strainSubmission">Strain Name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="cultivatorSubmission" class="form-control" />
                    <label class="form-label" for="cultivatorSubmission">Cultivator</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div data-mdb-input-init class="form-outline mb-4">
                    <textarea class="form-control" id="strainDescription" rows="4"></textarea>
                    <label class="form-label" for="strainDescription">Description</label>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="form-outline" data-mdb-input-init>
                    <textarea class="form-control" id="effectsSubmission" rows="4"></textarea>
                    <label class="form-label" for="effectsSubmission">Effects</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mb-3 mx-auto pe-3">
                  <div data-mdb-input-init class="form-outline">
                    <input type="email" id="emailAddress" class="form-control" />
                    <label class="form-label" for="emailAddress">Your Email Address</label>
                  </div>
                </div>
              </div>
              <div class="col-9 mx-auto">
                <div class="mt-4 pe-0">
                  <button data-mdb-ripple-init class="btn btn-info btn-lg w-100 text-dark" type="submit"/>Submit Strain</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% block scripts %}
<script>

function getNewlyCreatedStrain(strain, cultivator, cultivar_email) {
    const productTypeElements = document.getElementsByName("inlineRadioOptions");
    for (const ptElement of productTypeElements) {
        if (ptElement.checked) {
            let reviewUrl;
            switch(ptElement.value) {
                case "flowerSubmission":
                    reviewUrl = `/get-review?strain_selected=${strain}&cultivator_selected=${cultivator}&cultivar_email=${cultivar_email}`;
                    break;
                case "concentrateSubmission":
                    reviewUrl = `/concentrate-get-review?strain_selected=${strain}&cultivator_selected=${cultivator}&cultivar_email=${cultivar_email}`;
                    break;
                case "pre_rollSubmission":
                    reviewUrl = `/pre-roll-get-review?strain=${strain}&cultivator=${cultivator}&cultivar_email=${cultivar_email}`;
                    break;
                default:
                    console.error("Unknown product type:", ptElement.value);
                    return;
            }
            window.location.href = reviewUrl;
            break;
        }
    }
}
async function submitStrainForm(event) {
    event.preventDefault();
    const form = document.getElementById("strainSubmissionForm");
    const modalBody = document.querySelector('#missingInfoModal .modal-body');
    const submitButton = form.querySelector('button[type="submit"]');

    const strainValue = document.getElementById("strainSubmission").value;
    const cultivatorValue = document.getElementById("cultivatorSubmission").value;
    const emailAddressValue = document.getElementById("emailAddress").value.toLowerCase();
    const descriptionValue = document.getElementById("strainDescription").value;
    const effectsValue = document.getElementById("effectsSubmission").value;

    // Determine the selected product type
    const productTypeElements = document.getElementsByName("inlineRadioOptions");
    let productTypeValue = '';
    for (const ptElement of productTypeElements) {
        if (ptElement.checked) {
            productTypeValue = ptElement.value;
            break;
        }
    }
    let missingFields = [];

    // Check each field in the form
    if (!productTypeValue) missingFields.push('Product Type');
    if (!strainValue) missingFields.push('Strain Name');
    if (!cultivatorValue) missingFields.push('Cultivator');
    if (!descriptionValue) missingFields.push('Description');
    if (!effectsValue) missingFields.push('Effects');
    if (!emailAddressValue) missingFields.push('Email Address');

    if (missingFields.length > 0) {
        // Update modal body with missing fields
        modalBody.innerHTML = `<p>Please complete the following fields:</p><ul>${missingFields.map(field => `<li>${field}</li>`).join('')}</ul>`;
        
        // Trigger the modal
        const missingInfoModal = new bootstrap.Modal(document.getElementById('missingInfoModal'));
        missingInfoModal.show();
    } else {
      const cleanCultivatorString = window.supabaseClient.sanitizeInputString(cultivatorValue);
      const cleanStrainString = window.supabaseClient.sanitizeInputString(strainValue);
      // Prepare the FormData object
      const formData = new FormData();
      
      formData.append('strain', cleanStrainString);
      formData.append('cultivator', cleanCultivatorString);
      formData.append('cultivar_email', emailAddressValue);
      formData.append('description', descriptionValue || 'Coming Soon');
      formData.append('effects', effectsValue || 'Coming Soon');
      formData.append('product_type', productTypeValue);
      
      // Submit the form data
      const root = window.location.origin;
      const url = new URL('/submit/submit_strain/', root);
  
      const response = await fetch(url, {
          method: 'POST',
          body: formData,
          headers: {
              'Accept': 'application/json',
          }
      });
  
      if (response.ok) {
          const responseData = await response.json();
          getNewlyCreatedStrain(responseData.submission_strain, responseData.submission_cultivator, responseData.cultivar_email);
          return;
      } else {
          console.error("Form submission failed:", response.status, response.statusText);
          alert('The submission failed, check your inputs and try again.');
          return;
      }
    }
}
document.addEventListener('DOMContentLoaded', (event) => {
    const form = document.getElementById("strainSubmissionForm");
    const modalBody = document.querySelector('#missingInfoModal .modal-body');
    form.addEventListener('submit', async function(event) {
      submitStrainForm(event);
    });
});
</script>
{% endblock %}
