<section class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9 col-xl-7">
      <div class="card">
        <div class="card-body p-4 p-md-5">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2">Submission Form</h3>
            <form action="#" id="strainSubmissionForm">
              <div class="row">
                <div class="col-12 mb-4">
                  <h6 class="mb-2 pb-1">Product Type: </h6>
                  <div data-mdb-input-init class="form-check form-check-inline">
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="flowerSubmission"
                      value="flowerSubmission"
                    />
                    <label class="form-check-label" for="femaleGender">Flower</label>
                  </div>
                  <div data-mdb-input-init class="form-check form-check-inline">
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="concentrateSubmission"
                      value="concentrateSubmission"
                    />
                    <label class="form-check-label" for="maleGender">Concentrate</label>
                  </div>
                  <div data-mdb-input-init class="form-check form-check-inline">
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="pre_rollSubmission"
                      value="pre_rollSubmission"
                    />
                    <label class="form-check-label" for="otherGender">Pre-Roll</label>
                  </div>
                  <!--
                  <div data-mdb-input-init class="form-check form-check-inline">
                    <input 
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="edibleSubmission"
                      value="edibleSubmission"
                    />
                    <label class="form-check-label" for="otherGender">Edible</label>
                  </div>
                  -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="strainSubmission" class="form-control" />
                    <label class="form-label" for="strainSubmission">Strain Name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="cultivatorSubmission" class="form-control" />
                    <label class="form-label" for="cultivatorSubmission">Cultivator</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div data-mdb-input-init class="form-outline mb-4">
                    <textarea class="form-control" id="strainDescription" rows="4"></textarea>
                    <label class="form-label" for="strainDescription">Description</label>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="form-outline" data-mdb-input-init>
                    <textarea class="form-control" id="effectsSubmission" rows="4"></textarea>
                    <label class="form-label" for="effectsSubmission">Effects</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mb-3 mx-auto pe-3">
                  <div data-mdb-input-init class="form-outline">
                    <input type="email" id="emailAddress" class="form-control" />
                    <label class="form-label" for="emailAddress">Your Email Address</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 mx-auto">
                  <div class="mt-4">
                    <input data-mdb-ripple-init class="btn btn-warning btn-lg w-100" type="submit" value="Submit Strain"/>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="dynamicModalContainer"></div>
</section>

{% include "components/forms/add_new_voter_modal.html" %}

{% block scripts %}
<script>
document.getElementById("strainSubmissionForm").addEventListener("submit", async function(event) {
    event.preventDefault();
    const emailAddressInput = document.getElementById("emailAddress");
    const cultivar_email = emailAddressInput.value;

    const voterExists = await checkVoterExists(cultivar_email);

    if (!voterExists) {
        $('#FlowerVoterInfoCaptureModal').modal('show');
        $('.modal-backdrop').remove();
    } else {
        await submitStrainForm();
    }
});

async function checkVoterExists(email) {
    const lowerCaseEmail = email.toLowerCase();
    const root = window.location.origin;
    const url = new URL('/check-mystery-voter', root);
    url.searchParams.append('voter_email', lowerCaseEmail);

    const response = await fetch(url, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    });

    if (response.ok) {
        const data = await response.json();
        return data.exists;
    } else {
        console.error("Request failed:", response.status, response.statusText);
        return false;
    }
}

function getNewlyCreatedStrain(strain, cultivator, cultivar_email) {
    const productTypeElements = document.getElementsByName("inlineRadioOptions");
    for (const ptElement of productTypeElements) {
        if (ptElement.checked) {
            let reviewUrl;
            switch(ptElement.value) {
                case "flowerSubmission":
                    reviewUrl = `/get-review?strain_selected=${strain}&cultivator_selected=${cultivator}&cultivar_email=${cultivar_email}`;
                    break;
                case "concentrateSubmission":
                    reviewUrl = `/modal/concentrate-get-review?strain_selected=${strain}&cultivator_selected=${cultivator}&cultivar_email=${cultivar_email}`;
                    break;
                case "pre_rollSubmission":
                    reviewUrl = `/pre-roll-get-review?strain=${strain}&cultivator=${cultivator}&cultivar_email=${cultivar_email}`;
                    break;
                default:
                    console.error("Unknown product type:", ptElement.value);
                    return;
            }
            window.location.href = reviewUrl;
            break;
        }
    }
}
async function submitStrainForm() {
    // Capture form field values
    const form = document.getElementById("strainSubmissionForm");
    const submitButton = form.querySelector('input[type="submit"]');
    submitButton.disabled = true; 

    const strainValue = document.getElementById("strainSubmission").value;
    const cultivatorValue = document.getElementById("cultivatorSubmission").value;
    const emailAddressValue = document.getElementById("emailAddress").value.toLowerCase();
    const descriptionValue = document.getElementById("strainDescription").value;
    const effectsValue = document.getElementById("effectsSubmission").value;

    // Determine the selected product type
    const productTypeElements = document.getElementsByName("inlineRadioOptions");
    let productTypeValue = '';
    for (const ptElement of productTypeElements) {
        if (ptElement.checked) {
            productTypeValue = ptElement.value;
            break;
        }
    }

    // Prepare the FormData object
    const formData = new FormData();
    formData.append('strain', strainValue);
    formData.append('cultivator', cultivatorValue);
    formData.append('cultivar_email', emailAddressValue);
    formData.append('description', descriptionValue);
    formData.append('effects', effectsValue);
    formData.append('product_type', productTypeValue);

    // Submit the form data
    const root = window.location.origin;
    const url = new URL('/submit/submit_strain/', root);

    const response = await fetch(url, {
        method: 'POST',
        body: formData,
        headers: {
            'Accept': 'application/json',
        }
    });

    if (response.ok) {
        const responseData = await response.json();
        form.reset();
        getNewlyCreatedStrain(responseData.submission_strain, responseData.submission_cultivator, responseData.cultivar_email);
        return;
    } else {
        console.error("Form submission failed:", response.status, response.statusText);
        alert('The submission failed, check your inputs and try again.');
        submitButton.disabled = false;
        return;
    }
}
</script>
{% endblock %}
