{% extends "shared/base.html" %}

{% block title %}
  <title>Cannabis Cult - Forgot Password</title>
{% endblock %}

{% block head %}
<meta
  property="og:image"
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/cannabiscult/webiste_assests/logos/brain_vector-optimized.webp"
  alt="Cannabis Cult Main Logo with Brain"
/>
<meta
  content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  name="description"
/>
<meta
  property="og:description"
  content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
/>
<meta
  property="og:title"
  content="The Cannabis Cult - Forgot Password"
/>
<meta
  name="twitter:card"
  content="summary_large_image"
/>
<meta
  property="twitter:url"
  content="https://cannabiscult.co"
/>
<meta
  property="twitter:title"
  content="The Cannabis Cult - Forgot Password"
/>
<meta
  property="twitter:description"
  content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
/>
<meta
  name="twitter:site"
  content="https://cannabiscult.co/"
/>
<meta
  property="twitter:image"
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/cannabiscult/webiste_assests/logos/brain_vector-optimized.webp"
  alt="Cannabis Cult Main Logo with Brain"
/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main>
  <div class="text-center">
    <div class="container-fluid text-center pt-5 pb-3" style="max-width:500px;">
      <img class="img-fluid" src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/cannabiscult/webiste_assests/logos/brain_vector-optimized.webp" alt="Primary Cannabis Cult text logo with brain">
    </div>
  </div>
  <div class="text-center">
    <div class="container-fluid text-center" style="padding:2em">
      <section class="container">
        <div class="card">
          <div class="card-header">
            <div class="container pb-3">
              <div class="row text-start justify-content-center">
                <div class="col-sm-12 col-md-9 col-lg-7 col-xl-6">
                  <div class="card-body">
                    <div class="container pb-3">
                      <div class="row text-start justify-content-center">
                        <div class="col-md-12 col-lg-9">
                          <form method="POST" action="/users/update_password" id="new-pasword-form" name="new-pasword-form">
                            <div class="text-center mb-3">
                              <h4><u>Update Password</u></h4>
                            </div>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                              <input name="user_email" type="email" id="user_email" class="form-control" />
                              <label class="form-label" for="user_email">Email</label>
                            </div>
                            <!-- Password input -->
                            <div class="form-outline mb-4">
                              <input type="password" id="new_password" name="new_password" class="form-control" />
                              <label class="form-label" for="new_password">New Password</label>
                            </div>
                            <div class="form-outline mb-4">
                              <input type="password" id="repeated_password" name="repeated_password" class="form-control" />
                              <label class="form-label" for="repeated_password">Repeat Password</label>
                            </div>
                            <!-- 2 column grid layout -->
                            <div class="row align-content-center justify-content-center text-center d-flex mb-4">
                              <!-- Simple link -->
                              <div class="col-12">
                                <button id="reset-password-button" name="new-password-submit" type="button" class="btn btn-dark btn-block mb-4">Reset Password</button>
                              </div>
                              <div class="col-sm-12 col-md-6 p-1 ps-3 pe-3">
                                <a class="btn btn-secondary w-100 mb-3" href="/login">Login</a>
                              </div>
                              <div class="col-sm-12 col-md-6 p-1 pe-3 ps-3">
                                <a class="btn btn-primary w-100 mb-3" href="/login">Register</a>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center align-content-center text-center mt-1">
                      <div class="col-10">
                        <h6>If you are having any issues resetting your password please <a href="mailto:support@cannabiscult.co">send us an email</a> and a Cult Leader will follow up to reset your account.</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <script>
    async function ensureSupabaseClient() {
        return new Promise((resolve, reject) => {
            if (window.supabaseClient) {
                resolve(window.supabaseClient); // Supabase Client is already available
            } else {
                try {
                    const supabaseClient = new window.SupabaseClient();
                    supabaseClient.initialize().then(() => {
                        window.supabaseClient = supabaseClient;
                        window.dispatchEvent(new CustomEvent('supabaseClientReady'));
                        resolve(window.supabaseClient); // Resolve with the newly initialized client
                    }).catch(e => reject(new Error("Initialization failed: " + e.message)));
                } catch (e) {
                    reject(new Error("SupabaseClient class is not available or failed to initialize."));
                }
            }
        });
    }
    async function getQueryParams() {
        const params = new URLSearchParams(window.location.search);
        const token = params.get('token');
        const type = params.get('type');
        if (!token || type !== 'recovery') {
            console.warn('Invalid parameters for password reset.');
            return {};
        }
        return { token, type };
    }
    async function submitUpdatedPasswordToDb(email, newPassword, repeatedPassword) {
        if (!email || !newPassword || !repeatedPassword) {
            console.error("Missing required fields");
            alert("All fields are required.");
            return;
        }
        try {
            const response = await fetch("/users/update_password", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({
                    user_email: email,
                    new_password: newPassword,
                    repeated_password: repeatedPassword
                }),
            });
            if (!response.ok) {
                throw new Error("Failed to update password: " + response.status);
            }
            return true;
        } catch (error) {
            console.error("Error submitting password update:", error);
            alert("An error occurred while updating your password. Please try again.");
            return;
        }
    }
    document.addEventListener("DOMContentLoaded", async function() {
      await ensureSupabaseClient();
      document.getElementById("reset-password-button").addEventListener("click", updatePassword);
      async function updatePassword() {
          const email = document.getElementById("user_email").value;
          const newPassword = document.getElementById("new_password").value;
          const repeatedPassword = document.getElementById("repeated_password").value;

          if (newPassword !== repeatedPassword) {
            alert("Passwords do not match");
            return
          }
          const { token: resetToken, type: resetTokenType } = await getQueryParams();
          try {
            if (resetTokenType === 'recovery') {
              const { data, otpLoginError } = await window.supabaseClient.supabase.auth.verifyOtp({token_hash: resetToken, type: resetTokenType});
              if (otpLoginError) throw otpLoginError;
              const { passwordUpdateError } = await window.supabaseClient.supabase.auth.updateUser({ password: newPassword });
              if (passwordUpdateError) throw passwordUpdateError;
            } else {
              await window.supabaseClient.supabase.auth.updateUser({ password: newPassword });
            }
            const dbUser = await submitUpdatedPasswordToDb(email, newPassword, repeatedPassword);
            if (!dbUser) { return; };
            alert('Password updated successfully');
            window.location.href = "https://cannabiscult.co/search";
            return;
        }
        catch (error) {
            console.error('Error updating password:', error.message);
            alert('Error updating password');
            return;
        }
      }
    });
  </script>
</main>
{% endblock %}

{% block footer %}
{% endblock %}


{% block scripts %}
{% endblock %}
