{% extends "shared/base.html" %}

{% block title %} 
  <title>Cannabis Cult Register Success</title>
{% endblock %} 

{% block head %}
  <meta 
    property="og:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/partner_images/logos/black_brain_vectorized.webp"
    alt="Cannabis Cult Main Logo with Brain"
  />
  <meta 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices." 
    name="description"
  />
  <meta 
    property="og:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    property="og:title" 
    content="The Cannabis Cult"
  />
  <meta 
    name="twitter:card" 
    content="summary_large_image"
  />
  <meta 
    property="twitter:url" 
    content="https://cannabiscult.co"
  />
  <meta 
    property="twitter:title" 
    content="The Cannabis Cult"
  />
  <meta 
    property="twitter:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    name="twitter:site" 
    content="https://cannabiscult.co/"
  />
  <meta 
    property="twitter:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/partner_images/logos/black_brain_vectorized.webp"
    alt="Cannabis Cult Main Logo with Brain"
  />
{% endblock %}
{% block content %}
<main class="container-fluid pt-3 pb-5">
  <section class="align-content-center pt-5 pb-5">
    <div class="text-center pt-5 pb-5">
      <h1 class="text-success flex-shrink-1">Your are Registered!<br><span class="h3 text-dark">Check your email to confirm your account.</span></h1>
      <div class="col-12 col-sm-11 col-md-9 col-lg-8 col-xl-7 col-xxl-6 mx-auto">
        <h4 class="pt-3">Add <a href="mailto:members@cannabiscult.co" class="text-info">members@cannabiscult.co</a> to your address book so you do not miss an update! The email should be there already, check your spam if you do not see it in your main inbox.</h4>
      </div>
    </div>
  </section>
  <section class="container align-content-center">
    <div class="container mb-5">
      <div class="pb-5">
        <div class="container-fluid text-center">
          <div class="row align-items-center">
            <div class="col-12 col-md-10 col-xl-6 mx-auto">
              <img class="img-fluid" src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/partner_images/logos/black_brain_vectorized.webp">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>     
</main>       
{% endblock %}  

{% block footer %}
{% endblock %}
  
{% block scripts %}  
{% endblock %}
