{% extends "shared/base.html" %}

{% block title %} 
  <title>Connoisseur Concentrates Pack One Success</title>
{% endblock %} 

{% block head %}
  <meta 
    property="og:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/brain_vector.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL2JyYWluX3ZlY3Rvci5zdmciLCJpYXQiOjE2OTUwOTM0MzIsImV4cCI6MTcyNjYyOTQzMn0.aORzL_pXYA8OQGUdHaMGjO9qDPKZ7mSfeTnGK0ScNuU&t=2023-09-19T03%3A17%3A12.711Z"
    alt="Cannabis Cult Main Logo with Brain"
  />
  <meta 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices." 
    name="description"
  />
  <meta 
    property="og:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    property="og:title" 
    content="The Cannabis Cult"
  />
  <meta 
    name="twitter:card" 
    content="summary_large_image"
  />
  <meta 
    property="twitter:url" 
    content="https://cannabiscult.co"
  />
  <meta 
    property="twitter:title" 
    content="The Cannabis Cult Connoisseur Concentrates Ranking Success"
  />
  <meta 
    property="twitter:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    name="twitter:site" 
    content="https://cannabiscult.co/"
  />
  <meta 
    property="twitter:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/brain_vector.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL2JyYWluX3ZlY3Rvci5zdmciLCJpYXQiOjE2OTUwOTM0MzIsImV4cCI6MTcyNjYyOTQzMn0.aORzL_pXYA8OQGUdHaMGjO9qDPKZ7mSfeTnGK0ScNuU&t=2023-09-19T03%3A17%3A12.711Z"
    alt="Cannabis Cult Main Logo with Brain"
  />
{% endblock %}
{% block content %}
<style> 
  .cascading-right { margin-right: -50px; } 
  
  @media ( max-width: 991.98px ){ 
    .cascading-right { margin-right: 0; } 
  }
</style>
<div id="preview" class="preview">
  <div style="display: none;"></div>
  <div>
    <div style="position: relative;" data-draggable="true" draggable="false" class="">
      <section draggable="false" class="container pt-0" data-v-271253ee="">
        <section class="mb-10 text-center text-lg-start"> 
          <div class="container py-4">
            <div class="row g-0 align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                  <div class="card-body px-4 pb-5 pt-md-0 px-md-5 shadow-5">
                    <h1 class="my-5 display-4 fw-bold ls-tight">
                      <span>Thank you for your rating connoisseur.</span>
                    </h1>
                      <a 
                        class="btn btn-outline-secondary py-3 px-5 mb-2 mb-md-0 me-md-1 mb-lg-2 ripple-surface-info" 
                        href="/get_hidden_concentrate?strain=CP1" 
                        role="button" 
                        aria-controls="#picker-editor" 
                        draggable="false" 
                      >
                        Rate cp1
                      </a> 
                      <a 
                        class="btn btn-outline-dark py-3 px-5 mb-2 mb-md-0 me-md-2 mb-lg-2 ripple-surface-primary" 
                        data-ripple-color="primary" 
                        href="/get_hidden_concentrate?strain=CP2" 
                        role="button" 
                        aria-controls="#picker-editor" 
                        draggable="false"
                      >
                        RATE CP2
                      </a>
                      <a 
                        class="btn btn-outline-success py-3 px-5 mb-2 mb-md-0 me-md-2 mb-xl-2 ripple-surface-secondary" 
                        data-ripple-color="primary" 
                        href="/get_hidden_concentrate?strain=CP3" 
                        role="button" 
                        aria-controls="#picker-editor" 
                        draggable="false"
                      >
                        RATE CP3
                      </a>
                    </div> </div> </div> <div class="col-lg-6 mb-5 mb-lg-0"> <img src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/Connoisseur%20Transitions/transition%20rosin%20vote?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL0Nvbm5vaXNzZXVyIFRyYW5zaXRpb25zL3RyYW5zaXRpb24gcm9zaW4gdm90ZSIsImlhdCI6MTcwMTEzMjg1NCwiZXhwIjoxNzAzNzI0ODU0fQ.o3AQK1oiR8mt7gpRPg2QXNkO1KGv5Yw6vTQ1ZUhquk4&amp;t=2023-11-28T00%3A54%3A14.647Z" class="w-100 rounded-4 shadow-4" alt="" aria-controls="#picker-editor" draggable="false"> </div> </div> </div> <!-- Jumbotron --> </section></section><!----></div></div></div>
{% endblock %}  

{% block footer %}
{% endblock %}
  
{% block scripts %} 
{% endblock %}
