{% extends "shared/base_light.html" %}

{% block title %} 
  <title>Cannabis Cult Connoisseur Ranking Success</title>
{% endblock %} 

{% block head %}
  <meta http-equiv="refresh" content="120; url=/voting-home">
  <meta 
    property="og:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/brain_vector.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL2JyYWluX3ZlY3Rvci5zdmciLCJpYXQiOjE2OTUwOTM0MzIsImV4cCI6MTcyNjYyOTQzMn0.aORzL_pXYA8OQGUdHaMGjO9qDPKZ7mSfeTnGK0ScNuU&t=2023-09-19T03%3A17%3A12.711Z"
    alt="Cannabis Cult Main Logo with Brain"
  />
  <meta 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices." 
    name="description"
  />
  <meta 
    property="og:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    property="og:title" 
    content="The Cannabis Cult"
  />
  <meta 
    name="twitter:card" 
    content="summary_large_image"
  />
  <meta 
    property="twitter:url" 
    content="https://cannabiscult.co"
  />
  <meta 
    property="twitter:title" 
    content="The Cannabis Cult Connoisseur Ranking Success"
  />
  <meta 
    property="twitter:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    name="twitter:site" 
    content="https://cannabiscult.co/"
  />
  <meta 
    property="twitter:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/brain_vector.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL2JyYWluX3ZlY3Rvci5zdmciLCJpYXQiOjE2OTUwOTM0MzIsImV4cCI6MTcyNjYyOTQzMn0.aORzL_pXYA8OQGUdHaMGjO9qDPKZ7mSfeTnGK0ScNuU&t=2023-09-19T03%3A17%3A12.711Z"
    alt="Cannabis Cult Main Logo with Brain"
  />
{% endblock %}
{% block content %}
<body class="container d-flex align-items-center justify-content-center text-center" style="background-color:#000; margin: 0; padding: 0;">
  <main class="container-fluid" style="background-image: url('https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/svg/success_brain.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL3N2Zy9zdWNjZXNzX2JyYWluLnN2ZyIsImlhdCI6MTY5NjE4MzE4NSwiZXhwIjoxNzI3NzE5MTg1fQ.EuRNSbCWsVIbnspWqL5XFx-mm5Tg6WMp1mfcBasG9cY&t=2023-10-01T17%3A59%3A45.664Z'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 100vh;">
    <div class="row align-items-center justify-content-center" style="background-image: url('https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/svg/success_frame.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL3N2Zy9zdWNjZXNzX2ZyYW1lLnN2ZyIsImlhdCI6MTY5NjE4MzMyNywiZXhwIjoxNzI3NzE5MzI3fQ.xT2eHYm0r9T-WtawpkV54iPqnq0Kr5CbNjsJBtTE79U&t=2023-10-01T18%3A02%3A07.182Z'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 100vh;">
      <div id="success-text" class="container" style="background-image: url('https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/svg/success_text.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL3N2Zy9zdWNjZXNzX3RleHQuc3ZnIiwiaWF0IjoxNjk2MTgzMzQzLCJleHAiOjE3Mjc3MTkzNDN9.GxcpNVZGcgDO8dL-b4q_h0mX2tcSaux9CPfMq4kOTvI&t=2023-10-01T18%3A02%3A23.769Z'); background-size: contain; background-position: center; background-repeat: no-repeat; min-height: 100vh;">
    </div>
  </main>
</body>        
{% endblock %}  

{% block footer %}
{% endblock %}
  
{% block scripts %} 
<script>

function adjustBackgroundSize() {
  const element = document.querySelector('#success-text');

  if (window.innerWidth < 450) {
    element.style.backgroundSize = 'cover';
  } else {
    element.style.backgroundSize = 'contain'; 
  }
}

adjustBackgroundSize();

window.addEventListener('resize', adjustBackgroundSize);
</script> 
{% endblock %}