{% extends "shared/base_light.html" %}

{% block title %} 
  <title>Cannabis Cult Connoisseur Ranking Success</title>
{% endblock %} 

{% block head %}
  <meta http-equiv="refresh" content="7; url=/voting-home">
  <meta 
    property="og:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/brain_vector.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL2JyYWluX3ZlY3Rvci5zdmciLCJpYXQiOjE2OTUwOTM0MzIsImV4cCI6MTcyNjYyOTQzMn0.aORzL_pXYA8OQGUdHaMGjO9qDPKZ7mSfeTnGK0ScNuU&t=2023-09-19T03%3A17%3A12.711Z"
    alt="Cannabis Cult Main Logo with Brain"
  />
  <meta 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices." 
    name="description"
  />
  <meta 
    property="og:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    property="og:title" 
    content="The Cannabis Cult"
  />
  <meta 
    name="twitter:card" 
    content="summary_large_image"
  />
  <meta 
    property="twitter:url" 
    content="https://cannabiscult.co"
  />
  <meta 
    property="twitter:title" 
    content="The Cannabis Cult Connoisseur Ranking Success"
  />
  <meta 
    property="twitter:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    name="twitter:site" 
    content="https://cannabiscult.co/"
  />
  <meta 
    property="twitter:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/brain_vector.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL2JyYWluX3ZlY3Rvci5zdmciLCJpYXQiOjE2OTUwOTM0MzIsImV4cCI6MTcyNjYyOTQzMn0.aORzL_pXYA8OQGUdHaMGjO9qDPKZ7mSfeTnGK0ScNuU&t=2023-09-19T03%3A17%3A12.711Z"
    alt="Cannabis Cult Main Logo with Brain"
  />
{% endblock %}
{% block content %}
<body class="bg-black">
  <main class="container" style="background-image: url('https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/svg/connoisseur_success_img_wider.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL3N2Zy9jb25ub2lzc2V1cl9zdWNjZXNzX2ltZ193aWRlci5zdmciLCJpYXQiOjE2OTYwMjk2MDcsImV4cCI6MTcyNzU2NTYwN30.hDa1oTOnkl8e128DTDIs54GW5ycxxzVG_WGB7FVwL0E&t=2023-09-29T23%3A20%3A07.225Z'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 100vh;">
  </main>
</body>        
{% endblock %}  

{% block footer %}
{% endblock %}
  
{% block scripts %}  
{% endblock %}