{% extends "shared/base.html" %}

{% block title %} 
  <title>Cultivar Review {{ strain }} - Cannabis Cult</title>
{% endblock %} 

{% block head %}
<meta 
  content="Cannabis Cult {{ strain }} Cultivar Rating Page." 
  name="description"
/>
<meta 
  name="keywords"
  content="Cannabis Cult, Cultivar Review, Cannabis Ratings, Cannabis Review, Weed Reviews, Cannabis Near Me, Dispensary Reviews, Edible Ratings, Edible Reviews"
/>
<meta 
  property="og:image" 
  content="{% if url_path %}{{ url_path }}{% else %}https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/reviews/Connoisseur%20Pack/CP%20Rosin?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvcmV2aWV3cy9Db25ub2lzc2V1ciBQYWNrL0NQIFJvc2luIiwiaWF0IjoxNzAxMzEzNjc0LCJleHAiOjE3MzI4NDk2NzR9.J7m_xfZWyMGi8v6XSoMVm68e3RPU5UdGPPPXaPNtQ2I&t=2023-11-30T03%3A07%3A54.251Z{% endif %}"
  alt="Cannabis Cult {{ strain }} Cultivar Connoisseur Rating Card"
/>
<meta 
  property="og:description" 
  content="Cannabis Cult {{ strain }} Cultivar Connoisseur Rating Page." 
/>
<meta 
  property="og:title" 
  content="Cannabis Cult {% if strain %}{{ strain }} {% endif %}Cultivar Connoisseur Rating"
/>
<meta 
  name="twitter:card" 
  content="summary_large_image"
/>
<meta 
  property="twitter:url" 
  content="https://cannabiscult.co"
/>
<meta 
  property="twitter:site" 
  content="@cannabiscult"
/>
<meta 
  property="twitter:title" 
  content="Cannabis Cult Cultivar {% if strain %}{{ strain }} {% endif %}Connoisseur Rating." 
/>
<meta 
  property="twitter:description" 
  content="{{ strain }} Cultivar Review Page on CannabisCult.co" 
/>
<meta 
  property="twitter:image" 
  content="{{ url_path }}"
/>
<meta 
  property="twitter:image:alt"
  content="Cannabis Cult Cultivar Review Card for {{ strain }} Concentrate"
/>
<link 
  rel="canonical" 
  href="https://cannabiscult.co/connoisseur-concentrates{% if strain %}/get-concentrate?{{ strain }}{% endif %}"
/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main class="container pt-5">
  <section draggable="false" class="container pt-3" data-v-271253ee="">
    <section class="mb-10">
      <div class="container pb-5">
        <div class="row mx-auto pb-xl-5">
          <h1 class="fw-bold text-center">Cultivar Reviews</h1>
        </div>
      </div>
      <div class="row gx-lg-5 align-items-start d-flex justify-content-between mx-auto">
        <div class="col-12 col-lg-6 mb-5 mb-lg-0 mx-auto">
          {% include "components/hidden-concentrate-card.html" %}
        </div>
        <div class="col-12 col-lg-6 mb-4 mb-lg-0 h-100">
          <div class="d-flex flex-column justify-content-between">
            <div class="d-flex align-items-start mb-5 pt-lg-3 pt-xl-5">
              <div class="flex-shrink-0">
                <div class="p-3 rounded-4 shadow-2-strong" style="background-color: hsl(231, 52.6%, 20%)">
                  <i class="fas fa-comments fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-4">
                <p class="fw-bold mb-1">Description</p>
                <p id="description_text" class="text-muted mb-0">We cannot tell you the description on the mystery reviews.</p>
              </div>
            </div>
            <div class="d-flex align-items-start mb-5">
              <div class="flex-shrink-0">
                <div class="p-3 rounded-4 shadow-2-strong" style="background-color: hsl(231, 52.6%, 20%)">
                  <i class="fas fa-timeline fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-4">
                <p class="fw-bold mb-1">Lineage</p>
                <p id="lineage-text" class="text-muted mb-0">And we will be releasing all of the strain information as soon as we can!</p>
              </div>
            </div>
            <div class="d-flex align-items-start mb-5">
              <div class="flex-shrink-0">
                <div class="p-3 rounded-4 shadow-2-strong" style="background-color: hsl(231, 52.6%, 20%)">
                  <i class="fa-solid fa-user-gear fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-4">
                <p class="fw-bold mb-1">Effects<br></p>
                <p id="effects_text" class="text-muted mb-0">Don't worry, you will not have to wait long.</p>
              </div>
            </div>
            <div class="d-flex align-items-start">
              <div class="flex-shrink-0">
                <div class="p-3 rounded-4 shadow-2-strong" style="background-color: hsl(231, 52.6%, 20%)">
                  <i class="fas fa-chart-pie fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-4">
                <p class="fw-bold mb-1">Terpenes</p>
                <p id="terpene_text" class="text-muted mb-0">But you can rate the strain yourself first.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section draggable="false" class="container" data-v-271253ee="">
    <section class="mb-10 text-center">
      <div class="row gx-lg-5">
        <div class="col-md-4 mb-4">
          <h2 id="flavor_rating_value" class="fw-bold display-5 text-info mb-3">?</h2>
          <h5 class="text-muted mb-3">Flavor</h5>
        </div>
        <div class="col-md-4 mb-4">
          <h2 id="overall_rating_value" class="fw-bold display-5 text-info mb-3">?</h2>
          <h5 class="text-muted mb-3">Overall</h5>
        </div>
        <div class="col-md-4 mb-4">
          <h2 id="effects_rating_value" class="fw-bold display-5 text-info mb-3">?</h2>
          <h5 class="text-muted mb-3">Effects</h5>
        </div>
      </div>
    </section>
  </section>
  <section draggable="false" class="container navy-color-parent" data-v-271253ee="">
    <section class="mb-10 text-center">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
          <i class="fas fa-eye fa-3x  mb-4" aria-controls="#picker-editor"></i>
          <h5 id="appearance_rating_value" class="text-info fw-bold mb-3">?</h5>
          <h6 class="fw-normal mb-0">Appearance<br></h6>
          <hr class="divider-vertical d-none d-md-block">
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
          <i class="fas fa-cannabis fa-3x  mb-4" aria-controls="#picker-editor"></i>
          <h5 id="smell_rating_value" class="text-info fw-bold mb-3">?</h5>
          <h6 class="fw-normal mb-0">Smell</h6>
          <hr class="divider-vertical d-none d-lg-block">
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
          <i class="fas fa-fill-drip fa-3x  mb-4" aria-controls="#picker-editor"></i>
          <h5 id="consistency_rating_value" class="text-info fw-bold mb-3">?</h5>
          <h6 class="fw-normal mb-0">Consistency</h6>
          <hr class="divider-vertical d-none d-md-block">
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
          <i class="fas fa-arrow-trend-up fa-3x  mb-4" aria-controls="#picker-editor"></i>
          <h5 id="harshness_rating_value" class="text-info fw-bold mb-3">?</h5>
          <h6 class="fw-normal mb-0">Smoothness</h6>
        </div>
      </div>
    </section>
  </section>

  <div class="text-center">
    <div class="container-fluid text-center pb-5">
      <a href="/">
        <img src="{{ url_for('static', path='images/small_black_cc_logo.png') }}">
      </a>
    </div>
  </div>
  {% include "components/hidden-concentrate-modal.html" %}
</main>
<style> 
  hr.divider-vertical { 
    position: absolute; 
    right: 0; 
    top: 0; 
    width: 1px; 
    background-image: linear-gradient( 180deg, transparent, hsl(0, 0%, 40%), transparent ); 
    background-color: transparent; 
    height: 100%; 
  }
</style>
   
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
