{% extends "shared/base.html" %}

{% block title %} 
  <title>Cannabis Cult</title>
{% endblock %} 

{% block head %}
<meta 
  property="og:image" 
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/cannabiscult/webiste_assests/logos/brain_vector-optimized.webp"
/>
<meta property="og:image:type" content="image/webp" />
<meta property="og:image:alt" content="Cannabis Cult Brain Logo, solid black on transparent background." />
<meta 
  property="og:image" 
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/cannabiscult/webiste_assests/logos/brain_vector-optimized.png"
/>
<meta property="og:image:type" content="image/png" />
<meta property="og:image:alt" content="Cannabis Cult Brain Logo, solid black on transparent background." />
<meta 
  content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices." 
  name="description"
/>
<meta 
  property="og:description" 
  content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
/>
<meta 
  property="og:title" 
  content="The Cannabis Cult"
/>
<meta 
  name="twitter:card" 
  content="summary_large_image"
/>
<meta 
  property="twitter:url" 
  content="https://cannabiscult.co"
/>
<meta 
  property="twitter:title" 
  content="The Cannabis Cult"
/>
<meta 
  property="twitter:description" 
  content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
/>
<meta 
  name="twitter:site" 
  content="https://cannabiscult.co/"
/>
<meta 
  property="twitter:image" 
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/cannabiscult/webiste_assests/logos/brain_vector-optimized.webp"
  alt="Cannabis Cult Main Logo with Brain"
/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  {% include "components/homepage_elements/top_logo_header.html" %}
  <hr class="hr hr-blurry" />
  <div class="container align-items-center justify-items-center">
    {% include "components/homepage_elements/homepage_features.html" %}
  </div>
  <hr class="hr hr-blurry" />
  <div class="col-12 py-5">
    {% include "components/flower_review_selector.html" %}
  </div>
  <hr class="hr hr-blurry" />
  <div class="container-fluid align-items-center justify-items-center">
    {% include "components/homepage_elements/all_ratings_tables.html" %}
  </div>
  <hr class="hr hr-blurry" />
  <div class="container-fluid">
    <div class="row g-0">
      <div class="col-12 col-lg-6">
        {% include "components/top_rated_flower.html" %}
      </div>
      <div class="col-12 col-lg-6">
        {% include "components/top_rated_concentrates.html" %}
      </div>
    </div>
  </div>
  <hr class="hr hr-blurry" />
  <div class="map-locator col py-5 mb-5">
    <div class="row text-center">
      <h1><b><u>Dispensaries Near Me</u></b></h1>
    </div>
    <div class="row text-center justify-content-center px-2 px-xl-0">
      <div id="zenlocator-map-pg2vvfnw"></div><script type="text/javascript" src="https://js.zenlocator.com/xhtkvgxg.min.js" async></script>
    </div>
  </div>
{% endblock %}  

{% block footer %}
{% endblock %}
  
{% block scripts %}

{% endblock %}
