{% extends "shared/base.html" %}

{% block title %} 
  <title>Cannabis Cult - Login</title>
{% endblock %} 

{% block head %}
<meta 
  property="og:image" 
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/partner_images/logos/black_brain_vectorized.webp"
  alt="Cannabis Cult Main Logo with Brain"
/>
<meta 
  content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices." 
  name="description"
/>
<meta 
  property="og:description" 
  content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
/>
<meta 
  property="og:title" 
  content="The Cannabis Cult - Login"
/>
<meta 
  name="twitter:card" 
  content="summary_large_image"
/>
<meta 
  property="twitter:url" 
  content="https://cannabiscult.co"
/>
<meta 
  property="twitter:title" 
  content="The Cannabis Cult - Login"
/>
<meta 
  property="twitter:description" 
  content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
/>
<meta 
  name="twitter:site" 
  content="https://cannabiscult.co/"
/>
<meta 
  property="twitter:image" 
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/partner_images/logos/black_brain_vectorized.webp"
  alt="Cannabis Cult Main Logo with Brain"
/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %} 
  <style>
    #formAccordion {
      background-color: transparent;
    }
    #formAccordionItem{
      background-color: transparent;
    }
    #formAccordionHeader {
      background-color: transparent;
    }
    #collapseOne {
      background-color: transparent;
    }
    .accordion-header {
      background-color: transparent;
    }
    .accordion-button:not(.collapsed) {
      background-color: transparent;
    }
  </style>
  <div class="text-center">
    <div class="container-fluid text-center" style="padding:2em">
      <img src="{{ url_for('static', path='images/small_black_cc_logo.png') }}">
    </div>
  </div>
  <div class="text-center">
    <div class="container-fluid text-center" style="padding:2em">
      {% include "components/login-form.html"  %}
    </div>
  </div>
{% endblock %}  

{% block footer %}
{% endblock %}
  
{% block scripts %}  
{% endblock %}
