{% extends "shared/base.html" %}

{% block title %} 
  <title>Cannabis Cult Logout Success</title>
{% endblock %} 

{% block head %}
  <meta http-equiv="refresh" content="3; url=/">
  <meta 
    property="og:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/brain_vector.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL2JyYWluX3ZlY3Rvci5zdmciLCJpYXQiOjE2OTUwOTM0MzIsImV4cCI6MTcyNjYyOTQzMn0.aORzL_pXYA8OQGUdHaMGjO9qDPKZ7mSfeTnGK0ScNuU&t=2023-09-19T03%3A17%3A12.711Z"
    alt="Cannabis Cult Main Logo with Brain"
  />
  <meta 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices." 
    name="description"
  />
  <meta 
    property="og:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    property="og:title" 
    content="The Cannabis Cult"
  />
  <meta 
    name="twitter:card" 
    content="summary_large_image"
  />
  <meta 
    property="twitter:url" 
    content="https://cannabiscult.co"
  />
  <meta 
    property="twitter:title" 
    content="The Cannabis Cult"
  />
  <meta 
    property="twitter:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    name="twitter:site" 
    content="https://cannabiscult.co/"
  />
  <meta 
    property="twitter:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/brain_vector.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL2JyYWluX3ZlY3Rvci5zdmciLCJpYXQiOjE2OTUwOTM0MzIsImV4cCI6MTcyNjYyOTQzMn0.aORzL_pXYA8OQGUdHaMGjO9qDPKZ7mSfeTnGK0ScNuU&t=2023-09-19T03%3A17%3A12.711Z"
    alt="Cannabis Cult Main Logo with Brain"
  />
{% endblock %}
{% block content %}
<main class="container-fluid pt-3 pb-5">
  <section class="container align-content-center pt-5 pb-5">
    <div class="text-center pt-5 pb-5">
      <span>
        <h1>Your logout was successful</h1>
      </span>
      <span>
        <h2>
          Add @cannabiscult.co to your address book so you do not miss an update!
        </h2>
      </span>
    </div>
  </section>
  <section class="container align-content-center">
    <div class="container mb-5">
      <div class="pb-5">
        <div class="container-fluid text-center" style="padding:2em">
          <img src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/brain_vector.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL2JyYWluX3ZlY3Rvci5zdmciLCJpYXQiOjE2OTUwOTM0MzIsImV4cCI6MTcyNjYyOTQzMn0.aORzL_pXYA8OQGUdHaMGjO9qDPKZ7mSfeTnGK0ScNuU&t=2023-09-19T03%3A17%3A12.711Z">
        </div>
      </div>
    </div>
  </section>   
</main>     
{% endblock %}  

{% block footer %}
{% endblock %}
  
{% block scripts %}  
{% endblock %}