{% extends "shared/base.html" %}

{% block title %} 
  <title>Cannabis Cult Strain Search</title>
{% endblock %} 

{% block head %}
<meta 
  content="Search for Strains in the Cannabiscult.co review system. If you are interested in submitting your own detailed reviews please send us an email at members@cannabiscult.co" 
  name="description"
/>
<meta 
  name="keywords"
  content="Cannabis Cult, Cultivar Review, Cannabis Ratings, Strain Submission, Submit a Strain, Submit a Cannabis Review, Cannabis Review, Weed Reviews, Cannabis Near Me, Dispensary Reviews, Edible Ratings, Edible Reviews"
/>
<meta 
  property="og:image" 
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/reviews/Connoisseur%20Pack/CP%20Rosin?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvcmV2aWV3cy9Db25ub2lzc2V1ciBQYWNrL0NQIFJvc2luIiwiaWF0IjoxNzAxMzEzNjc0LCJleHAiOjE3MzI4NDk2NzR9.J7m_xfZWyMGi8v6XSoMVm68e3RPU5UdGPPPXaPNtQ2I&t=2023-11-30T03%3A07%3A54.251Z"
  alt="Cannabis Cult Search"
/>
<meta 
  property="og:description" 
  content="Search for Strains in the Cannabiscult.co review system. If you are interested in submitting your own detailed reviews please send us an email at members@cannabiscult.co"
/>
<meta 
  property="og:title" 
  content="Cannabis Cult Search"
/>
<meta 
  name="twitter:card" 
  content="summary_large_image"
/>
<meta 
  property="twitter:url" 
  content="https://cannabiscult.co"
/>
<meta 
  property="twitter:site" 
  content="@cannabiscult"
/>
<meta 
  property="twitter:title" 
  content="Cannabis Cult Search" 
/>
<meta 
  property="twitter:description" 
  content="Cannabis Cult Members search for strains to rate on CannabisCult.co" 
/>
<meta 
  property="twitter:image" 
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/reviews/Connoisseur%20Pack/CP%20Rosin?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvcmV2aWV3cy9Db25ub2lzc2V1ciBQYWNrL0NQIFJvc2luIiwiaWF0IjoxNzAxMzEzNjc0LCJleHAiOjE3MzI4NDk2NzR9.J7m_xfZWyMGi8v6XSoMVm68e3RPU5UdGPPPXaPNtQ2I&t=2023-11-30T03%3A07%3A54.251Z"
/>
<meta 
  property="twitter:image:alt"
  content="Cannabis Cult Cultivar Logo"
/>
<link 
  rel="canonical" 
  href="https://cannabiscult.co/search"
/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<section class="mb-3">
  <div class="row mx-auto">
    <h1 class="fw-bold mt-5 text-center">Cultivar Strain Search</h1>
  </div>
</section>
{% include "components/forms/search_form.html" %}
{% endblock %}

{% block footer %}
{% endblock %}
{% block scripts %}
{% endblock %}
