{% extends "shared/base.html" %}

{% block title %} 
  <title>Cannabis Cult Home</title>
{% endblock %} 

{% block head %}
<meta 
  content="View upcoming events and your prior ratings in the Cannabiscult.co review system. If you are interested in submitting your own detailed reviews please send us an email at members@cannabiscult.co" 
  name="description"
/>
<meta 
  name="keywords"
  content="Cannabis Cult, Cultivar Review, Cannabis Ratings, Strain Submission, Submit a Strain, Submit a Cannabis Review, Cannabis Review, Weed Reviews, Cannabis Near Me, Dispensary Reviews, Edible Ratings, Edible Reviews"
/>
<meta 
  property="og:image" 
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/reviews/Connoisseur%20Pack/CP%20Rosin?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvcmV2aWV3cy9Db25ub2lzc2V1ciBQYWNrL0NQIFJvc2luIiwiaWF0IjoxNzAxMzEzNjc0LCJleHAiOjE3MzI4NDk2NzR9.J7m_xfZWyMGi8v6XSoMVm68e3RPU5UdGPPPXaPNtQ2I&t=2023-11-30T03%3A07%3A54.251Z"
  alt="Cannabis Cult Member Home"
/>
<meta 
  property="og:description" 
  content="" 
/>
<meta 
  property="og:title" 
  content="Cannabis Cult Member Home"
/>
<meta 
  name="twitter:card" 
  content="summary_large_image"
/>
<meta 
  property="twitter:url" 
  content="https://cannabiscult.co"
/>
<meta 
  property="twitter:site" 
  content="@cannabiscult"
/>
<meta 
  property="twitter:title" 
  content="Cannabis Cult Member Home" 
/>
<meta 
  property="twitter:description" 
  content="Cannabis Cult Member Homepage with your ratings on CannabisCult.co" 
/>
<meta 
  property="twitter:image" 
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/reviews/Connoisseur%20Pack/CP%20Rosin?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvcmV2aWV3cy9Db25ub2lzc2V1ciBQYWNrL0NQIFJvc2luIiwiaWF0IjoxNzAxMzEzNjc0LCJleHAiOjE3MzI4NDk2NzR9.J7m_xfZWyMGi8v6XSoMVm68e3RPU5UdGPPPXaPNtQ2I&t=2023-11-30T03%3A07%3A54.251Z"
/>
<meta 
  property="twitter:image:alt"
  content="Cannabis Cult Cultivar Logo"
/>
<link 
  rel="canonical" 
  href="https://cannabiscult.co/home"
/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main>
  <section class="container pt-5">
    <div class="text-center">
      <h2 class="py-2 text-dark">Cult Member Landing</h2>
    </div>
    <div class="container container-sm py-5" id="cultivatorVotingFormContainer">
      {% include "components/forms/cultivator_voting_form.html" %}
    </div>
    <div class="container container-sm py-5" style="background-color: transparent;" data-aos="fade-in" data-aos-anchor-placement="top-center">
      {% include "components/users/calendar.html" %}
    </div>
    <div class="container container-sm py-5" style="background-color: transparent;" data-aos="fade-in" data-aos-anchor-placement="top-center">
      <div class="row text-center pt-5 pt-lg-3">
        <div class="py-3 pt-lg-5">
          <a 
            href="#data-table-container"
            class="pt-2 text-decoration-none text-dark fs-6"
            data-mdb-collapse-init
            data-mdb-ripple-init
            data-mdb-target="#data-table-container"
            aria-expanded="true"
            aria-controls="data-table-container"
            id="toggleStrainList"
          >
            <h3 class="text-center">My Strain List</h3><span class="text-muted">Click To Hide</span>
          </a>
        </div>
        {% include "components/users/my_strain_list.html" %}
      </div>
    </div>
    <div class="container container-sm py-5 d-none" id="strainSubmissionContainer">
      {% include "components/forms/strain_submission_form.html" %}
    </div>
    <div class="modal fade" id="notAuthorizedModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div class="container text-center pt-1 pb-1">
              <h5 class="modal-title">Only Cult Members Allowed</h5>
            </div>
          </div>
          <div class="modal-body text-center align-content-center justify-content-center pb-2 px-0 mx-0" id="notAuthorizedModalBody">
            <div class="container text-center py-2">
              <p class="fs-6"><strong>Email <a href="mailto:members@cannabiscult.co" class="text-decoration-none text-dark">members@cannabiscult.co</a> for more information on how to become a Cult Leader today.</strong></p>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-lg btn-info w-100" data-bs-dismiss="modal">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mx-auto py-5">
    <h3 class="text-center text-dark">My Strain Ratings</h3>
    <div class="container-fluid py-3">
      {% include "components/users/my_ratings.html" %}
    </div>
  </section>
</main>
{% include "components/forms/add_new_voter_modal.html" %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
<script async>
$(document).ready(function() {
  async function checkVoterExists(email) {
    const lowerCaseEmail = email.toLowerCase();
    const root = window.location.origin;
    const url = new URL('/check-mystery-voter', root);
    url.searchParams.append('voter_email', lowerCaseEmail);

    const response = await fetch(url, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    });

    if (response.ok) {
      const data = await response.json();
      if (!data.exists) {
        $('#FlowerRankingsModal').modal('hide');
        $('#FlowerVoterInfoCaptureModal').modal('show');
        return false;
      }
      return true;
    } else {
      console.log("Request failed:", response.status, response.statusText);
      return false;
    }
  }
  window.addEventListener('supabaseClientReady', async function() {
    const currentEmail = await window.supabaseClient.getCurrentUserEmail();
    if (!currentEmail) {
      var failModal = new bootstrap.Modal(document.getElementById('notAuthorizedModal'));
      $('#notAuthorizedModal').on('hidden.bs.modal', function () {
        window.location.href = "/login";
      });
      failModal.show();
      return;
    } else {
      const emailInput = document.getElementById('emailAddress');
      emailInput.value = currentEmail;
      emailInput.classList.add('active');
      const superUserStatus = await window.supabaseClient.checkSuperuserStatus();
      if (superUserStatus) {
          document.getElementById('strainSubmissionContainer').classList.remove('d-none');
      }
    }
    return;
  });
});
</script>
{% endblock %}
