{% extends "shared/base.html" %}

{% block title %} 
  <title>Cannabis Cult Submission Failure</title>
{% endblock %} 

{% block head %}
  <meta http-equiv="refresh" content="5; url=/login">
  <meta 
    property="og:image" 
    content="{{ url_for('static', path='images/black_cc_logo.png') }}"
    alt="Cannabis Cult Main Logo with Brain"
  />
  <meta 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices." 
    name="description"
  />
  <meta 
    property="og:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    property="og:title" 
    content="The Cannabis Cult"
  />
  <meta 
    name="twitter:card" 
    content="summary_large_image"
  />
  <meta 
    property="twitter:url" 
    content="https://cannabiscult.co"
  />
  <meta 
    property="twitter:title" 
    content="The Cannabis Cult"
  />
  <meta 
    property="twitter:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    name="twitter:site" 
    content="https://cannabiscult.co/"
  />
  <meta 
    property="twitter:image" 
    content="{{ url_for('static', path='images/black_cc_logo.png') }}"
    alt="Cannabis Cult Main Logo with Brain"
  />
{% endblock %}
{% block content %}
  <section class="container align-content-center">
    <span>
      <h1>Your submission failed</h1>
      <h2>{{ name }}, check your information before re-submitting</h2>
    </span>
  </section>        
{% endblock %}  

{% block footer %}
{% endblock %}
  
{% block scripts %}  
{% endblock %}