{% extends "shared/base.html" %}

{% block title %}
  <title>Vibe Concentrate Ratings - Cannabis Cult</title>
{% endblock %}

{% block head %}
<meta 
  content="Cannabis Cult Vibe Concentrate Cultivar Rating Page."
  name="description"
/>
<meta 
  name="keywords"
  content="Cannabis Cult, Cultivar Review, Cannabis Ratings, Cannabis Review, Weed Reviews, Cannabis Near Me, Dispensary Reviews, Concentrate Ratings, Concentrate Reviews"
/>
<meta 
  property="og:image"
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/reviews/Connoisseur%20Pack/CP%20strains.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvcmV2aWV3cy9Db25ub2lzc2V1ciBQYWNrL0NQIHN0cmFpbnMucG5nIiwiaWF0IjoxNzAwMzI0MTk0LCJleHAiOjE3MzE4NjAxOTR9.ZjybPUK4pwyB2JOODqyWgcqNltz6uDl5zzx3E2ihko0&t=2023-11-18T16%3A16%3A34.983Z"
  alt="Cannabis Cult Vibe Concentrate Cultivar Rating Card"
/>
<meta 
  property="og:description"
  content="Cannabis Cult Vibe Concentrate Cultivar Rating Page."
/>
<meta 
  property="og:title"
  content="Cannabis Cult Cultivar Vibe Concentrate Ratings"
/>
<meta 
  name="twitter:card"
  content="summary_large_image"
/>
<meta 
  property="twitter:url"
  content="https://cannabiscult.co"
/>
<meta 
  property="twitter:site"
  content="@cannabiscult"
/>
<meta 
  property="twitter:title"
  content="Cannabis Cult Cultivar - Vibe Concentrate Ratings"
/>
<meta 
  property="twitter:description"
  content="Vibe's Concentrate Cultivar Review Page on CannabisCult.co"
/>
<meta 
  property="twitter:image"
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/reviews/Connoisseur%20Pack/CP%20strains.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvcmV2aWV3cy9Db25ub2lzc2V1ciBQYWNrL0NQIHN0cmFpbnMucG5nIiwiaWF0IjoxNzAwMzI0MTk0LCJleHAiOjE3MzE4NjAxOTR9.ZjybPUK4pwyB2JOODqyWgcqNltz6uDl5zzx3E2ihko0&t=2023-11-18T16%3A16%3A34.983Z"
/>
<meta 
  property="twitter:image:alt"
  content="Cannabis Cult Cultivar Review Card for Vibe's Concentrates"
/>
<link 
  rel="canonical"
  href="https://cannabiscult.co/vibe_concentrate_ratings"
/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main class="container-fluid">
  <div class="pt-4 pt-md-5">
  {% include "components/vibe_concentrate_rank_card.html" %}
  </div>
  {% include "components/vibe_concentrate_rank_modal.html" %}
  <div class="text-center">
    <div class="container-fluid text-center pb-5">
      <a href="/">
        <img src="{{ url_for('static', path='images/small_black_cc_logo.png') }}">
      </a>
    </div>
  </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
