{% extends "shared/base.html" %}

{% block title %}
  <title>Vibe Concentrate Ratings presented by CannabisCult.co</title>
{% endblock %}

{% block head %}
<meta 
  content="Rate Vibe's concentrate roster through the Cannabis Cult's Cultivar Rating System."
  name="description"
/>
<meta 
  name="keywords"
  content="Cannabis Cult, Cultivar Review, Cannabis Ratings, Cannabis Review, Weed Reviews, Cannabis Near Me, Dispensary Reviews, Concentrate Ratings, Concentrate Reviews"
/>
<meta 
  property="og:image"
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/reviews/Vibe/Vibe%20Generic?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvcmV2aWV3cy9WaWJlL1ZpYmUgR2VuZXJpYyIsImlhdCI6MTcwMTMxMjc5OCwiZXhwIjoxNzMyODQ4Nzk4fQ.UIZL9jut-ePHYf1TYKw8ziA3ng-0ekiR93HWHuaje9Y&t=2023-11-30T02%3A53%3A18.506Z"
  alt="Cannabis Cult Vibe Concentrate Cultivar Rating Card"
/>
<meta 
  property="og:description"
  content="Rate Vibe's concentrate roster through the Cannabis Cult's Cultivar Rating System.."
/>
<meta 
  property="og:title"
  content="Vibe Concentrate Ratings presented by CannabisCult.co"
/>
<meta 
  name="twitter:card"
  content="summary_large_image"
/>
<meta 
  property="twitter:url"
  content="https://cannabiscult.co"
/>
<meta 
  property="twitter:site"
  content="@cannabiscult"
/>
<meta 
  property="twitter:title"
  content="Cannabis Cult Cultivar Ratings for Vibe's Concentrates"
/>
<meta 
  property="twitter:description"
  content="Vibe's Concentrate Cultivar Ratings Page on CannabisCult.co"
/>
<meta 
  property="twitter:image"
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/reviews/Vibe/Vibe%20Generic?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvcmV2aWV3cy9WaWJlL1ZpYmUgR2VuZXJpYyIsImlhdCI6MTcwMTMxMjc5OCwiZXhwIjoxNzMyODQ4Nzk4fQ.UIZL9jut-ePHYf1TYKw8ziA3ng-0ekiR93HWHuaje9Y&t=2023-11-30T02%3A53%3A18.506Z"
/>
<meta 
  property="twitter:image:alt"
  content="Cannabis Cult Cultivar Review Card for Vibe's Concentrates"
/>
<link 
  rel="canonical"
  href="https://cannabiscult.co/vibe_concentrate_ratings"
/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main class="container-fluid pt-5">
  <div class="container pb-5">
    <div class="row mx-auto pb-xl-5">
      <h1 class="fw-bold text-center">Vibe Cultivar Concentrate Ratings</h1>
    </div>
  </div>
  <div class="pt-4 pt-md-5">
    {% include "components/vibe_concentrate_rank_card.html" %}
  </div>
    {% include "components/vibe_concentrate_rank_modal.html" %}
  <div class="container align-items-center justify-items-center pt-3">
    {% include "components/homepage_elements/homepage_features.html" %}
  </div>
  <div class="container py-5">
    <div class="row mx-auto">
      <div class="col-auto mx-auto">
        <img class="img-fluid" src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/card_assets/Cult%20Classic%20%20Cultivar%20Emblem.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvY2FyZF9hc3NldHMvQ3VsdCBDbGFzc2ljICBDdWx0aXZhciBFbWJsZW0ud2VicCIsImlhdCI6MTcwNDI0NzM4NywiZXhwIjoxNzM1NzgzMzg3fQ.xqhIiGk-3ZNcW45AtAdi7kFMzltAdusrdUf1U0o826E&t=2024-01-03T02%3A03%3A07.801Z"/>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
