{% extends "shared/base.html" %}

{% block title %} 
  <title>Vibe {{ edible }} - Cannabis Cult</title>
{% endblock %} 

{% block head %}
<meta 
  content="Cannabis Cult & Vibes {{ edible }} Cultivar Rating Page." 
  name="description"
/>
<meta 
  name="keywords"
  content="Cannabis Cult, Cultivar Review, Cannabis Ratings, Cannabis Review, Weed Reviews, Cannabis Near Me, Dispensary Reviews, Edible Ratings, Edible Reviews"
/>
<meta 
  property="og:image" 
  content="{{ url_path }}"
  alt="Cannabis Cult {{ edible }} Cultivar Rating Card"
/>
<meta 
  property="og:description" 
  content="Cannabis Cult {{ edible }} Cultivar Rating Page." 
/>
<meta 
  property="og:title" 
  content="Cannabis Cult Cultivar {% if edible %}{{ edible }} {% endif %}Ratings"
/>
<meta 
  name="twitter:card" 
  content="summary_large_image"
/>
<meta 
  property="twitter:url" 
  content="https://cannabiscult.co"
/>
<meta 
  property="twitter:site" 
  content="@cannabiscult"
/>
<meta 
  property="twitter:title" 
  content="Cannabis Cult Cultivar - Vibe {% if edible %}{{ edible }} {% endif %}Reviews" 
/>
<meta 
  property="twitter:description" 
  content="Vibe's Edibles Cultivar Review Page on CannabisCult.co" 
/>
<meta 
  property="twitter:image" 
  content="{{ url_path }}"
/>
<meta 
  property="twitter:image:alt"
  content="Cannabis Cult Cultivar Review Card for Vibe's {{ edible }}"
/>
<link 
  rel="canonical" 
  href="https://cannabiscult.co/vibe-edible-rankings{% if edible %}/get-vibe-edible?{{ edible }}{% endif %}"
/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main class="container-fluid pt-5">
  <div class="pt-5">
  {% include "components/vibe_edible_rank_card.html" %}
  </div>
  {% include "components/vibe_edible_rank_modal.html" %}
  <div class="text-center">
    <div class="container-fluid text-center py-5">
      <a href="/">
        <img src="{{ url_for('static', path='images/small_black_cc_logo.png') }}">
      </a>
    </div>
  </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}

{% endblock %}
