{% extends "shared/base.html" %}

{% block title %} 
  <title>Voting Home - Cannabis Cult</title>
{% endblock %} 

{% block head %}
<meta 
  content="Cannabis Cult Cultivar {{ cultivator }} {{ strain }} Review Page." 
  name="description"
/>
<meta 
  name="keywords"
  content="Cannabis Cult, Cultivar Review, Cannabis Ratings, Cannabis Review, Weed Reviews, Cannabis Near Me, Dispensary Reviews,"
/>
<meta 
  property="og:image" 
  content="{{ url_path }}"
  alt="Cannabis Cult Cultivar Review Card {{ cultivator }} {{ strain }}"
/>
<meta 
  property="og:description" 
  content="Cannabis Cult Cultivar {{ cultivator }} {{ strain }} Review Page." 
/>
<meta 
  property="og:title" 
  content="Cannabis Cult Cultivar {% if strain and cultivator %}{{ cultivator }} {{ strain }}{% endif %} Reviews"
/>
<meta 
  name="twitter:card" 
  content="summary_large_image"
/>
<meta 
  property="twitter:url" 
  content="https://cannabiscult.co"
/>
<meta 
  property="twitter:site" 
  content="@cannabiscult"
/>
<meta 
  property="twitter:title" 
  content="Cannabis Cult Cultivar {% if strain and cultivator %}{{ cultivator }} {{ strain }}{% endif %} Reviews" 
/>
<meta 
  property="twitter:description" 
  content="{{ cultivator }} {{ strain }} Cultivar Review Page on CannabisCult.co" 
/>
<meta 
  property="twitter:image" 
  content="{{ url_path }}"
/>
<meta 
  property="twitter:image:alt"
  content="Cannabis Cult Cultivar Review Card {{ cultivator }} {{ strain }}"
/>
<link 
  rel="canonical" 
  href="https://cannabiscult.co/voting-home"
/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main class="container-fluid">
{% if cultivator == "Connoisseur" %}
  <div class="pt-4 pt-md-5">
  {% include "components/mystery_vote_template.html" %}
  </div>
  {% include "components/mystery_vote_modal.html" %}
    <div class="text-center">
      <div class="container-fluid text-center pb-5">
        <a href="/">
          <img src="{{ url_for('static', path='images/small_black_cc_logo.png') }}">
        </a>
      </div>
    </div>
{% else %}
  <div class="text-center">
    <div class="container-fluid text-center" style="padding:2em">
      <img src="{{ url_for('static', path='images/small_black_cc_logo.png') }}">
    </div>
  </div>
  {% include "components/vote_template.html" %}

  <section class="py-4 container" id="topRatedStrains">
    {% include "components/top_rated_flower.html" %}
  </section>
{% endif %}
</main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
