{% extends "shared/base.html" %}

{% block title %} 
  <title>Voting Home - Cannabis Cult</title>
{% endblock %} 

{% block head %}
<meta 
  content="Cannabis Cult Cultivar {{ cultivator }} {{ strain }} Review Page." 
  name="description"
/>
<meta 
  name="keywords"
  content="Cannabis Cult, Cultivar Review, Cannabis Ratings, Cannabis Review, Weed Reviews, Cannabis Near Me, Dispensary Reviews,"
/>
<meta 
  property="og:image" 
  content="{{ url_path }}"
  alt="Cannabis Cult Cultivar Review Card {{ cultivator }} {{ strain }}"
/>
<meta 
  property="og:description" 
  content="Cannabis Cult Cultivar {{ cultivator }} {{ strain }} Review Page." 
/>
<meta 
  property="og:image" 
  content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/cannabiscult/webiste_assests/logos/brain_vector-optimized.png"
/>
<meta property="og:image:type" content="image/png" />
<meta property="og:image:alt" content="Cannabis Cult Brain Logo, solid black on transparent background." />
<meta 
  property="og:title" 
  content="Cannabis Cult Cultivar {% if strain and cultivator %}{{ cultivator }} {{ strain }}{% endif %} Reviews"
/>
<meta 
  name="twitter:card" 
  content="summary_large_image"
/>
<meta 
  property="twitter:url" 
  content="https://cannabiscult.co"
/>
<meta 
  property="twitter:site" 
  content="@cannabiscult"
/>
<meta 
  property="twitter:title" 
  content="Cannabis Cult Cultivar {% if strain and cultivator %}{{ cultivator }} {{ strain }} {% endif %}Reviews" 
/>
<meta 
  property="twitter:description" 
  content="{{ cultivator }} {{ strain }} Cultivar Review Page on CannabisCult.co" 
/>
<meta 
  property="twitter:image" 
  content="{{ url_path }}"
/>
<meta 
  property="twitter:image:alt"
  content="Cannabis Cult Cultivar Review Card {{ cultivator }} {{ strain }}"
/>
<link 
  rel="canonical" 
  href="https://cannabiscult.co/voting-home"
/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="container align-items-center justify-items-center pt-5">
    {% include "components/homepage_elements/homepage_features.html" %}
  </div>
  <div class="container py-5">
    <div class="row mx-auto">
      <div class="col-12 col-lg-9 mx-auto">
        {% include "components/flower_review_selector.html" %}
      </div>
    </div>
  </div>
  <section class="py-4 container" id="topRatedStrains">
    {% include "components/top_rated_flower.html" %}
  </section>
  <section class="py-4 container" id="topRatedStrains">
    {% include "components/top_rated_concentrates.html" %}
  </section>
</main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
