<section class="container text-center" id="mystery-voting">
  <div class="col-12 col-sm-12 col-md-10 col-lg-12 mx-auto">
    <div class="row g-0 justify-content-center my-auto" id="vote-interface">
      <div class="container text-center d-flex g-0 align-items-center" id="vote-template">
        <div class="row mx-auto my-auto">
          <div class="container mb-5 text-center mx-auto col-md-10 col-lg-12 col-xl-11">
            <div class="rounded-10">
              <div class="row align-items-center text-center">
                <div class="text-center py-3">
                  <h1 class="card-title text-dark fs-2">
                    <strong>{{ strain }}</strong>
                  </h1>
                  <h3 class="card-subtitle mb-2">
                    <u>{{ cultivator }}</u>
                  </h3>
                  <div class="container col-11 col-xl-10 pt-2" id="imageContainer">
                    <div id="carouselImages" class="carousel slide carousel-fade" data-mdb-ride="carousel" data-mdb-carousel-init>
                      <!-- Indicators -->
                      <div class="carousel-indicators">
                        <button type="button" data-mdb-target="#carouselImages" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="{{ strain }} 1"></button>
                      </div>
                      <div class="carousel-inner rounded-5 shadow-4-strong">
                        <!-- Single item -->
                        <div class="carousel-item active">
                          <img 
                            src="{{ url_path }}"
                            class="img-fluid rounded-5" 
                            alt="Conniosseur {{ strain }} Cultivar Review Card"
                            id="reviewImage"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a data-bs-target="#PreRollRankingsDisplay"></a>
                <div class="container card-body pt-2">
                  <div class="row my-auto mx-auto justify-content-center">
                    <div class="col-xs-11 col-10 mx-auto">
                      <button type="button" id="startReviewBtn" class="btn btn-lg btn-info w-100 fs-6" data-bs-target="#PreRollRankingsDisplay" style="border: 3px solid black;" {% if not strain %}disabled{% endif %}>
                        <i class="fas fa-arrow-right pe-2"></i> <strong>Start Review</strong>
                      </button>
                    </div>
                  </div>
                  <div class="row mx-auto justify-content-center">
                    <div class="col-7 mx-auto">
                      <img 
                        src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/card_assets/Cult%20Classic%20%20Cultivar%20Emblem.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvY2FyZF9hc3NldHMvQ3VsdCBDbGFzc2ljICBDdWx0aXZhciBFbWJsZW0uc3ZnIiwiaWF0IjoxNjk0MTQyMjAyLCJleHAiOjE3MjU2NzgyMDJ9.FH3G7aI8gSni20WSrYnYSy5OuaM6sv_McyyXunRGVig&t=2023-09-08T03%3A03%3A22.770Z"
                        class="img-fluid rounded-5" 
                        alt="Cannabis Cult Circle Logo"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-9 mx-auto">
                  <button type="button" id="addToListBtn" class="btn btn-lg btn-light w-100 fs-6" style="border: 3px solid black;">
                    <strong>Add to My List</strong>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="review-interface" id="review-interface" style="display: none;">
  <div class="container">
    <div class="row justify-content-center my-3">
      <div class="col-12 col-sm-12 col-md-9 mx-auto">
        <button type="button" class="btn btn-lg btn-info w-100" id="backToCardBtn">
          <strong>Close</strong>
        </button>
      </div>
      <h3 class="display-4 text-center my-3"></h3>
      {% include "components/forms/preroll_rating_form.html" %}
    </div>
  </div>
</div>
{% block scripts %}
<script async>

const productType = "pre-roll";
const strainValue = "{{ strain }}";
const cultivatorValue = "{{ cultivator }}";
const preRollIdValue = "{{ pre_roll_id }}";
if (!preRollIdValue) {
  preRollIdValue = "{{ id }}";
}
document.addEventListener('DOMContentLoaded', async (event) => {
  const startReviewBtn = document.getElementById('startReviewBtn');
  const backToCardBtn = document.getElementById('backToCardBtn');
  const voteInterface = document.getElementById('vote-interface');
  const reviewInterface = document.getElementById('review-interface');
  const reviewImage = document.getElementById('reviewImage');
  const addToListBtn = document.getElementById('addToListBtn');
  const toggleReviewInterface = () => {
    voteInterface.style.display = 'none';
    reviewInterface.style.display = 'block';
  };

  startReviewBtn.addEventListener('click', toggleReviewInterface);
  reviewImage.addEventListener('click', toggleReviewInterface);

  backToCardBtn.addEventListener('click', function() {
    reviewInterface.style.display = 'none';
    voteInterface.style.display = 'block';
  });
});
async function fetchUserStrains(email) {
  try {
    const response = await fetch('/users/my_strains/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({email: email})
    });
    if (!response.ok) {
      throw new Error('Failed to fetch strains');
    }
    return await response.json();
  } catch (error) {
    console.error('Error fetching strains:', error);
    return [];  // Return empty array on failure to avoid further errors
  }
}
async function addStrainToMyList(email, strain, cultivator, type) {
  const data = { email, strain, cultivator, product_type: type, to_review: true };
  try {
    const response = await fetch('/users/add_strain_to_list', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    });

    if (!response.ok) {
      throw new Error('Failed to add strain to list');
    }

    const result = await response.json();
    console.log('Added to list successfully:', result);
    alert('Strain added to your list successfully!');
    initializeButtonState(email, strain, cultivator, type, document.getElementById('addToListBtn'));
  } catch (error) {
    console.error('Error adding strain to list:', error);
    alert('Error adding strain to your list.');
  }
}
async function removeStrainFromList(email, strain, cultivator, type) {
  const data = {
    email: email,
    strain: strain,
    cultivator: cultivator,
    product_type: type
  };

  try {
    const response = await fetch('/users/delete_strain_from_list/', {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    });

    if (response.status === 204) {  // Check for the correct status code for no content
      console.log('Strain removed successfully');
      alert('Strain removed from your list successfully!');
      initializeButtonState(email, strain, cultivator, type, document.getElementById('addToListBtn'));
    } else {
      throw new Error('Failed to remove strain from list');
    }
  } catch (error) {
    console.error('Error removing strain from list:', error);
    alert('Error removing strain from your list.');
  }
}
async function initializeButtonState(email, strain, cultivator, type, button) {
  const myStrains = await fetchUserStrains(email);
  const isListed = myStrains.some(item => 
    item.strain === strain && item.cultivator === cultivator && item.product_type === type
  );

  button.textContent = isListed ? 'Remove from My List' : 'Add to My List';
  button.onclick = isListed ? () => removeStrainFromList(email, strain, cultivator, type) : () => addStrainToMyList(email, strain, cultivator, type);
}

window.addEventListener('supabaseClientReady', async function() {
  const imageUrls = await window.supabaseClient.fetchImageUrls("pre-roll", preRollIdValue);
  if (imageUrls && imageUrls.length > 0) {
    await window.supabaseClient.updateCarouselWithImages(imageUrls);
  }
  const strainValue = "{{ strain }}";
  const userEmail = await window.supabaseClient.getCurrentUserEmail();
  await initializeButtonState(userEmail, strainValue, cultivatorValue, productType, addToListBtn);
});
</script>
<script type="module" src="{{ url_for('static', path='js/generate_preroll_rating_questions.js') }}" async></script>
{% endblock %}
