{% block head%}
{% endblock %}

{% block content %}
<div 
  id="calendar" 
  class="calendar" data-mdb-calendar-init 
  data-mdb-readonly="true" 
  data-mdb-view-select="false" 
  data-mdb-add-event-button="false"
  style="height: 600px; position: relative;"
>
  <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
  const calendarElement = document.getElementById('calendar');
  const spinner = calendarElement.querySelector('.spinner-border');
  if (spinner) {
      spinner.remove();
  }
  window.addEventListener('supabaseClientReady', async function() {
    const events = [
        {
            summary: 'Cannabis Cult Connoisseur Pack',
            description: 'Connoisseur Packs are Back!',
            start: {date: '01/03/2024', datetime: '01/03/2024 09:00 AM'},
            end: {date: '15/03/2024', datetime: '15/03/2024 09:00 AM'},
            color: { background: '#cfe0fc', foreground: '#0a47a9' },
            id: 1
        },
    ];
    const calendarInstance = Calendar.getInstance(calendarElement);
    calendarInstance.addEvents(events);
  });
});
</script>
{% endblock %}
