{% block head%}
{% endblock %}
<div id="calendar" class="calendar" data-mdb-calendar-init data-mdb-readonly="true" data-mdb-view-select="false" data-mdb-add-event-button="false"></div>
{% block scripts %}
<script>
$(document).ready(function() {
  window.addEventListener('supabaseClientReady', async function() {
    const events = [
        {
            summary: 'Cannabis Cult Connoisseur Pack',
            description: 'Connoisseur Packs are Back!',
            start: {date: '01/03/2024', datetime: '01/03/2024 09:00 AM'},
            end: {date: '15/03/2024', datetime: '15/03/2024 09:00 AM'},
            color: { background: '#cfe0fc', foreground: '#0a47a9' },
            id: 1
        },
    ];
    const calendarElement = document.getElementById('calendar');
    const calendarInstance = Calendar.getInstance(calendarElement);
    calendarInstance.addEvents(events);
  });
});
</script>
{% endblock %}
