{%block head %}
<style>
.datatable-pagination {
    width: 100%; /* Full width */
    justify-content: center; /* Center the pagination controls if they are flex items */
}

/* You might need to adjust the padding or margins as well */
.datatable-pagination > * {
    padding: 0;
    margin: 0 auto; /* Center elements with auto margins */
}
</style>
{% endblock %}

  <div id="ratings-container"></div>

{% block scripts %}
<script type="module" src="{{ url_for('static', path='js/createDatatable.js') }}"></script>
{% endblock %}
