{% extends "shared/base.html" %}

{% block title %} 
  <title>Connoisseur Concentrates Pack One Success</title>
{% endblock %} 

{% block head %}
  <meta 
    property="og:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/Connoisseur_Transitions/BadderUp.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL0Nvbm5vaXNzZXVyX1RyYW5zaXRpb25zL0JhZGRlclVwLndlYnAiLCJpYXQiOjE3MDg3MDQ0NjQsImV4cCI6MTc0MDI0MDQ2NH0.1zyCfV6c0k9sWIMYYl8_bL1gn86XubEHFyWKDK7oaJo&t=2024-02-23T16%3A07%3A44.738Z"
    alt="Connoisseur Live Resin pack promotional image showing $99 for three grams of Live Resin on sale on participating Greenlight Dispensaries starting March 1st, 2024."
  />
  <meta 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices. Get invloved today." 
    name="description"
  />
  <meta 
    property="og:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    property="og:title" 
    content="The Cannabis Cult"
  />
  <meta 
    name="twitter:card" 
    content="summary_large_image"
  />
  <meta 
    property="twitter:url" 
    content="https://cannabiscult.co"
  />
  <meta 
    property="twitter:title" 
    content="The Cannabis Cult Connoisseur Concentrates Ranking Success"
  />
  <meta 
    property="twitter:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    name="twitter:site" 
    content="https://cannabiscult.co/"
  />
  <meta 
    property="twitter:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/Connoisseur_Transitions/BadderUp.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL0Nvbm5vaXNzZXVyX1RyYW5zaXRpb25zL0JhZGRlclVwLndlYnAiLCJpYXQiOjE3MDg3MDQ0NjQsImV4cCI6MTc0MDI0MDQ2NH0.1zyCfV6c0k9sWIMYYl8_bL1gn86XubEHFyWKDK7oaJo&t=2024-02-23T16%3A07%3A44.738Z"
    alt="Connoisseur Live Resin pack promotional image showing $99 for three grams of Live Resin on sale on participating Greenlight Dispensaries starting March 1st, 2024."
  />
{% endblock %}
{% block content %}
<style> 
  .cascading-right { margin-right: -50px; } 
  
  @media ( max-width: 991.98px ){ 
    .cascading-right { margin-right: 0; } 
  }
</style>
<div id="preview" class="preview">
  <div style="display: none;"></div>
  <div>
    <div style="position: relative;" data-draggable="true" draggable="false" class="">
      <section draggable="false" class="container pt-0" data-v-271253ee="">
        <section class="mb-5 text-center text-lg-start"> 
          <div class="container py-4">
            <div class="row g-0 align-items-center my-auto">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                  <div class="card-body px-4 pb-5 pt-md-0 px-md-5 shadow-5">
                    <h1 class="my-5 display-4 fw-bold ls-tight">
                      <span>Rate all three strains to crown the Champion.</span>
                    </h1>
                    <a 
                      class="btn btn-dark py-3 px-5 mb-2 mb-md-0 me-md-1 mb-lg-2 ripple-surface-info" 
                      href="/concentrate-get-review?strain_selected=LIVE+RESIN+CP+1&cultivator_selected=Cultivar" 
                      data-ripple-color="primary" 
                      role="button" 
                      aria-controls="#picker-editor" 
                      draggable="false" 
                    >
                      Rate LR 1
                    </a> 
                    <a 
                      class="btn btn-secondary shadow-5 py-3 px-5 mb-2 mb-md-0 me-md-1 mb-lg-2 ripple-surface-primary" 
                      data-ripple-color="primary" 
                      href="/concentrate-get-review?strain_selected=LIVE+RESIN+CP+2&cultivator_selected=Cultivar" 
                      role="button" 
                      aria-controls="#picker-editor" 
                      draggable="false"
                    >
                      Rate LR 2
                    </a>
                    <a 
                      class="btn btn-info py-3 px-5 mb-2 mb-md-0 me-md-1 mb-xl-2 ps-ls-4 ripple-surface-secondary" 
                      data-ripple-color="primary" 
                      href="/concentrate-get-review?strain_selected=LIVE+RESIN+CP+3&cultivator_selected=Cultivar" 
                      role="button" 
                      aria-controls="#picker-editor" 
                      draggable="false"
                    >
                      Rate LR 3
                    </a>
                  </div> 
                </div>
              </div>
              <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/Connoisseur_Transitions/badderupTRANS.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL0Nvbm5vaXNzZXVyX1RyYW5zaXRpb25zL2JhZGRlcnVwVFJBTlMud2VicCIsImlhdCI6MTcwODcwNTA3MCwiZXhwIjoxNzQwMjQxMDcwfQ.kqjn3TI1dNf0rB0-wUtEDFY2-ztbNS7ftO6MMolcsis&t=2024-02-23T16%3A17%3A50.729Z" class="w-100 rounded-4 shadow-4" alt="" aria-controls="#picker-editor" draggable="false">
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>
</div>
<div class="d-flex d-md-none pt-0 mt-0">
{% include "components/homepage_elements/top_logo_header.html" %}
</div>
{% endblock %}  

{% block footer %}
{% endblock %}
  
{% block scripts %} 
{% endblock %}
