{% extends "shared/base.html" %}

{% block title %} 
  <title>Connoisseur Flower Pack July Transition</title>
{% endblock %} 

{% block head %}
  <meta 
    property="og:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/Connoisseur_Transitions/julytransition.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL0Nvbm5vaXNzZXVyX1RyYW5zaXRpb25zL2p1bHl0cmFuc2l0aW9uLndlYnAiLCJpYXQiOjE3MjEyMzgxOTMsImV4cCI6MTc1Mjc3NDE5M30.G17_ivI_puJBIddI8KxG50Ht8gdNiphaL9VmLVaLtXU&t=2024-07-17T17%3A43%3A13.706Z"
    alt="Cannabis Cult Connoisseur Pack How-To for the July 2024 release."
  />
  <meta 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices." 
    name="description"
  />
  <meta 
    property="og:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    property="og:title" 
    content="The Cannabis Cult"
  />
  <meta 
    name="twitter:card" 
    content="summary_large_image"
  />
  <meta 
    property="twitter:url" 
    content="https://cannabiscult.co"
  />
  <meta 
    property="twitter:title" 
    content="The Cannabis Cult Connoisseur Flower Pack July Transition"
  />
  <meta 
    property="twitter:description" 
    content="The Cannbis Cult and it's members are connecting every aspect of the Cannabis supply chain, from Cultivators to Consumers, creating a network of the best available products and practices."
  />
  <meta 
    name="twitter:site" 
    content="https://cannabiscult.co/"
  />
  <meta 
    property="twitter:image" 
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/Connoisseur_Transitions/julytransition.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL0Nvbm5vaXNzZXVyX1RyYW5zaXRpb25zL2p1bHl0cmFuc2l0aW9uLndlYnAiLCJpYXQiOjE3MjEyMzgxOTMsImV4cCI6MTc1Mjc3NDE5M30.G17_ivI_puJBIddI8KxG50Ht8gdNiphaL9VmLVaLtXU&t=2024-07-17T17%3A43%3A13.706Z"
    alt="Cannabis Cult Main Logo with Brain"
  />
{% endblock %}
{% block content %}
<style> 
  #allContent {
    background-image: url('https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/Connoisseur_Transitions/transition412.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL0Nvbm5vaXNzZXVyX1RyYW5zaXRpb25zL3RyYW5zaXRpb240MTIud2VicCIsImlhdCI6MTcxMjg5MDk3NiwiZXhwIjoxNzQ0NDI2OTc2fQ.HeWdiY0eVPBYqjUBmrUvW7oplzQwASu11lN6OXhavnI&t=2024-04-12T03%3A02%3A57.012Z');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
  }
  #allContent::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    pointer-events: none;
    z-index: 1;
  }
 #content {
    position: relative;
    z-index: 2;
  }
  .cascading-right { margin-right: -50px; } 

  @media ( max-width: 991.98px ){ 
    .cascading-right { margin-right: 0; } 
  }
</style>
<div id="allContent">
  <div id="content">
    <div id="preview" class="preview pt-md-5" style="min-height: 100vh">
      <div>
        <div style="position: relative;" data-draggable="true" draggable="false">
          <section draggable="false" class="container pt-0" data-v-271253ee="">
            <section class="mb-5 text-center text-lg-start"> 
              <div class="container py-4 pt-lg-4 pb-lg-0">
                <div class="row g-0 align-items-center my-auto">
                  <div class="col-lg-6 mb-5 mb-lg-0 mx-auto-md">
                    <div class="card cascading-right" style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                      <div class="card-body px-4 pb-5 pt-md-0 px-md-5 shadow-5">
                        <h1 class="my-5 display-4 fw-bold ls-tight">
                          <span>Rate All 4 Strains</span>
                        </h1>
                        <div class="row g-2">
                          <div class="col-6 col-lg-5 g-2">
                             <a 
                              class="btn btn-dark btn-lg ripple-surface-info w-100" 
                              href="/get-review?cultivator_selected=Notorious&strain_selected=Piezatti"
                              data-ripple-color="primary" 
                              role="button" 
                              draggable="false" 
                            >
                              Piezatti
                            </a>
                          </div>
                          <div class="col-6 col-lg-5">
                            <a 
                              class="btn btn-secondary btn-lg ripple-surface-primary w-100"
                              data-ripple-color="primary" 
                              href="/get-review?cultivator_selected=Amaze&strain_selected=Sub+Zero" 
                              role="button" 
                              draggable="false"
                            >
                              Sub Zero
                            </a>
                          </div>
                          <div class="col-6 col-lg-5">
                            <a 
                              class="btn btn-info btn-lg ripple-surface-secondary w-100"
                              data-ripple-color="primary" 
                              href="/get-review?cultivator_selected=Daybreak&strain_selected=AF-1" 
                              role="button" 
                              draggable="false"
                            >
                              AF-1
                            </a>
                          </div>
                          <div class="col-6 col-lg-5">
                            <a 
                              class="btn btn-warning btn-lg ripple-surface-dark w-100"
                              data-ripple-color="primary" 
                              href="/get-review?cultivator_selected=Camp&strain_selected=Biscotti+Pie+6" 
                              role="button" 
                              draggable="false"
                            >
                              Biscotti Pie 6
                            </a>
                          </div>
                          <span class="display-6 py-5">For Your Ratings to Count</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-5 mb-lg-0">
                    <div id="carouselSuccessImages" class="carousel slide carousel-fade pb-5" data-mdb-ride="carousel" data-mdb-carousel-init>
                      <div class="carousel-inner rounded-5 shadow-4-strong">
                        <div class="carousel-item active">
                          <img 
                            src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/Connoisseur_Transitions/julytransition.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL0Nvbm5vaXNzZXVyX1RyYW5zaXRpb25zL2p1bHl0cmFuc2l0aW9uLndlYnAiLCJpYXQiOjE3MjEyMzgxOTMsImV4cCI6MTc1Mjc3NDE5M30.G17_ivI_puJBIddI8KxG50Ht8gdNiphaL9VmLVaLtXU&t=2024-07-17T17%3A43%3A13.706Z"
                            class="d-block w-100 rounded-4 shadow-4"
                            alt="Connoisseur Flower Pack for July 2024 instructions" aria-controls="#picker-editor" draggable="false" data-mdb-interval="5000" loading="lazy">
                        </div>
                        <!--
                        <div class="carousel-item">
                          <img src="" class="d-block w-100 rounded-4 shadow-4" alt="" aria-controls="#picker-editor" draggable="false" data-mdb-interval="5000" loading="lazy">
                        </div>                        
                        <div class="carousel-item">
                          <img src="" class="d-block w-100 rounded-4 shadow-4" alt="" aria-controls="#picker-editor" draggable="false" data-mdb-interval="5000" loading="lazy">
                        </div>
                        -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
    <div class="row align-items-center text-center pt-0 mt-0">
    {% include "components/homepage_elements/top_logo_header.html" %}
    </div>
  </div>
</div>
{% endblock %}  

{% block footer %}
{% endblock %}
  
{% block scripts %} 
{% endblock %}
