{% extends "shared/base.html" %}

{% block title %}
  <title>Connoisseur Rosin Championship 2025</title>
{% endblock %}

{% block head %}
  <meta 
    property="og:image"
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/cannabiscult/webiste_assests/logos/text_logo/cc_text_logo.png"
    alt="Cannabis Cult Connoisseur Rosin Championship 2025."
  />
  <meta 
    name="description"
    content="Join The Cannabis Cult for the Connoisseur Rosin Championship 2025 in Missouri, featuring the finest Live Rosin and celebrating top cannabis cultivators."
  />
  <meta 
    property="og:description"
    content="Join The Cannabis Cult for the Connoisseur Rosin Championship 2025 in Missouri, featuring the finest Live Rosin and celebrating top cannabis cultivators."
  />
  <meta 
    property="og:title"
    content="Connoisseur Rosin Championship 2025"
  />
  <meta 
    name="twitter:card"
    content="summary_large_image"
  />
  <meta 
    property="twitter:url"
    content="https://cannabiscult.co"
  />
  <meta 
    property="twitter:title"
    content="Connoisseur Rosin Championship 2025"
  />
  <meta 
    property="twitter:description"
    content="Join The Cannabis Cult for the Connoisseur Rosin Championship 2025 in Missouri, featuring the finest Live Rosin and celebrating top cannabis cultivators."
  />
  <meta 
    name="twitter:site"
    content="https://cannabiscult.co/"
  />
  <meta 
    property="twitter:image"
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/cannabiscult/webiste_assests/logos/text_logo/cc_text_logo.png"
    alt="Cannabis Cult - Connoisseur Rosin Championship 2025"
  />
{% endblock %}
{% block content %}
<style>
  #allContent {
    background-image: url('');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
  }
  #allContent::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    pointer-events: none;
    z-index: 1;
  }
 #content {
    position: relative;
    z-index: 2;
  }
  .cascading-right { margin-right: -50px; }

  @media ( max-width: 991.98px ){
    .cascading-right { margin-right: 0; }
  }
</style>
<div id="allContent">
  <div id="content">
    <div id="preview" class="preview" style="min-height: 100vh">
      <div style="display: none;"></div>
      <div>
        <div style="position: relative;">
          <section draggable="false" class="container pt-0" data-v-271253ee="">
            <section class="mb-5 text-center text-lg-start"> 
              <div class="container py-4">
                <div class="row g-0 align-items-center my-auto">
                  <div class="col-lg-6 mb-5 mb-lg-0 mx-auto-md">
                    <div class="card cascading-right" style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                      <div class="card-body px-4 pb-5 pt-md-0 px-md-5 shadow-5">
                        <h1 class="my-5 display-5 fw-bold ls-tight flex-shrink">
                          <span class="text-dark">Rosin Championship 2025</span><br><span class="display-6">Details Coming Soon</span>
                        </h1>
                        <div class="row g-0 g-sm-2 my-auto px-3 d-flex">
                          <div class="col-9 col-sm-6 mx-auto">
                            <a 
                              class="btn btn-dark btn-lg py-3 px-5 mb-2 mb-md-0 me-md-1 mb-lg-2 ripple-surface-info w-100 flex-shrink-1" 
                              href="/concentrate-get-review?strain_selected=RC+39&cultivator_selected=Connoisseur" 
                              data-ripple-color="primary" 
                              role="button" 
                              aria-controls="#picker-editor" 
                              draggable="false"
                              style="min-width: fit-content; flex: 1;"
                            >
                              RC 39
                            </a>
                          </div>
                          <div class="col-9 col-sm-6 mx-auto">
                            <a 
                              class="btn btn-secondary btn-lg shadow-5 py-3 px-5 mb-2 mb-md-0 me-md-1 mb-lg-2 ripple-surface-primary w-100 flex-shrink-1" 
                              data-ripple-color="primary" 
                              href="/concentrate-get-review?strain_selected=RC+40&cultivator_selected=Connoisseur" 
                              role="button" 
                              aria-controls="#picker-editor" 
                              draggable="false"
                              style="min-width: fit-content; flex: 1;"
                            >
                              RC 40
                            </a>
                          </div>
                          <div class="col-9 col-sm-6 mx-auto">
                            <a 
                              class="btn btn-info btn-lg py-3 px-5 mb-2 mb-md-0 me-md-1 mb-xl-2 ps-ls-4 ripple-surface-secondary w-100 flex-shrink-1" 
                              data-ripple-color="primary" 
                              href="/concentrate-get-review?strain_selected=RC+41&cultivator_selected=Connoisseur" 
                              role="button" 
                              aria-controls="#picker-editor" 
                              draggable="false"
                              style="min-width: fit-content; flex: 1;"
                            >
                              RC 41
                            </a>
                          </div> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-5 mb-lg-0 my-auto">
                    <div id="carouselSuccessImages" class="carousel slide carousel-fade pb-5" data-mdb-ride="carousel" data-mdb-carousel-init>
                      <div class="carousel-inner rounded-5 shadow-4-strong bg-light">
                        <div class="carousel-item active">
                          <img 
                            src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/cannabiscult/webiste_assests/logos/text_logo/cc_text_logo.webp"
                            alt="Info about the upcoming Rosin Challenge Coming Soon"
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#picker-editor"
                            draggable="false"
                            data-mdb-interval="5000"
                            loading="lazy"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}  

{% block footer %}
{% endblock %}
  
{% block scripts %}
{% endblock %}
