{% extends "shared/base.html" %}

{% block title %}
  <title>Connoisseur Rosin Championship 2025</title>
{% endblock %}

{% block head %}
  <meta 
    property="og:image"
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/cannabiscult/webiste_assests/Connoisseur_Transitions/rosin_division_2025/RosinChampionship2.pngng"
    alt="Cannabis Cult Connoisseur Rosin Championship 2025."
  />
  <meta 
    name="description"
    content="Join The Cannabis Cult for the Connoisseur Rosin Championship 2025 in Missouri, featuring the finest Live Rosin and celebrating top cannabis cultivators."
  />
  <meta 
    property="og:description"
    content="Join The Cannabis Cult for the Connoisseur Rosin Championship 2025 in Missouri, featuring the finest Live Rosin and celebrating top cannabis cultivators."
  />
  <meta 
    property="og:title"
    content="Connoisseur Rosin Championship 2025"
  />
  <meta 
    name="twitter:card"
    content="summary_large_image"
  />
  <meta 
    property="twitter:url"
    content="https://cannabiscult.co"
  />
  <meta 
    property="twitter:title"
    content="Connoisseur Rosin Championship 2025"
  />
  <meta 
    property="twitter:description"
    content="Join The Cannabis Cult for the Connoisseur Rosin Championship 2025 in Missouri, featuring the finest Live Rosin and celebrating top cannabis cultivators."
  />
  <meta 
    name="twitter:site"
    content="https://cannabiscult.co/"
  />
  <meta 
    property="twitter:image"
    content="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/cannabiscult/webiste_assests/Connoisseur_Transitions/rosin_division_2025/RosinChampionship2.png"
    alt="Cannabis Cult - Connoisseur Rosin Championship 2025"
  />
{% endblock %}
{% block content %}
<style>
  #allContent {
    background-image: url('');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
  }
  #allContent::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    pointer-events: none;
    z-index: 1;
  }
 #content {
    position: relative;
    z-index: 2;
  }
  .cascading-right { margin-right: -50px; }

  @media ( max-width: 991.98px ){
    .cascading-right { margin-right: 0; }
  }
</style>
<div id="allContent">
  <div id="content">
    <div id="preview" class="preview" style="min-height: 100vh">
      <div style="display: none;"></div>
      <div>
        <div style="position: relative;">
          <section draggable="false" class="container pt-0" data-v-271253ee="">
            <section class="mb-5 text-center text-lg-start"> 
              <div class="container py-4">
                <div class="row g-0 align-items-center my-auto">
                  <div class="col-lg-6 mb-5 mb-lg-0 mx-auto-md">
                    <div class="card cascading-right" style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                      <div class="card-body px-4 pb-5 pt-md-0 px-md-5 shadow-5">
                        <h1 class="my-5 display-5 fw-bold ls-tight flex-shrink">
                          <span class="text-dark">Rosin Championship 2025</span><br><span class="display-6">Details Coming Soon</span>
                        </h1>
                        <div class="row g-0 g-sm-2 my-auto px-3 d-flex">
                          <div class="col-9 col-sm-6 mx-auto">
                            <a 
                              class="btn btn-dark btn-lg py-3 px-5 mb-2 mb-md-0 me-md-1 mb-lg-2 ripple-surface-info w-100 flex-shrink-1" 
                              href="/concentrate-get-review?strain_selected=RC+39&cultivator_selected=Connoisseur&product_type=concentrate" 
                              data-ripple-color="primary" 
                              role="button" 
                              aria-controls="#picker-editor" 
                              draggable="false"
                              style="min-width: fit-content; flex: 1;"
                            >
                              Blueberry Clem.
                            </a>
                          </div>
                          <div class="col-9 col-sm-6 mx-auto">
                            <a 
                              class="btn btn-secondary btn-lg shadow-5 py-3 px-5 mb-2 mb-md-0 me-md-1 mb-lg-2 ripple-surface-primary w-100 flex-shrink-1" 
                              data-ripple-color="primary" 
                              href="/concentrate-get-review?strain_selected=RC+40&cultivator_selected=Connoisseur&product_type=concentrate" 
                              role="button" 
                              aria-controls="#picker-editor" 
                              draggable="false"
                              style="min-width: fit-content; flex: 1;"
                            >
                              Grape Sunkist
                            </a>
                          </div>
                          <div class="col-9 col-sm-6 mx-auto">
                            <a 
                              class="btn btn-info btn-lg py-3 px-5 mb-2 mb-md-0 me-md-1 mb-xl-2 ps-ls-4 ripple-surface-secondary w-100 flex-shrink-1" 
                              data-ripple-color="primary" 
                              href="/concentrate-get-review?strain_selected=RC+41&cultivator_selected=Connoisseur&product_type=concentrate" 
                              role="button" 
                              aria-controls="#picker-editor" 
                              draggable="false"
                              style="min-width: fit-content; flex: 1;"
                            >
                              Grape Sherb
                            </a>
                          </div> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-5 mb-lg-0 my-auto">
                    <div id="carouselSuccessImages" class="carousel slide carousel-fade pb-5" data-mdb-ride="carousel" data-mdb-carousel-init>
                      <div class="carousel-inner rounded-5 shadow-4-strong bg-light">
                        <div class="carousel-item active">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/rosin_2025/2025_rosing_results.webp"
                            alt="Announcement of the Live Rosin Championship winners showcasing the top three strains: Blueberry Clementine by Amaze Cannabis (1st place), Grape Sunkist by Vibe Cannabis (2nd place), and Grape Sherb by Mondock Melts (3rd place). The background features a championship theme, highlighting local cannabis brands."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/rosin_2025/2025_rosin_result_chart.webp"
                            alt="A detailed table displaying the results of the Connoisseur Pack Live Rosin Championship, featuring strain names and their ratings in categories such as color, aroma, consistency, flavor, smoothness, residuals, effects, and overall score. Three strains are highlighted: Blueberry Clementine, Grape Sunkist, and Grape Sherb, with their respective scores. Ideal for local cannabis retailers and enthusiasts evaluating product quality."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/rosin_2025/amaze_blueberry_clementine_results.webp"
                            alt="A close-up image of Amaze's Blueberry Clementine with a total THC content of 82.92%. The display includes aroma, flavor, and effects pie charts, showcasing characteristics like fruity and citrus notes and effects such as calming and relaxing. The branding is from Amaze Cannabis."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/rosin_2025/amaze_blueberry_clementine_quotes.webp"
                            alt="Close-up of a cannabis concentrate labeled 'Blueberry Clementine' with descriptions of flavor notes and terpene profiles. The texture resembles a creamy, vibrant citrus gelato. Featured quotations discuss the smooth, fruity characteristics and aroma, highlighting its appeal as an indicas-hybrid with a total THC of 82.92%."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/rosin_2025/vibe_grape_sunkist_results.webp"
                            alt="A close-up image of a cannabis concentrate labeled 'Grape Sunkist' featuring a total THC content of 68.17%. The design includes radial charts illustrating the aromas (grape, berry, sweet, etc.), flavors (sweet, gassy, tropical), and effects (sedative, happy, relaxing) associated with this sativa-hybrid strain from Vibe Cannabis."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/rosin_2025/vibe_grape_sunkist_quotes.webp"
                            alt="A promotional image for 'Grape Sunkist' cannabis product from Vibe Cannabis featuring connoisseur tasting notes. Descriptions highlight flavors like sweet, creamy, berry notes, and tropical fruit, alongside prominent terpenes: b-caryophyllene, limonene, and b-myrcene. The image includes a sample of the product, presented in a white container, placed next to a dab tool."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/rosin_2025/mm_grape_sherb_results.webp"
                            alt="Close-up image of Monopoly Melt's Grape Sherb cannabis concentrate displayed on a metal tool, showcasing its creamy texture. The infographic includes THC percentage of 68.18% and indicates it as an indica-hybrid. Also featured are pie charts detailing aroma (sweet, funky, herbal, etc.), flavor (grape, sherb, tangy), and effects (euphoric, relaxing, sedative)."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/rosin_2025/mm_grape_sherb_quotes.webp"
                            alt="A promotional image featuring the Grape Sherb cannabis concentrate with tasting notes highlighting its sweet, citrusy flavor profile and terpenes. The image includes a close-up of the concentrate alongside a container, with text describing its creamy texture and aromatic qualities, making it appealing for local cannabis enthusiasts."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}  

{% block footer %}
{% endblock %}
  
{% block scripts %}
{% endblock %}
