<div style="position: relative;" data-draggable="true">
  <section draggable="false" class="container pt-5" data-v-271253ee="">
    <section class="mb-10">
      <h2 class="fw-bold mb-5 text-center">
        Cultivar News
      </h2>
      <div class="row gx-lg-5 mb-5 align-items-center">
        <div class="col-md-6 mb-4 mb-md-0">
          <a href="https://greenlightdispensary.com/" class="text-decoration-none" target="_blank" rel="noopener noreferrer">
            <img 
              src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/Connoisseur_Transitions/BadderUp.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL0Nvbm5vaXNzZXVyX1RyYW5zaXRpb25zL0JhZGRlclVwLndlYnAiLCJpYXQiOjE3MDg3MDAxMTgsImV4cCI6MTc0MDIzNjExOH0.IfHG5B_l63p0XJmmuQbFq7F7RlWQ-DZPQA0ZEoIYHJk&t=2024-02-23T14%3A55%3A18.231Z" 
              class="w-100 shadow-4-strong rounded-4 mb-4" 
              alt="Connoisseur Live Resin pack promotional image showing $99 for three grams of Live Resin on sale on participating Greenlight Dispensaries starting March 1st, 2024." 
              aria-controls="#picker-editor"
              loading="lazy"
            >
          </a>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="fw-bold">
            Connoisseur Concentrates are Back!<br>
          </h3>
        <div class="mb-2 text-dark small">
          <i class="fas fa-bong me-2" aria-controls="#picker-editor"></i>
          <span>March 1st - <a class="text-decoration-none text-dark" href="https://greenlightdispensary.com/" target="_blank" rel="noopener noreferrer">Greenlight Dispensaries</a></span>
        </div>
        <p class="text-muted">
          The Connoisseur Challenge is back on March 1st at <a class="text-decoration-none text-info" href="https://greenlightdispensary.com/" target="_blank" rel="noopener noreferrer">Greenlight Dispensaries</a> with our first Live Resin Packs. Our reigning Rosin Champion, <a class="text-decoration-none text-info" href="https://www.vibecanna.com/" target="_blank" rel="noopener noreferrer">Vibe Cannabis</a> takes on our Citrus Pack Runner-Up, <a target="_blank" rel="noopener noreferrer" class="text-decoration-none text-info" href="https://lettuce-cone-wrx4.squarespace.com/infinity"> Nuthera with their Infinity</a> line, and a highly anticipated first time entrant, <a target="_blank" rel="noopener noreferrer" class="text-decoration-none text-info" href="https://sinsecannabis.com/">Sinse Cannabis</a>.
        </p>
        <p class="text-muted">
          For only $99.00 you will get one gram of premium Live Resin from each of the cultivators. After enjoying, scan the QR code provided on the container to help crown the Connoisseur Champion.
        </p>
        <a class="btn btn-info" href="https://www.reddit.com/r/thecannabiscult/" role="button" target="_blank" rel="noopener noreferrer">
          Visit Greenlight
        </a>
      </div>
    </div>
      <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
        <div class="col-md-6 mb-4 mb-md-0">
          <a href="/concentrate-get-review?strain_selected=Mississippi+Nights&cultivator_selected=Vibe">
            <img 
              src="https://preview.redd.it/happy-new-year-heres-some-rosin-shots-from-the-last-month-v0-xj6a3hefrdac1.jpg?width=640&crop=smart&auto=webp&s=38da949f51e009341df57c83368a49effffa2274" 
              class="w-100 shadow-4-strong rounded-4 mb-4" 
              alt="Closeup of Vibe Cannabis' Mississippi Nights Rosin produced in collaboration with Jay Willis of Tree1Four" 
              loading="lazy"
            >
          </a>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="fw-bold">Vibe Canna - Mississippi Nights</h3>
          <div class="mb-2 text-dark small">
            <i class="fas fa-cannabis me-2"></i>
            <span >Rosin Connoisseur Champ</span>
          </div>
          <p class="text-muted">
             Mississippi Nights was crowned our inaugural <a class="text-decoration-none text-info" href="https://www.reddit.com/r/MissouriMedical/comments/18sdwiw/results_for_the_cannabis_cult_blind_connoisseur/" target="_blank" rel="noopener noreferrer">Rosin Connoisseur Champion</a> and has taken home the belt.
          </p>
          <p class="text-muted">
            Vibe Cannabis details the collaboration with Jay Wills of Tree1Four <a class="text-decoration-none text-info" href="https://www.reddit.com/r/MissouriMedical/comments/18ttuc8/mississippi_nights_the_story_behind_the_cannabis/" target="_blank" rel="noopener noreferrer">Reddit post explaining the backstory of the strain</a> and the appreciation of our iconic Landing venue or checkout <a href="https://mogreenway.com/2024/02/16/growing-together-the-genetics-of-tree1four-grown-by-vibe-cannabis/" class="text-decoration-none text-info" target="_blank" rel="noopener">Greenway's article detailing the collaboration</a> with Tree1Four gentics.
          </p>
          <a class="btn btn-info" href="/concentrate-get-review?strain_selected=Mississippi+Nights&cultivator_selected=Vibe" role="button" aria-controls="#picker-editor">
            Rate Vibe Rosin
          </a>
        </div>
      </div>
      <div class="row gx-lg-5 mb-5 align-items-center">
        <div class="col-md-6 mb-4 mb-md-0">
          <a href="https://www.riverfronttimes.com/weed/local-cannabis-purple-43-packs-a-powerful-punch-41770754">
            <img 
              src="https://preview.redd.it/connoisseur-pack-reveal-citrus-edition-v0-685f9uh0kfec1.jpg?width=640&crop=smart&auto=webp&s=6da837aa8d1563df05b19d97815c0fa79d2a583b"
              class="w-100 shadow-4-strong rounded-4 mb-4" 
              alt="Event notes for the January 12th, 2024 edition of the Cannabis Cult's Connoisseur Flower Ratings Challenge."
              loading="lazy"
            >
          </a>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="fw-bold">Purple 43 is the Citrus Champ
            <br>Local remains Flower Champ
          </h3>
          <div class="mb-2 text-dark small">
            <i class="fas fa-joint me-2"></i>
            <span>January 26th, 2024</span>
          </div>
          <p class="text-muted">
            Reigning champion <a href="https://kansascity.localcannabiscompany.com/" class="text-decoration-none text-info" target="_blank" rel="noopener noreferrer">Local Cannabis</a> has defended their belt against <a class="text-decoration-none text-info" href="https://greenlightdispensary.com/" target="_blank" rel="noopener noreferrer">Greenlight</a>, <a class="text-decoration-none text-info" href="https://vibecanna.com/" target="_blank" rel="noopener noreferrer">Vibe</a>, and newcomer <a class="text-decoration-none text-info" href="https://lettuce-cone-wrx4.squarespace.com/welcome" target="_blank" rel="noopener noreferrer">Nuthera</a> in the Citrus Edition of the Connoisseur Flower Pack.
          </p>
          <p class="text-muted">
            Although Local has claimed the belt with their Purple 43, the competition only seems to be heating up. Reach out to your local dispensary and be sure to ask if they will be carrying the next Connoisseur Pack after reading <a class="text-decoration-none text-info" href="https://www.riverfronttimes.com/weed/local-cannabis-purple-43-packs-a-powerful-punch-41770754">the Riverfront Times Article</a> from our Cult Leader!
          </p>
          <a class="btn btn-info" href="https://cannabiscult.co/get-review?cultivator_selected=Connoisseur&strain_selected=Citrus+4" role="button">
            Rate Purple 43
          </a>
        </div>
      </div>
    </section>
  </section>
</div>
