<div style="position: relative;" data-draggable="true">
    <section draggable="false" class="container pt-5" data-v-271253ee="">
      <section class="mb-10">
        <h2 class="fw-bold mb-5 text-center">
          Cultivar News
        </h2>
        <div class="row gx-lg-5 mb-5 align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <img 
              src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/reviews/Local_Cannabis/Ice_Cream_Cake.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvcmV2aWV3cy9Mb2NhbF9DYW5uYWJpcy9JY2VfQ3JlYW1fQ2FrZS53ZWJwIiwiaWF0IjoxNzAxNTMxMjA2LCJleHAiOjE3MzMwNjcyMDZ9.1AjmM11iiEFLPKx6Lz18pAldpBxF-lJMIbLJcYqBvDI&t=2023-12-02T15%3A33%3A26.518Z" 
              class="w-100 shadow-4-strong rounded-4 mb-4" 
              alt="" 
              aria-controls="#picker-editor"
              loading="lazy"
            >
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <h3 class="fw-bold">Local Cannabis - Ice Cream Cake</h3>
          <div class="mb-2 text-dark small">
            <i class="fas fa-cannabis me-2" aria-controls="#picker-editor"></i>
            <span >Current Connoisseur Champ</span>
          </div>
            <p class="text-muted">
               Local Cannabis's Ice Cream Cake outshined the competition if the first of many Cannabis Cult Cultivar Rankings. 
            </p>
            <p class="text-muted">
              See Greenway Magazine's ratings of <a class="text-decoration-none text-dark" href="https://mogreenway.com/2023/10/20/high-scores-the-cannabis-cult-connoisseur-pack/">The Cannabis Cult Connoisseur Pack</a> and compare them to your own personal scores for each of the featured strains.
            </p>
            <a class="btn btn-info" href="/get-review?strain_selected=Ice+Cream+Cake&cultivator_selected=Local+Cannabis" role="button" aria-controls="#picker-editor">
              Rate Strain
            </a>
          </div>
        </div>
        <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <a href="https://www.riverfronttimes.com/weed/inside-missouris-first-of-its-kind-hash-hole-preroll-40911292">
              <img 
                src="https://media2.riverfronttimes.com/riverfronttimes/imager/u/blog/40911294/hashhole-01.jpg?cb=1695396674" 
                class="w-100 shadow-4-strong rounded-4 mb-4" 
                alt="VIBE Cannabis' infused joint manager hand-rolls a 'Hash-Hole' with medical gloves in this closeup image." 
                aria-controls="#picker-editor"
                loading="lazy"
              >
            </a>
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <h3 class="fw-bold">
              Cult Highlight<br>
            </h3>
            <div class="mb-2 text-dark small">
              <i class="fas fa-joint me-2" aria-controls="#picker-editor"></i>
              <span>Vibe's Hash Hole Pre-Roll</span>
            </div>
            <p class="text-muted">
              Our Cult Leader <a href="https://www.riverfronttimes.com/author/aaron-childs" class="text-decoration-none text-info">Aaron Childs</a> reviews Vibe's one of a kind "Hash Hole Pre-Roll" in the Riverfront Times breakdown.
            </p>
            <a class="btn btn-info" href="https://www.riverfronttimes.com/weed/inside-missouris-first-of-its-kind-hash-hole-preroll-40911292" role="button" aria-controls="#picker-editor">
              Read more
            </a>
          </div>
        </div>
        <div class="row gx-lg-5 mb-5 align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <img 
              src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/Connoisseur%20Transitions/transition%20rosin%20vote?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL0Nvbm5vaXNzZXVyIFRyYW5zaXRpb25zL3RyYW5zaXRpb24gcm9zaW4gdm90ZSIsImlhdCI6MTcwMTUzMTEyMywiZXhwIjoxNzMzMDY3MTIzfQ.xpONkLCf0_YVE0jcs8YzQduDksRtsJ9x1zFTaLv_kjg&t=2023-12-02T15%3A32%3A03.776Z" 
              class="w-100 shadow-4-strong rounded-4 mb-4" 
              alt="" 
              aria-controls="#picker-editor"
              loading="lazy"
            >
          </div>
          <div class="col-md-6 mb-4 mb-md-0">
            <h3 class="fw-bold">
              Connoisseur Concentrate Packs<br>
            </h3>
          <div class="mb-2 text- small">
            <i class="fas fa-bong me-2" aria-controls="#picker-editor"></i>
            <span>December 12th</span>
          </div>
          <p class="text-muted">
            The next Cultivar Rating event hosted with <a href="https://greenlightdispensary.com/" class="text-decoration-none text-dark">Greenlight Dispensaries</a> is going to be the first blind Concentrate Ratings for Cannabis Cult Cultivars. <a href="https://kansascity.localcannabiscompany.com/" class="text-decoration-none text-dark">Local Cannabis</a>, <a href="https://www.reddit.com/user/VibeCanna/?rdt=65524" class="text-decoration-none text-dark">Vibe</a>, and <a href="https://vividcannabis.com" class="text-decoration-none text-dark">Vivd</a> will be competeting to see who has the best Rosin available today.
          </p>
          <p class="text-muted">
            All Connoisseurs who rate the concentrates will be entered to win a $50.00 Greenlight credit and swag from the participants.
          </p>
          <a class="btn btn-info" href="https://www.stltoday.com/news/local/business/st-louis-company-puts-on-pepsi-challenge-of-cannabis-around-missouri/article_aaaa9d20-62fe-11ee-9749-b74fd338f171.html" role="button" aria-controls="#picker-editor">
            Learn More
          </a>
        </div>
      </div>
    </section>
  </section>
</div>
