<div 
  class="container-fluid text-center pt-3 pb-5" 
  aria-controls="#picker-editor"
  >
  <div class="py-5 py-md-0">
    <div 
      class="container-fluid text-center py-5" 
      style="padding:2em"
      data-aos="fade-in"
      data-aos-duration="2000"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="false"
      data-aos-anchor-placement="top-center"
    >
      <img class="img-fluid" src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/brain_vector.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL2JyYWluX3ZlY3Rvci5zdmciLCJpYXQiOjE2OTUwOTM0MzIsImV4cCI6MTcyNjYyOTQzMn0.aORzL_pXYA8OQGUdHaMGjO9qDPKZ7mSfeTnGK0ScNuU&t=2023-09-19T03%3A17%3A12.711Z" loading="lazy">
    </div>
  </div>
  <div class="py-5 py-md-0">
    <a 
      class="btn custom-gradient-button btn-lg py-3 px-5 me-2" 
      href="/login" 
      role="button" 
      aria-controls="#picker-editor"
    >
      <span>Join the Cult</span>
    </a>
  </div>
</div>
