<div 
  class="container text-center pt-3 pb-5" 
  aria-controls="#picker-editor"
  >
    <div class="py-5 py-md-0">
        <div 
          class="container text-center py-5 col-12 col-lg-8 mx-auto h-100" 
          style="padding:2em"
          data-aos="fade-in"
          data-aos-duration="2000"
          data-aos-easing="ease-in-out"
          data-aos-mirror="true"
          data-aos-once="false"
          data-aos-anchor-placement="top-center"
        >
            <div id="homepageCarousel" class="carousel slide carousel-fade carousel-dark" data-mdb-ride="carousel" data-mdb-carousel-init>
                <div class="carousel-indicators carousel-dark text-dark">
                    <button 
                        data-mdb-target="#homepageCarousel"
                        data-mdb-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="First Slide Button"
                    ></button>
                    <button 
                        data-mdb-target="#homepageCarousel"
                        data-mdb-slide-to="1"
                        aria-label="Second Slide Button"
                    ></button>
                    <button 
                        data-mdb-target="#homepageCarousel"
                        data-mdb-slide-to="2"
                        aria-label="Thrid Slide Button"
                    ></button>
                    <button 
                        data-mdb-target="#homepageCarousel"
                        data-mdb-slide-to="3"
                        aria-label="Fourth Slide Button"
                    ></button>
                    <button 
                        data-mdb-target="#homepageCarousel"
                        data-mdb-slide-to="4"
                        aria-label="Fifth Slide Button"
                    ></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active pb-4">
                      <a href="#cultSignUpButtonContainer" data-mdb-smooth-scroll-init data-mdb-container="#cultSignUpButtonContainer">
                        <img class="img-fluid d-block w-100 rounded-5 pb-5" src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/brain_vector.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL2JyYWluX3ZlY3Rvci5zdmciLCJpYXQiOjE2OTUwOTM0MzIsImV4cCI6MTcyNjYyOTQzMn0.aORzL_pXYA8OQGUdHaMGjO9qDPKZ7mSfeTnGK0ScNuU&t=2023-09-19T03%3A17%3A12.711Z" loading="lazy" alt="Cannabis Cult Primary Logo in Black and White"/>
                      </a>
                    </div>
                    <div class="carousel-item">           
                      <a href="#cultSignUpButtonContainer" data-mdb-smooth-scroll-init data-mdb-container="#cultSignUpButtonContainer">
                        <img 
                          class="img-fluid d-block w-100 rounded-5 shadow-5"
                          alt="Strain reveal for Local's RS11 showing the strain as an Indica-Hybrid with THC content at 34.17%." 
                          src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/additional_product_images/header_images/flower_pack3_results/flower_round_3_rankings_local_rs11.webp"
                        />
                      </a>
                    </div>
                    <div class="carousel-item">
                      <a href="#cultSignUpButtonContainer" data-mdb-smooth-scroll-init data-mdb-container="#cultSignUpButtonContainer">
                        <img 
                          class="img-fluid d-block w-100 rounded-5 shadow-5" 
                          alt="Strain reveal for Cloud Cover's Detroit Runtz strain showing the strain as a Hybrid with the THC content at 25.32%." 
                          src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/additional_product_images/header_images/flower_pack3_results/flower_round_3_rankings_cloud_cover_detroit_runtz.webp"
                        />
                      </a>
                    </div>
                    <div class="carousel-item">
                       <a href="#cultSignUpButtonContainer" data-mdb-smooth-scroll-init data-mdb-container="#cultSignUpButtonContainer">
                         <img 
                           class="img-fluid d-block w-100 rounded-5 shadow-5" 
                           alt="Strain reveal for Robust's Government Oasis strain showing the strain as a Hybrid with the THC content at 27.14%."
                           src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/additional_product_images/header_images/flower_pack3_results/flower_round_3_rankings_robust_govtoasis.webp"
                         />
                       </a>
                    </div>
                    <div class="carousel-item">
                       <a href="#cultSignUpButtonContainer" data-mdb-smooth-scroll-init data-mdb-container="#cultSignUpButtonContainer">
                         <img 
                           class="img-fluid d-block w-100 rounded-5 shadow-5" 
                           alt="Strain reveal for Vibe's Grapes and Cream showing the strain as a Sativa-Hybrid with the THC content at 25.79%."
                           src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/additional_product_images/header_images/flower_pack3_results/flower_round_3_rankings_vibe_grapesandcream.webp"
                         />
                       </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-lg-5 my-lg-5 py-md-0 pt-5" id="cultSignUpButtonContainer">
            <div class="row mx-auto">
                <div class="col-8 col-md-7 col-lg-6 col-xl-5 mx-auto">
                    <a 
                        id="cultSignUpButton"
                        class="btn custom-gradient-button btn-lg py-3 w-100" 
                        href="/login" 
                        role="button" 
                        aria-controls="#picker-editor"
                    >
                        <span>Join the Cult</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>