<div class="container-fluid text-center pt-3 pb-5" style="background-image: url(&quot;https://images.unsplash.com/photo-1598760122223-45f0f18a1bbd?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5NjI0M3wwfDF8c2VhcmNofDZ8fHNtb2tlfGVufDB8fHx8MTcwMDg3Njk0OHww&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080&quot;); background-size: cover; background-position: 50% 50%;" aria-controls="#picker-editor">
  <div 
    class="container-fluid text-center" 
    style="padding:2em"
    data-aos="fade-in"
    data-aos-duration="2000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center"
  >
    <img class="img-fluid" src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/brain_vector.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL2JyYWluX3ZlY3Rvci5zdmciLCJpYXQiOjE2OTUwOTM0MzIsImV4cCI6MTcyNjYyOTQzMn0.aORzL_pXYA8OQGUdHaMGjO9qDPKZ7mSfeTnGK0ScNuU&t=2023-09-19T03%3A17%3A12.711Z" loading="lazy">
  </div>
  <a 
    class="btn  btn-outline-light btn-lg py-3 px-5 me-2" 
    href="/login" 
    role="button" 
    aria-controls="#picker-editor"
  >
    Join the Cult
  </a>
</div>
