{% extends "shared/base.html" %}

{% block title %} 
  <title>Cultivar Review {{ strain }} - Cannabis Cult</title>
{% endblock %} 

{% block head %}
<meta 
  content="Cannabis Cult {{ strain }} Cultivar Rating Page." 
  name="description"
/>
<meta 
  name="keywords"
  content="Cannabis Cult, Cultivar Review, Cannabis Ratings, Cannabis Review, Weed Reviews, Cannabis Near Me, Dispensary Reviews, Edible Ratings, Edible Reviews"
/>
<meta 
  property="og:image" 
  content="{% if url_path %}{{ url_path }}{% else %}https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/partner_images/logos/black_brain_vectorized.webp{% endif %}"
  alt="Cannabis Cult {{ strain }} Cultivar Connoisseur Rating Card"
/>
<meta 
  property="og:description" 
  content="Cannabis Cult {{ strain }} Cultivar Connoisseur Rating Page." 
/>
<meta 
  property="og:title" 
  content="Cannabis Cult {% if strain %}{{ strain }} {% endif %}Cultivar Connoisseur Rating"
/>
<meta 
  name="twitter:card" 
  content="summary_large_image"
/>
<meta 
  property="twitter:url" 
  content="https://cannabiscult.co"
/>
<meta 
  property="twitter:site" 
  content="@cannabiscult"
/>
<meta 
  property="twitter:title" 
  content="Cannabis Cult Cultivar {% if strain %}{{ strain }} {% endif %}Connoisseur Rating." 
/>
<meta 
  property="twitter:description" 
  content="{{ strain }} Cultivar Review Page on CannabisCult.co" 
/>
<meta 
  property="twitter:image" 
  content="{{ url_path }}"
/>
<meta 
  property="twitter:image:alt"
  content="Cannabis Cult Cultivar Review Card for {{ strain }} Flower"
/>
<link 
  rel="canonical" 
  href="https://cannabiscult.co/connoisseur-flowers{% if strain %}/get-flower?{{ strain }}{% endif %}"
/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% include "components/auth/login_register_modal.html" %}
<main class="container pt-5">
    <section draggable="false" class="container pt-3" data-v-271253ee="">
      <section class="mb-10">
        <div class="row mx-auto">
          <h1 class="fw-bold mb-5 text-center">Cultivar Flower Ratings</h1>
        </div>
        <div class="row gx-lg-5 align-items-start d-flex">
          <div class="col-lg-6 col-12 mb-5 mb-lg-0">
            <div class="container">
              {% include "components/voting_cards/flower_card.html" %}
            </div>
          </div>
          <div class="col-lg-6 col-12 mb-4 mb-lg-0 {% if not is_mystery %}h-100 my-auto{% endif %} pt-lg-1 pt-xl-2 mx-auto">
            <div class="row flex-shrink-0 justify-content-evenly text-center pt-0 pt-md-3 pb-5 pb-lg-3">
              <button class="btn btn-outline-info btn-floating shadow-5-strong" id="shareTwitter" data-mdb-ripple-init>
                <i class="fab fa-twitter"></i>
              </button>
              <button class="btn btn-outline-info btn-floating shadow-5-strong" id="shareFacebook" data-mdb-ripple-init>
                <i class="fab fa-facebook-f"></i>
              </button>
              <button class="btn btn-outline-info btn-floating shadow-5-strong" id="shareReddit" data-mdb-ripple-init>
                <i class="fab fa-reddit-alien"></i>
              </button>
              <button class="btn btn-outline-info btn-floating shadow-5-strong" id="shareEmail" data-mdb-ripple-init>
                <i class="fa fa-envelope"></i>
              </button>
              <button class="btn btn-outline-info btn-floating shadow-5-strong" id="shareText" data-mdb-ripple-init>
                <i class="fa fa-comment"></i>
              </button>
            </div>
            <div class="d-flex flex-column justify-content-evenly pt-5">
              <div class="d-flex align-items-start mb-5">
                <div class="flex-shrink-0">
                  <div class="p-3 rounded-4 shadow-2-strong btn-purple">
                    <i class="fas fa-comments fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                  </div>
                </div>
                <div class="flex-grow-1 ms-4">
                  <p class="fw-bold mb-1">Description</p>
                  <p id="description_text" class="text-muted mb-0">
                    {% if is_mystery %}We cannot tell you about the mystery strains.{% elif description_text %}{{ description_text }}{% else %}Coming Soon{% endif %}
                  </p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-5">
                <div class="flex-shrink-0">
                  <div class="p-3 rounded-4 shadow-2-strong btn-purple">
                    <i class="fa-solid fa-user-gear fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                  </div>
                </div>
                <div class="flex-grow-1 ms-4">
                  <p class="fw-bold mb-1">Effects<br></p>
                  <p id="effects_text" class="text-muted mb-0">
                    {% if is_mystery %}But be sure to submit your ratings.{% elif effects %}{{ effects }}{% else %}Coming Soon{% endif %}
                  </p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-5">
                <div class="flex-shrink-0">
                  <div class="p-3 rounded-4 shadow-2-strong btn-purple">
                    <i class="fas fa-timeline fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                  </div>
                </div>
                <div class="flex-grow-1 ms-4">
                  <p class="fw-bold mb-1">Lineage</p>
                  <p id="lineage-text" class="text-muted mb-0">
                    {% if is_mystery %}So our cultivators know what you think.{% elif lineage %}{{ lineage }}{% else %}Coming Soon{% endif %}
                  </p>
                </div>
              </div>
              <div class="d-flex align-items-start">
                <div class="flex-shrink-0">
                  <div class="p-3 rounded-4 shadow-2-strong btn-purple">
                    <i class="fas fa-chart-pie fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                  </div>
                </div>
                <div class="flex-grow-1 ms-4">
                  <p class="fw-bold mb-1">Terpenes</p>
                  <script>
                    var terpenesList = {{ terpenes_list | tojson }};
                  </script>
                  <div id="terpene_text" class="text-muted mb-0">
                    {% if is_mystery %}<p>And you will see all the results soon!</p>
                    {% else %}
                      {% if terpenes_list %}
                        <canvas id="terpeneChart"></canvas>
                      {% else %}
                        <p>Coming Soon</p>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section draggable="false" class="container" data-v-271253ee="">
      <section class="mb-10 text-center">
        <div class="row gx-lg-5">
          <div class="col-md-4 mb-4">
            <h2 id="flavor_rating_value" class="fw-bold display-5 text-info mb-3">?</h2>
            <h5 class="text-muted mb-3">Flavor</h5>
          </div>
          <div class="col-md-4 mb-4">
            <h2 id="overall_rating_value" class="fw-bold display-5 text-info mb-3">?</h2>
            <h5 class="text-muted mb-3">Overall</h5>
          </div>
          <div class="col-md-4 mb-4">
            <h2 id="effects_rating_value" class="fw-bold display-5 text-info mb-3">?</h2>
            <h5 class="text-muted mb-3">Effects</h5>
          </div>
        </div>
      </section>
    </section>
    <section draggable="false" class="container navy-color-parent" data-v-271253ee="">
      <section class="mb-10 text-center">
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
            <i class="fas fa-eye fa-3x  mb-4" aria-controls="#picker-editor"></i>
            <h5 id="appearance_rating_value" class="text-info fw-bold mb-3">?</h5>
            <h6 class="fw-normal mb-0">Appearance<br></h6>
            <hr class="divider-vertical d-none d-md-block">
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
            <i class="fas fa-cannabis fa-3x  mb-4" aria-controls="#picker-editor"></i>
            <h5 id="smell_rating_value" class="text-info fw-bold mb-3">?</h5>
            <h6 class="fw-normal mb-0">Aroma</h6>
            <hr class="divider-vertical d-none d-lg-block">
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
            <i class="fas fa-fill-drip fa-3x  mb-4" aria-controls="#picker-editor"></i>
            <h5 id="harshess_rating_value" class="text-info fw-bold mb-3">?</h5>
            <h6 class="fw-normal mb-0">Harshness</h6>
            <hr class="divider-vertical d-none d-md-block">
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
            <i class="fas fa-arrow-trend-up fa-3x  mb-4" aria-controls="#picker-editor"></i>
            <h5 id="freshness_rating_value" class="text-info fw-bold mb-3">?</h5>
            <h6 class="fw-normal mb-0">Freshness</h6>
          </div>
        </div>
      </section>
      <div class="container d-flex align-items-center justify-content-center text-center">
        <div class="lineage-container">
          <div id="lineageChart" class="mx-auto"></div>
        </div>
      </div>
    </section>
  </div>
  <div class="container align-items-center justify-items-center pt-5">
    {% include "components/homepage_elements/homepage_features.html" %}
  </div>
  <div class="container py-5">
    <div class="row mx-auto">
      <div class="col-12 col-lg-9 mx-auto">
        {% include "components/flower_review_selector.html" %}
      </div>
    </div>
  </div>
  <section class="py-4 container" id="topRatedStrains">
    {% include "components/top_rated_flower.html" %}
  </section>
  <section class="py-4 container" id="topRatedStrains">
    {% include "components/top_rated_concentrates.html" %}
  </section>
  <section class="container py-5">
    <div class="row mx-auto">
      <div class="col-auto mx-auto">
        <img class="img-fluid" src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/public/partner_images/logos/black_brain_vectorized.webp"/>
      </div>
    </div>
  </section>
</main>
<style> 
  hr.divider-vertical { 
    position: absolute; 
    right: 0; 
    top: 0; 
    width: 1px; 
    background-image: linear-gradient( 180deg, transparent, hsl(0, 0%, 40%), transparent ); 
    background-color: transparent; 
    height: 100%; 
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module">
  import createLineageChart from "{{ url_for('static', path='js/getLineageChart.js') }}";
  document.addEventListener('DOMContentLoaded', async function() {
    var isMystery = {{ is_mystery | tojson | safe }};
    if (isMystery) { 
      return
    } else {
      if (terpenesList && terpenesList.length > 0) {
        const dataValues = terpenesList.map(() => 1);
        initTerpeneChart(terpenesList, dataValues);
      }
      fetchAndUpdateStrainRatings();
      try {
          populateLineageChartIfExists();
      } catch (error) {
          return;
      }
    }
  });
  function populateLineageChartIfExists() {
    const lineage = {{ lineage | default('{}') | tojson | safe }};
    const strain = `{{ strain }}`;
    const cultivator = `{{ cultivator }}`;
    const urlPath = `{{ url_path }}`;
    if (cultivator && strain && lineage && !isEmpty(lineage)) {
      const lineageChart = new createLineageChart(lineage, strain, cultivator, urlPath);
      lineageChart.renderLineageChart();
    }
  }
  function fetchAndUpdateStrainRatings() {
    var flowerId = {{ flower_id }};
    var endpoint = "/flower_voting/get_strain_ratings_by_id/" + flowerId;
    fetch(endpoint)
    .then(response => response.json())
    .then(data => {
        if (!data.error) {
            document.getElementById('flavor_rating_value').innerText = data.flavor_rating.toFixed(2);
            document.getElementById('overall_rating_value').innerText = data.overall_score.toFixed(2);
            document.getElementById('effects_rating_value').innerText = data.effects_rating.toFixed(2);
            document.getElementById('appearance_rating_value').innerText = data.appearance_rating.toFixed(2);
            document.getElementById('smell_rating_value').innerText = data.smell_rating.toFixed(2);
            document.getElementById('harshess_rating_value').innerText = data.harshness_rating.toFixed(2);
            document.getElementById('freshness_rating_value').innerText = data.freshness_rating.toFixed(2);
        } else {
            console.error('Error fetching data:', data.error);
        }
    })
    .catch(error => console.error('Error:', error));
  }
  function initTerpeneChart(labels, dataValues) {
    const ctx = document.getElementById('terpeneChart').getContext('2d');
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: labels,
        datasets: [{
          label: 'Terpenes',
          data: dataValues,
          backgroundColor: generateColors(labels.length),
        }]
      }
    });
  }
  function generateColors(count) {
    const colors = [
      'rgba(63, 81, 181, 0.5)', 'rgba(77, 182, 172, 0.5)', 'rgba(66, 133, 244, 0.5)',
      'rgba(156, 39, 176, 0.5)', 'rgba(233, 30, 99, 0.5)', 'rgba(66, 73, 244, 0.4)',
      'rgba(66, 133, 244, 0.2)'
    ];
    return colors.slice(0, count);
  }
</script>
<script type="module">
  import SocialSharing from "{{ url_for('static', path='js/socialSharing.js') }}";
  document.addEventListener("DOMContentLoaded", () => {
    const socialSharing = new SocialSharing();
    document.getElementById('shareTwitter').addEventListener('click', () => socialSharing.shareOnTwitter());
    document.getElementById('shareFacebook').addEventListener('click', () => socialSharing.shareOnFacebook());
    document.getElementById('shareReddit').addEventListener('click', () => socialSharing.shareOnReddit());
    document.getElementById('shareEmail').addEventListener('click', () => socialSharing.shareViaEmail());
    document.getElementById('shareText').addEventListener('click', () => socialSharing.shareViaText());
  });
</script>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
