<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Are you 21?</h5>
      </div>
      <div class="modal-body">
        <p>Please confirm that you are 21 years of age or older to view this content.</p>
      </div>
      <div class="modal-footer container-fluid">
        <div class="row container">
          <div class="col-6">
            <button type="button" class="btn btn-danger w-100" id="no-btn" data-bs-dismiss="modal">No</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-info w-100" id="age-confirm-btn">I am 21+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  async function checkAgeConfirmedAndLogin() {
    const currentEmail = await window.supabaseClient.getCurrentUserEmail();
    if (!currentEmail || localStorage.getItem("ageConfirmed") !== "true") {
      $('html, body').css({
        'overflow': 'hidden',
        'height': '100%'
      });
      const loginModal = document.getElementById('loginModal');
      const registerModal = document.getElementById('signUpModal');
      const forgotPasswordModal = document.getElementById('forgotPasswordLoginModal');
      
      if (!loginModal && !registerModal && !forgotPasswordModal) {
        $('#staticBackdrop').modal('show');
      }
    }
  }
  window.addEventListener('supabaseClientReady', async function() {
    checkAgeConfirmedAndLogin();
  });
  $('#age-confirm-btn').click(function() {
    localStorage.setItem("ageConfirmed", "true");
    $('html, body').css({
      'overflow': 'auto',
      'height': 'auto'
    });
    $('#staticBackdrop').modal('hide');
  });
  $('#no-btn').click(function() {
    window.location.href = "https://www.google.com";
  });
  $('#staticBackdrop').on('hidden.bs.modal', async function () {
    if (localStorage.getItem("ageConfirmed") !== "true") {
        checkAgeConfirmedAndLogin();
      }
  });
</script>