{% for dispensary, info in dispensaries.items() %}
<div class="container text-center" style="color:#301934">
  <h1 style="color:#301934"><b><a style="color:#301934" href={{ info['Main_Url'] }}>{{ dispensary }}</a></b></h1>
  <h3 style="color:#301934"><b>Contact:</b>{{ info['Contact'] }}</h3>
  <h3 style="color:#301934"><b>Address:</b> {{ info['Address'] }}</b></h3>
  <h3 style="color:#301934"><b>A Cult Favorite:</b><a style="color:#301934" href={{ info['Favorites_Url'] }}>{{ info['A Cult Favorite'] }}</a></h3>
  <h3 style="color:#301934"><b>Specials:</b><a style="color:#301934" href={{ info['Specials_Url'] }}>{{ info['Specials'] }}</a></h3>
  <div style="padding-bottom:35px">
    <img 
      src="{{ info['Image'] }}" 
      style="max-width: 85vw; min-height: 10vw; max-height: 40vw" 
      alt="{{ dispensary }}"
    >
  </div>
</div>
{% endfor %}