<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Get Cultivar Reviews</h5>
          <form method="POST" action="/get-review" id="review-form">

            <!-- Product Type Select Box -->
            <div class="mb-3">
              <label for="product_type_selected" class="form-label">Product Type</label>
              <select class="form-select" id="product_type_selected" name="product_type_selected">
                <!-- Options will be populated here -->
              </select>
            </div>

            <!-- Cultivator Select Box -->
            <div class="mb-3">
              <label for="cultivator_selected" class="form-label">Cultivator</label>
              <select class="form-select" id="cultivator_selected" name="cultivator_selected">
                <!-- Options will be populated here -->
              </select>
            </div>

            <!-- Strain Select Box -->
            <div class="mb-3">
              <label for="strain_selected" class="form-label">Strain</label>
              <select class="form-select" id="strain_selected" name="strain_selected">
                <!-- Options will be populated here -->
              </select>
            </div>

            <!-- Submit Button -->
            <div class="d-grid gap-2">
              <button class="btn btn-info" type="submit">Submit</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% block scripts %}
<script>
window.addEventListener('DOMContentLoaded', function() {
  var productTypeSelect = document.getElementById('product_type_selected');
  var cultivatorSelect = document.getElementById('cultivator_selected');
  var strainSelect = document.getElementById('strain_selected');
  var reviewForm = document.getElementById('review-form');

  function fetchAndPopulateSelect(url, selectElement, defaultValue, callback) {
    fetch(url)
      .then(response => response.json())
      .then(data => {
        selectElement.innerHTML = '';
        let defaultOptionSet = false;

        if (Array.isArray(data)) {
          data.forEach(item => {
            var option = document.createElement('option');
            option.value = item;
            option.text = item.charAt(0).toUpperCase() + item.slice(1);
            if (item === defaultValue) {
              option.selected = true;
              defaultOptionSet = true;
            }
            selectElement.add(option);
          });
          updateCultivatorOptions();
          updateStrainOptions();
          if (callback && defaultOptionSet) {
            callback();
          } else if (callback && !defaultOptionSet && selectElement === productTypeSelect) {
            callback();
          }
        } else {
          console.error('Expected an array but received:', data);
        }
      })
      .catch(error => console.error('Error:', error));
  }

  function updateCultivatorOptions() {
    var selectedProductType = productTypeSelect.value.charAt(0).toUpperCase() + productTypeSelect.value.slice(1);
    var cachedCultivator = localStorage.getItem('selectedCultivator') || 'Proper';
    var url = '/search/cultivators/' + selectedProductType;
    updateStrainOptions();
    fetchAndPopulateSelect(url, cultivatorSelect, cachedCultivator, updateStrainOptions);
  }

  function updateStrainOptions() {
    var selectedCultivator = cultivatorSelect.value;
    var selectedProductType = productTypeSelect.value.charAt(0).toUpperCase() + productTypeSelect.value.slice(1);
    var cachedStrain = localStorage.getItem('selectedStrain') || 'Biscotti';
    var url = '/search/strains/' + selectedProductType + '/' + selectedCultivator;
    fetchAndPopulateSelect(url, strainSelect, cachedStrain);
  }

  productTypeSelect.addEventListener('change', function() {
    localStorage.setItem('selectedProductType', productTypeSelect.value);
    updateCultivatorOptions();
  });

  cultivatorSelect.addEventListener('change', function() {
    localStorage.setItem('selectedCultivator', cultivatorSelect.value);
    updateStrainOptions();
  });

  strainSelect.addEventListener('change', function() {
    localStorage.setItem('selectedStrain', strainSelect.value);
  });

  var cachedProductType = localStorage.getItem('selectedProductType') || 'Flower';
  updateCultivatorOptions();
  updateStrainOptions();
  fetchAndPopulateSelect('/search/product-types', productTypeSelect, cachedProductType, updateCultivatorOptions);
});
</script>



{% endblock %}
