<!-- Modal Structure Template -->
<div class="modal fade w-100" id="FlowerRankingsModal" tabindex="-1" aria-labelledby="FlowerRankingsModalLabel" aria-="true" style="min-width:100%">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content overflow-auto">
      <form>
        <div class="container text-center pt-1 pb-1">
          <div class="row align-content-center justify-content-center pt-4">
              <u><h5 class="modal-title fs-3" id="modalTitle">Question</h5></u>
          </div>
          <div class="container text-center align-content-center align-items-center justify-content-center w-100 px-0 pt-2 pb-0">
            <div class="col-12 justify-content-center text-center p-0">
              <div class="modal-body text-center align-content-center justify-content-center pb-2 px-0 mx-0" id="modalBody">
                <!-- Dynamic Content will be loaded here -->
              </div>
            </div>
          </div>
          <div class="container" id="buttonContainer">
            <div class="col-12">
              <div class="row justify-content-center pt-4 px-4">
                <div class="col-6">
                  <button type="button" class="btn btn-lg btn-error w-100" style="border: 2px solid black;" id="backBtn">Back</button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-lg btn-info w-100" style="border: 2px solid black;" id="nextBtn" name="nextBtn">Next</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4 col-md-5 col-6">
              <img class="img-fluid" src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/Small%20C%20image%20Logo.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL1NtYWxsIEMgaW1hZ2UgTG9nby5zdmciLCJpYXQiOjE2OTU1NjY4OTgsImV4cCI6MTcyNzEwMjg5OH0.KhSW1ZSuU_eRovc9ycELDUS2HVA-QekQBr_UhI04kuQ&t=2023-09-24T14%3A48%3A18.833Z" />
            </div>
          </div>
          <div class="col-12">
            <div id="paginationContainer" class="pagination-container" style="display: none;">
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center" id="pagination"></ul>
              </nav>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% include "components/forms/add_new_voter_modal.html" %}
{% block scripts %}
<script>
  const questions = [
    {
      title: "{{ strain }} by {{ cultivator }}",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
            <input class="form-control text-center email-input-field" id="connoisseur" name="connoisseur" placeholder="Your email is required to rate strains" />
         </div>
        </div>`,
      key: "connoisseur"
    },
    {
      title: "{{ strain }} by {{ cultivator }}",
      content: `
        <div class="container ps-lg-3">
          <div class="row align-items-center justify-content-center text-start g-3 mx-2">
            <div class="col-md-6 px-3">
              <label class="consume-label" for="method_of_consumption" style="display: block; font-weight: bold; margin-bottom: 0.25rem;">How did you consume {{ strain }}:</label>
            </div>
            <div class="col-md-6 px-3"> 
              <select class="form-select" id="method_of_consumption" name="method_of_consumption" aria-label="Method of Consumption Dropdown Field" style="width: 100%; padding: 0.5rem; border-radius: 0.25rem; border: 1px solid #ced4da;">
                <option value="blunt">Blunt</option>
                <option value="bong">Bong</option>
                <option value="joint">Joint</option>
                <option value="one_hitter">One-Hitter</option>
                <option value="pipe">Pipe</option>
                <option value="steamroller">Steamroller</option>
                <option value="vaporizer">Vaporizer</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
        </div>
      `,
      key: "method_of_consumption"
    },
    {
      title: "{{ strain }}<br/>Apprearance Rating",
      content: `
        <div class="container-fluid align-items-center text-center btn-group-container">
          <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
              <label class="modal-info-shadow" for="appearance_1_point">Not Desireable</label>
            </div>
          </div>
          <div class="col-10 btn-group btn-group-sm btn-group-container" role="group" aria-label="{{ strain }} Appearance Rating">
            <div class="row btn-group-container">
              {% for i in range(1, 11) %}
                <input type="radio" class="btn-check {% if i == 1 %}btn-light{% endif %}" name="appearance_rating" id="appearance_rating{{ i }}" value="{{ i }}" autocomplete="off">
                <label class="btn btn-light" for="appearance_rating{{ i }}" {% if i == 1 or i == 10 %}id="appearance_{{ i }}_point"{% endif %}>{{ i }}</label>
              {% endfor %}
            </div>
          </div>
          <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
              <label class="modal-info-shadow" for="appearance_10_point">Desireable</label>
            </div>
          </div>
        </div>
      `,
      key: "appearance_rating"
    },
    {
      title: "{{ strain }}<br/>Appearance Rating Explation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
            <div class="form-outline" data-mdb-input-init>
              <textarea class="form-control shadow-2-strong" id="appearance_explanation" name="appearance_explanation" type="text" rows="4" placeholder="Start typing here..."></textarea>
            </div>
            <label class="form-label pt-4" for="appearance_explanation" name="appearance_explanation_label" id="appearance_explanation_label">Explain your rating in the space above.</label>
          </div>
        </div>
      `,
      key: "appearance_explanation"
    },
    {
      title: "{{ strain }}<br/>Aroma Rating",
      content: `
        <div class="container align-items-center text-center btn-group-container">
          <div class="row pt-1 mx-auto">
              <div class="col-6 text-center mx-auto">
              <label class="modal-info-shadow" for="smell_1_point">Weak <span class="long-voting-label">or</span> None</label>
            </div>
          </div>
          <div class="btn-group btn-group-sm btn-group-container col-10 my-auto mx-auto" role="group" aria-label="{{ strain }} Aroma Rating">
            <div class="row">
              {% for i in range(1, 11) %}
                <input type="radio" class="btn-check {% if i == 1 %}btn-light{% endif %}" name="smell_rating" id="smell_rating{{ i }}" value="{{ i }}" autocomplete="off">
                <label class="btn btn-light" for="smell_rating{{ i }}" {% if i == 1 or i == 10 %}id="smell_{{ i }}_point"{% endif %}>{{ i }}</label>
              {% endfor %}
            </div>
          </div>
          <div class="row pt-1 mx-auto">
              <div class="col-6 text-center mx-auto">
              <label class="modal-info-shadow" for="smell_10_point">Strong <span class="long-voting-label">and</span> Pungeant</label>
            </div>
          </div>
        </div>
      `,
      key: "smell_rating"
    },
    {
      title: "{{ strain }}<br/>Smell Explanation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
            <div class="form-outline" data-mdb-input-init>
              <textarea class="form-control shadow-2-strong" id="smell_explanation" name="smell_explanation" type="text" rows="4"></textarea>
            </div>
            <label class="form-label pt-4" for="smell_explanation" name="smell_explanation_label" id="smell_explanation_label" >Explain your rating in the space above.</label>
          </div>
        </div>
      `,
      key: "smell_explanation"
    },
    {
      title: "{{ strain }}<br/>Freshness Rating",
      content: `
      <div class="container-fluid align-items-center text-center btn-group-container">
        <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow" for="freshness_1_point">Too Old or Dry</label>
          </div>
        </div>
        <div class="col-10 btn-group btn-group-sm btn-group-container" role="group" aria-label="{{ strain }} Freshness Rating">
          <div class="row btn-group-container">
            {% for i in range(1, 11) %}
              <input type="radio" class="btn-check {% if i == 1 %}btn-light{% endif %}" name="freshness_rating" id="freshness_rating{{ i }}" value="{{ i }}" autocomplete="off">
              <label class="btn btn-light" for="freshness_rating{{ i }}" {% if i == 1 or i == 10 %}id="freshness_{{ i }}_point"{% endif %}>{{ i }}</label>
            {% endfor %}
          </div>
        </div>
        <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow" for="freshness_10_point">Dank with Good Moisture</label>
          </div>
        </div>
      </div>
      `,
      key: "freshness_rating"
    },
    {
      title: "{{ strain }}<br/>Freshness Rating Explation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
              <div class="form-outline" data-mdb-input-init>
                  <textarea class="form-control shadow-2-strong" id="freshness_explanation" name="freshness_explanation" rows="4" placeholder="Start typing here..."></textarea>
              </div>
              <label class="form-label pt-4" for="freshness_explanation" name="freshness_explanation_label" id="freshness_explanation_label">Explain your rating in the space above.</label>
          </div>
      </div>
      `,
      key: "freshness_explanation"
    },
    {
      title: "{{ strain }}<br/>Flavor Rating",
      content: `
      <div class="container-fluid align-items-center text-center btn-group-container">
        <div class="row pt-1 mx-auto">
          <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow" for="flavor_1_point">Bad or No Flavor</label>
          </div>
        </div>
        <div class="col-10 btn-group btn-group-sm btn-group-container" role="group" aria-label="{{ strain }} Flavor Rating">
          <div class="row btn-group-container">
            {% for i in range(1, 11) %}
              <input type="radio" class="btn-check {% if i == 1 %} btn-light {% endif %}" name="flavor_rating" id="flavor_rating{{ i }}" value="{{ i }}" autocomplete="off">
              <label class="btn btn-light" for="flavor_rating{{ i }}" {% if i == 1 or i == 10 %} id="flavor_{{ i }}_point"{% endif %}>{{ i }}</label>
            {% endfor %}
          </div>
        </div>
        <div class="row pt-1 mx-auto">
          <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow" for="flavor_10_point">Tasty Flavor</label>
          </div>
        </div>
      </div>
      `,
      key: "flavor_rating"
    },
    {
      title: "{{ strain }}<br/>Flavor Rating Explanation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
              <div class="form-outline" data-mdb-input-init>
                <textarea class="form-control shadow-2-strong" id="flavor_explanation" name="flavor_explanation" rows="4" placeholder="Start typing here..."></textarea>
              </div>
              <label class="form-label pt-4" for="flavor_explanation" name="flavor_explanation_label" id="flavor_explanation_label">Explain your rating in the space above.</label>
          </div>
      </div>
      `,
      key: "flavor_explanation"
    },
    {
      title: "{{ strain }}<br/>Smoothness Rating",
      content: `
      <div class="container-fluid align-items-center text-center btn-group-container">
        <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow long-voting-label" for="harshness_1_point">Very Harsh</label>
          </div>
        </div>
        <div class="col-10 btn-group btn-group-sm btn-group-container" role="group" aria-label="{{ strain }} Harshness Rating">
          <div class="row btn-group-container">
            {% for i in range(1, 11) %}
              <input type="radio" class="btn-check {% if i == 1 %}btn-light{% endif %}" name="harshness_rating" id="harshness_rating{{ i }}" value="{{ i }}" autocomplete="off">
              <label class="btn btn-light" for="harshness_rating{{ i }}" {% if i == 1 or i == 10 %}id="harshness_{{ i }}_point"{% endif %}>{{ i }}</label>
            {% endfor %}
          </div>
        </div>
        <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow long-voting-label" for="harshness_10_point">Enjoyable</label>
          </div>
        </div>
      </div>
      `,
      key: "harshness_rating"
    },
    {
      title: "{{ strain }}<br/>Smoothness Explanation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
              <div class="form-outline" data-mdb-input-init>
                  <textarea class="form-control shadow-2-strong" id="harshness_explanation" name="harshness_explanation" rows="4" placeholder="Start typing here..."></textarea>
              </div>
              <label class="form-label pt-4" for="harshness_explanation" name="harshness_explanation_label" id="harshness_explanation_label">Explain your rating in the space above.</label>
          </div>
      </div>
      `,
      key: "harshness_explanation"
    },
    {
      title: "{{ strain }}<br/>Effects Rating",
      content: `
      <div class="container-fluid align-items-center text-center btn-group-container">
        <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow long-voting-label" for="effects_1_point">Short-Lived, No Effects</label>
          </div>
        </div>
        <div class="col-10 btn-group btn-group-sm btn-group-container" role="group" aria-label="{{ strain }} Effects Vote">
          <div class="row btn-group-container">
            {% for i in range(1, 11) %}
              <input type="radio" class="btn-check {% if i == 1 %}btn-light{% endif %}" name="effects_rating" id="effects_rating{{ i }}" value="{{ i }}" autocomplete="off">
              <label class="btn btn-light" for="effects_rating{{ i }}" {% if i == 1 or i == 10 %}id="effects_{{ i }}_point"{% endif %}>{{ i }}</label>
            {% endfor %}
          </div>
        </div>
        <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow long-voting-label" for="effects_10_point">Strong, Lasting Effects</label>
          </div>
        </div>
      </div>
      `,
      key: "effects_rating"
    },
    {
      title: "{{ strain }}<br/>Effects Rating Explanation",
      content: `
        <div class="container align-content-center align-items-center justify-content-center text-center">
          <div class="row align-items-center">
            <div class="col-7">
              <label class="pb-3 ps-2 fs-5 text-start" for="effects_explanation">Please pick a minimum of two (2) to explain how {{ strain }} made you feel:</label>
            </div>
            <div class="col-5 align-content-center align-items-center justify-content-center ">
              <select class="form-select px-3 px-lg-4" id="effects_explanation" name="effects_explanation" aria-label="Effects Rating Explanation Field" multiple>
                <option value="sedative">Sedative</option>
                <option value="relaxing">Relaxing</option>
                <option value="sleepy">Sleepy</option>
                <option value="tingly">Tingly</option>
                <option value="calming">Calming</option>
                <option value="hungry">Hungry</option>
                <option value="happy">Happy</option>
                <option value="giggly">Giggly</option>
                <option value="energizing">Energizing</option>
                <option value="euphoric">Euphoric</option>
                <option value="focused">Focused</option>
                <option value="uplifting">Uplifting</option>
                <option value="alert">Alert</option>
                <option value="creative">Creative</option>
                <option value="talkative">Talkative</option>
                <option value="aroused">Aroused</option>
                <option value="aroused">None / Short Lived</option>
              </select>
            </div>
          </div>
        </div>
      `,
      key: "effects_explanation"
    },
  ];
  async function jumpToQuestion(questionIndex) {
    step = questionIndex;
    await loadQuestion();
  }
  document.addEventListener("DOMContentLoaded", async function() {
    let step = 0;
    let isPackCodeDisplayed = false;
    let formState = loadFormState();
    
    document.addEventListener('keydown', function enterKeyHandler(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        nextBtn.click();
      }
    });

    window.jumpToQuestion = async function jumpToQuestion(questionIndex) {
      await saveCurrentAnswer();
      step = questionIndex;
      await loadQuestion();
    }
    const int_keys = [
      "appearance_rating",
      "flavor_rating",
      "effects_rating",
      "freshness_rating",
      "smell_rating",
      "harshness_rating",
    ];
    
    function loadFormState() {
        const savedState = localStorage.getItem('formState');
        if (savedState) {
            return JSON.parse(savedState);
        } else {
            return {
                "flower_id": "{{ flower_id }}",
                "cultivator": "{{ cultivator }}",
                "strain": "{{ strain }}"
            };
        }
    }

    const modalTitle = document.getElementById('modalTitle');
    const modalBody = document.getElementById('modalBody');
    const nextBtn = document.getElementById('nextBtn');
    const backBtn = document.getElementById('backBtn');
    
    function updatePageLabel() {
      const currentQuestionIndex = step+1
      const totalQuestions = questions.length;

      const currentPairIndex = Math.floor(currentQuestionIndex / 2);
      const totalPairs = Math.floor((totalQuestions+1) / 2);

      const pageNumElement = document.getElementById("page_num");
      const pageLabelElement = document.getElementById("page_label");

      pageNumElement.textContent = currentPairIndex + 1;
      pageLabelElement.innerHTML = `<span id="page_num" name="page_num">${currentPairIndex}</span> / ${totalPairs}`;
    }
    
    document.getElementById('pagination').addEventListener('click', function(event) {
      if (event.target.tagName === 'BUTTON') {
        const questionIndex = parseInt(event.target.textContent);
        if (!isNaN(questionIndex)) {
          jumpToQuestion(questionIndex);
        }
      }
    });
    
    async function checkVoterExists(email) {
      const lowerCaseEmail = email.toLowerCase();
      const root = window.location.origin;
      const url = new URL('/check-mystery-voter', root);
      url.searchParams.append('voter_email', lowerCaseEmail);

      const response = await fetch(url, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      });

      if (response.ok) {
        const data = await response.json();
        if (!data.exists) {
          $('#FlowerRankingsModal').modal('hide');
          $('#FlowerVoterInfoCaptureModal').modal('show');
          return false;
        }
        return true;
      } else {
        console.log("Request failed:", response.status, response.statusText);
        return false;
      }
    }
  
    async function displayPackCodeInput() {
      nextBtn.textContent = 'Submit';
      modalTitle.textContent = 'All questions completed.';
      modalBody.innerHTML = '';
  
      const inputGroupDiv = document.createElement('div');
      inputGroupDiv.className = 'col-10 mx-auto';
      const packCodeInput = document.createElement('input');
      packCodeInput.type = 'text';
      packCodeInput.id = 'packCodeInput';
      packCodeInput.name = 'pack_code';
      packCodeInput.placeholder = 'Please Enter Pack Code Here';
      packCodeInput.className = 'form-control my-3 text-center';
      inputGroupDiv.appendChild(packCodeInput);
      modalBody.appendChild(inputGroupDiv);
      isPackCodeDisplayed = true;
    }
    function adjustPaginationForScreenSize() {
      const pagination = document.getElementById('pagination');
      if (window.innerWidth < 768) {
        pagination.classList.add('pagination-sm');
      } else {
        pagination.classList.remove('pagination-sm');
      }
    }
    function formatTitle(str) {
      return str.split('_')
        .map(word => word.charAt(0).toUpperCase() + word.slice(1))
        .join(' ');
    }
    function createPagination() {
      const pagination = document.getElementById('pagination');
      pagination.className = 'pagination pagination-sm justify-content-center';
      pagination.innerHTML = '';
      for (let i = 1; i <= questions.length; i++) {
        let pageTitle;
        if (i === questions.length) {
          pageTitle = "Submit Rating";  //
        } else {
          pageTitle = formatTitle(questions[i].key);
        }
        const pageItemClass = i === step ? 'page-item active' : 'page-item';
        pagination.innerHTML += `<li class="${pageItemClass}" title="${pageTitle}"><button class="page-link" onclick="jumpToQuestion(${i})">${i}</button></li>`;
      }
      adjustPaginationForScreenSize();
      $('[data-toggle="tooltip"]').tooltip({
        trigger: 'hover focus' // 'focus' for touch devices
      });
    }
    nextBtn.onclick = async function() {
      if (step === 0) {
        const emailInput = document.getElementById('connoisseur');
        
        if (emailInput) {
          const lowerCaseEmail = emailInput.value.toLowerCase()
          const voterExists = await checkVoterExists(lowerCaseEmail);
          if (!voterExists) {
            return;
          } else {
            formState['connoisseur'] = lowerCaseEmail
            document.getElementById('paginationContainer').style.display = 'block';
            await createPagination();
          }
        }
      }
      if (isPackCodeDisplayed) {
        formState['pack_code'] = document.getElementById('packCodeInput').value;
        await saveCurrentAnswer();
        const testVal = await validateResponses();
        if (!testVal) {
          alert("You must complete all ratings before submitting your final review!")
          return
        } else {
          await submitForm(formState);
        }
      } else {
        await saveCurrentAnswer();
        step++;
        await loadQuestion();
      }
    };
    
    backBtn.onclick = async function() {
      if (step > 0) {
        await saveCurrentAnswer();
        step--;
        await loadQuestion();
      }
    };
    
    async function saveCurrentAnswer() {
      if (step < questions.length) {
        const question = questions[step];
        const input = document.getElementById(question.key);
        if (input) {
          var inputVal = input.value;
          if (question.key === "effects_explanation") {
            const selectedOptions = Array.from(document.getElementById('effects_explanation').selectedOptions).map(option => option.value);
            const combinedString = selectedOptions.join(' ');
            formState[question.key] = combinedString;
          }
          else {
            formState[question.key] = input.value;
          }
        } else {
          const radioCheck = Array.from(document.getElementsByName(question.key)).find(radio => radio.checked);
          const radioVal = radioCheck ? radioCheck.value : "0";
          formState[question.key] = radioVal;
        }
      } else {
        formState['pack_code'] = document.getElementById('packCodeInput').value;
      }
    }
    async function validateResponses() {
      for (const question of int_keys) {
        if (!formState.hasOwnProperty(question) || formState[question] === "0") {
          return false;
        }
      }
      return true;
    }
    async function loadQuestion() {
        if (step < questions.length) {
            isPackCodeDisplayed = false;
            nextBtn.textContent = 'Next';
            const question = questions[step];
            modalTitle.innerHTML = question.title;
            modalBody.innerHTML = question.content;
            if (int_keys.includes(question.key)) {
                setSelectedRadioValue(question.key, formState[question.key]);
            } else if (question.key === "effects_explanation") {
                setSelectedMultiSelectValues(question.key, formState[question.key]);
            } else {
                const inputElement = document.getElementById(question.key);
                if (inputElement && formState[question.key]) {
                    inputElement.value = formState[question.key];
                }
            }
        } else {
            await displayPackCodeInput();
        }
        await createPagination();

    }
    
    function setSelectedRadioValue(name, value) {
        if (value) {
            const radioToCheck = document.querySelector(`input[name="${name}"][value="${value}"]`);
            if (radioToCheck) {
                radioToCheck.checked = true;
            }
        }
    }
    
    function setSelectedMultiSelectValues(id, value) {
        if (value) {
            const selectElement = document.getElementById(id);
            const values = value.split(' ');
            Array.from(selectElement.options).forEach(option => {
                if (values.includes(option.value)) {
                    option.selected = true;
                }
            });
        }
    }
    async function submitForm(formState) {
      formState.connoisseur = formState.connoisseur.toLowerCase();
      try {
        const response = await fetch('/flower_ranking/submit-flower-ranking', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formState)
        });
        if (response.ok) {
          const data = await response.json();
          if (formState.cultivator === "Connoisseur") {
            window.location.href = "/success/connoisseur_citrus_one";
          } else {
            window.location.href = "/success";
          }
        } else {
          console.log("Submission failed:", response.status, response.statusText);
        }
      } catch (error) {
        console.error("Error during submission:", error);
      }
    }
  window.addEventListener('resize', adjustPaginationForScreenSize);
  await loadQuestion();
  });

</script>
{% endblock %}
