<!-- Modal Structure Template -->
<div class="modal fade w-100" id="FlowerRankingsModal" tabindex="-1" aria-labelledby="FlowerRankingsModalLabel" aria-="true" style="min-width:100%">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content overflow-auto">
      <form method="POST" action="/submit-{{ strain }}-edible-ranking" id="vidid-edible-ranking-form" name="submit-vidid-edible-form">
        <div class="container text-center pt-1 pb-1">
          <div class="row align-content-center justify-content-center pt-4">
              <u><h5 class="modal-title fs-3" id="modalTitle">Question</h5></u>
          </div>
          <div class="container text-center align-content-center align-items-center justify-content-center w-100 px-0 pt-2 pb-0">
            <div class="col-12 justify-content-center text-center p-0">
              <div class="modal-body text-center align-content-center justify-content-center pb-2 px-0 mx-0" id="modalBody">
                <!-- Dynamic Content will be loaded here -->
              </div>
            </div>
          </div>
          <div class="container">
            <div class="col-12">
              <div class="row justify-content-center pt-4 px-4">
                <div class="col-6">
                  <button type="button" class="btn btn-lg btn-error w-100" style="border: 2px solid black;" id="backBtn">Back</button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-lg btn-info w-100" style="border: 2px solid black;" id="nextBtn" name="nextBtn">Next</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4 col-md-5 col-6">
              <img class="img-fluid" src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/Small%20C%20image%20Logo.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL1NtYWxsIEMgaW1hZ2UgTG9nby5zdmciLCJpYXQiOjE2OTU1NjY4OTgsImV4cCI6MTcyNzEwMjg5OH0.KhSW1ZSuU_eRovc9ycELDUS2HVA-QekQBr_UhI04kuQ&t=2023-09-24T14%3A48%3A18.833Z" />
            </div>
          </div>
          <div class="position-absolute bottom-0 end-0 p-3 fs-4" id="page_label" name="page_label"><span id="page_num" name="page_num">1</span> / 5</div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Voter Info Capture Modal -->
<div class="modal fade" id="FlowerVoterInfoCaptureModal" tabindex="-1" aria-labelledby="FlowerVoterInfoCaptureModalLabel" aria-="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container text-center">
          <div class="row text-center">
            <h5 class="modal-title" id="FlowerVoterInfoCaptureModalLabel">New {{ strain }} Information</h5>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <form id="newVoterForm" class="container">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter Your Name" id="connoisseur_name" name="connoisseur_name" autocomplete="name">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control email-input-field" placeholder="Enter Your Email" id="new_connoisseur" name="connoisseur" autocomplete="email" required>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter Your Phone Number" id="connoisseur_phone" name="connoisseur_phone" autocomplete="phone">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter Your Zip Code" id="connoisseur_zip_code" name="connoisseur_zip_code" autocomplete="on">
          </div>
          <div class="form-check mb-3 pt-2">
            <input class="form-check-input" type="checkbox" id="cannabisIndustryCheck">
            <label class="form-check-label" for="cannabisIndustryCheck">
              Employed in the Cannabis Industry
            </label>
          </div>
          <div id="employmentQuestions" style="display: none;">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Enter Your Place of Employment" id="connoisseur_employer" name="connoisseur_employer" autocomplete="off">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Enter Your Job Title" id="connoisseur_job_title" name="connoisseur_job_title" autocomplete="off">
            </div>
          </div>
          <div class="form-check mb-3">
            <div class="row g-0 pt-2">
              <div class="col-auto"> <!-- This will contain the checkbox -->
                <input class="form-check-input" type="checkbox" id="register_check" name="register_check" aria-describedby="registerCheckHelpText" checked/>
              </div>
              <div class="col"> <!-- This will contain the label -->
                <label class="form-check-label" for="register_check">
                  I have read and agree to the <a href="/privacy-policy" style="color:#301934" target="_blank" rel="noopener noreferrer">privacy policy</a> & <a href="/terms-of-use" style="color:#301934" target="_blank" rel="noopener noreferrer">user agreement</a>
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="container text-center">
          <div class="row g-2 p-1">
            <div class="col-6">
              <button type="button" class="btn btn-lg btn-error w-100" style="border: 2px solid black;" name="newUserBackBtn" id="newUserBackBtn">Back</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-lg btn-info w-100" style="border: 2px solid black;" name="submitNewVoterBtn" id="submitNewVoterBtn">Submit</button>
            </div>
          </div>
          <div class="row pb-3 pt-4">
            <h6 id="FlowerVoterInfoCaptureModalLabel">Submit once to rate all strains.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const termsCheckbox = document.getElementById('register_check');
  const submitButton = document.getElementById('submitNewVoterBtn');

  function toggleSubmitButtonState() {
      submitButton.disabled = !termsCheckbox.checked;
  }

  termsCheckbox.addEventListener('change', toggleSubmitButtonState);

  toggleSubmitButtonState();
</script>


{% block scripts %}
<script>
  const questions = [
    {
      title: "{{ strain }} by {{ cultivator }}",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
            <input class="form-control text-center email-input-field" id="connoisseur" name="connoisseur" placeholder="Your email is required to rate strains" />
         </div>
        </div>`,
      key: "connoisseur"
    },
    {
      title: "{{ strain }} by {{ cultivator }}",
      content: `
        <div class="container ps-lg-3">
          <div class="row align-items-center justify-content-center text-start g-3 mx-2">
            <div class="col-md-6 px-3">
              <label class="consume-label" for="method_of_consumption" style="display: block; font-weight: bold; margin-bottom: 0.25rem;">How did you consume {{ strain }}:</label>
            </div>
            <div class="col-md-6 px-3"> 
              <select class="form-select" id="method_of_consumption" name="method_of_consumption" aria-label="Method of Consumption Dropdown Field" style="width: 100%; padding: 0.5rem; border-radius: 0.25rem; border: 1px solid #ced4da;">
                <option value="blunt">Blunt</option>
                <option value="bong">Bong</option>
                <option value="joint">Joint</option>
                <option value="one_hitter">One-Hitter</option>
                <option value="pipe">Pipe</option>
                <option value="steamroller">Steamroller</option>
                <option value="vaporizer">Vaporizer</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
        </div>
      `,
      key: "method_of_consumption"
    },
    {
      title: "{{ strain }}<br/>Apprearance Rating",
      content: `
        <div class="container-fluid align-items-center text-center btn-group-container">
          <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
              <label class="modal-info-shadow" for="appearance_1_point">Not Desireable</label>
            </div>
          </div>
          <div class="col-10 btn-group btn-group-sm btn-group-container" role="group" aria-label="{{ strain }} Appearance Rating">
            <div class="row btn-group-container">
              {% for i in range(1, 11) %}
                <input type="radio" class="btn-check {% if i == 1 %}btn-light{% endif %}" name="appearance_rating" id="appearance_rating{{ i }}" value="{{ i }}" autocomplete="off">
                <label class="btn btn-light" for="appearance_rating{{ i }}" {% if i == 1 or i == 10 %}id="appearance_{{ i }}_point"{% endif %}>{{ i }}</label>
              {% endfor %}
            </div>
          </div>
          <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
              <label class="modal-info-shadow" for="appearance_10_point">Desireable</label>
            </div>
          </div>
        </div>
      `,
      key: "appearance_rating"
    },
    {
      title: "{{ strain }}<br/>Appearance Rating Explation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
            <div class="form-outline" data-mdb-input-init>
              <textarea class="form-control shadow-2-strong" id="appearance_explanation" name="appearance_explanation" type="text" rows="4" placeholder="Start typing here..."></textarea>
            </div>
            <label class="form-label pt-4" for="appearance_explanation" name="appearance_explanation_label" id="appearance_explanation_label">Explain your rating in the space above.</label>
          </div>
        </div>
      `,
      key: "appearance_explanation"
    },
    {
      title: "{{ strain }}<br/>Aroma Rating",
      content: `
        <div class="container align-items-center text-center btn-group-container">
          <div class="row pt-1 mx-auto">
              <div class="col-6 text-center mx-auto">
              <label class="modal-info-shadow" for="smell_1_point">Weak <span class="long-voting-label">or</span> None</label>
            </div>
          </div>
          <div class="btn-group btn-group-sm btn-group-container col-10 my-auto mx-auto" role="group" aria-label="{{ strain }} Aroma Rating">
            <div class="row">
              {% for i in range(1, 11) %}
                <input type="radio" class="btn-check {% if i == 1 %}btn-light{% endif %}" name="smell_rating" id="smell_rating{{ i }}" value="{{ i }}" autocomplete="off">
                <label class="btn btn-light" for="smell_rating{{ i }}" {% if i == 1 or i == 10 %}id="smell_{{ i }}_point"{% endif %}>{{ i }}</label>
              {% endfor %}
            </div>
          </div>
          <div class="row pt-1 mx-auto">
              <div class="col-6 text-center mx-auto">
              <label class="modal-info-shadow" for="smell_10_point">Strong <span class="long-voting-label">and</span> Pungeant</label>
            </div>
          </div>
        </div>
      `,
      key: "smell_rating"
    },
    {
      title: "{{ strain }}<br/>Smell Explanation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
            <div class="form-outline" data-mdb-input-init>
              <textarea class="form-control shadow-2-strong" id="smell_explanation" name="smell_explanation" type="text" rows="4"></textarea>
            </div>
            <label class="form-label pt-4" for="smell_explanation" name="smell_explanation_label" id="smell_explanation_label" >Explain your rating in the space above.</label>
          </div>
        </div>
      `,
      key: "smell_explanation"
    },
    {
      title: "{{ strain }}<br/>Freshness Rating",
      content: `
      <div class="container-fluid align-items-center text-center btn-group-container">
        <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow" for="freshness_1_point">Too Old or Dry</label>
          </div>
        </div>
        <div class="col-10 btn-group btn-group-sm btn-group-container" role="group" aria-label="{{ strain }} Freshness Rating">
          <div class="row btn-group-container">
            {% for i in range(1, 11) %}
              <input type="radio" class="btn-check {% if i == 1 %}btn-light{% endif %}" name="freshness_rating" id="freshness_rating{{ i }}" value="{{ i }}" autocomplete="off">
              <label class="btn btn-light" for="freshness_rating{{ i }}" {% if i == 1 or i == 10 %}id="freshness_{{ i }}_point"{% endif %}>{{ i }}</label>
            {% endfor %}
          </div>
        </div>
        <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow" for="freshness_10_point">Dank with Good Moisture</label>
          </div>
        </div>
      </div>
      `,
      key: "freshness_rating"
    },
    {
      title: "{{ strain }}<br/>Freshness Rating Explation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
              <div class="form-outline" data-mdb-input-init>
                  <textarea class="form-control shadow-2-strong" id="freshness_explanation" name="freshness_explanation" rows="4" placeholder="Start typing here..."></textarea>
              </div>
              <label class="form-label pt-4" for="freshness_explanation" name="freshness_explanation_label" id="freshness_explanation_label">Explain your rating in the space above.</label>
          </div>
      </div>
      `,
      key: "freshness_explanation"
    },
    {
      title: "{{ strain }}<br/>Flavor Rating",
      content: `
      <div class="container-fluid align-items-center text-center btn-group-container">
        <div class="row pt-1 mx-auto">
          <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow" for="flavor_1_point">Bad or No Flavor</label>
          </div>
        </div>
        <div class="col-10 btn-group btn-group-sm btn-group-container" role="group" aria-label="{{ strain }} Flavor Rating">
          <div class="row btn-group-container">
            {% for i in range(1, 11) %}
              <input type="radio" class="btn-check {% if i == 1 %} btn-light {% endif %}" name="flavor_rating" id="flavor_rating{{ i }}" value="{{ i }}" autocomplete="off">
              <label class="btn btn-light" for="flavor_rating{{ i }}" {% if i == 1 or i == 10 %} id="flavor_{{ i }}_point"{% endif %}>{{ i }}</label>
            {% endfor %}
          </div>
        </div>
        <div class="row pt-1 mx-auto">
          <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow" for="flavor_10_point">Tasty Flavor</label>
          </div>
        </div>
      </div>
      `,
      key: "flavor_rating"
    },
    {
      title: "{{ strain }}<br/>Flavor Rating Explanation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
              <div class="form-outline" data-mdb-input-init>
                <textarea class="form-control shadow-2-strong" id="flavor_explanation" name="flavor_explanation" rows="4" placeholder="Start typing here..."></textarea>
              </div>
              <label class="form-label pt-4" for="flavor_explanation" name="flavor_explanation_label" id="flavor_explanation_label">Explain your rating in the space above.</label>
          </div>
      </div>
      `,
      key: "flavor_explanation"
    },
    {
      title: "{{ strain }}<br/>Smoothness Rating",
      content: `
      <div class="container-fluid align-items-center text-center btn-group-container">
        <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow long-voting-label" for="harshness_1_point">Very Harsh</label>
          </div>
        </div>
        <div class="col-10 btn-group btn-group-sm btn-group-container" role="group" aria-label="{{ strain }} Harshness Rating">
          <div class="row btn-group-container">
            {% for i in range(1, 11) %}
              <input type="radio" class="btn-check {% if i == 1 %}btn-light{% endif %}" name="harshness_rating" id="harshness_rating{{ i }}" value="{{ i }}" autocomplete="off">
              <label class="btn btn-light" for="harshness_rating{{ i }}" {% if i == 1 or i == 10 %}id="harshness_{{ i }}_point"{% endif %}>{{ i }}</label>
            {% endfor %}
          </div>
        </div>
        <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow long-voting-label" for="harshness_10_point">Enjoyable</label>
          </div>
        </div>
      </div>
      `,
      key: "harshness_rating"
    },
    {
      title: "{{ strain }}<br/>Smoothness Explanation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
              <div class="form-outline" data-mdb-input-init>
                  <textarea class="form-control shadow-2-strong" id="harshness_explanation" name="harshness_explanation" rows="4" placeholder="Start typing here..."></textarea>
              </div>
              <label class="form-label pt-4" for="harshness_explanation" name="harshness_explanation_label" id="harshness_explanation_label">Explain your rating in the space above.</label>
          </div>
      </div>
      `,
      key: "harshness_explanation"
    },
    {
      title: "{{ strain }}<br/>Effects Rating",
      content: `
      <div class="container-fluid align-items-center text-center btn-group-container">
        <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow long-voting-label" for="effects_1_point">Short-Lived, No Effects</label>
          </div>
        </div>
        <div class="col-10 btn-group btn-group-sm btn-group-container" role="group" aria-label="{{ strain }} Effects Vote">
          <div class="row btn-group-container">
            {% for i in range(1, 11) %}
              <input type="radio" class="btn-check {% if i == 1 %}btn-light{% endif %}" name="effects_rating" id="effects_rating{{ i }}" value="{{ i }}" autocomplete="off">
              <label class="btn btn-light" for="effects_rating{{ i }}" {% if i == 1 or i == 10 %}id="effects_{{ i }}_point"{% endif %}>{{ i }}</label>
            {% endfor %}
          </div>
        </div>
        <div class="row pt-1 mx-auto">
            <div class="col-6 text-center mx-auto">
            <label class="modal-info-shadow long-voting-label" for="effects_10_point">Strong, Lasting Effects</label>
          </div>
        </div>
      </div>
      `,
      key: "effects_rating"
    },
    {
      title: "{{ strain }}<br/>Effects Rating Explanation",
      content: `
        <div class="container align-content-center align-items-center justify-content-center text-center">
          <div class="row align-items-center">
            <div class="col-7">
              <label class="pb-3 ps-2 fs-5 text-start" for="effects_explanation">Please pick a minimum of two (2) to explain how {{ strain }} made you feel:</label>
            </div>
            <div class="col-5 align-content-center align-items-center justify-content-center ">
              <select class="form-select px-3 px-lg-4" id="effects_explanation" name="effects_explanation" aria-label="Effects Rating Explanation Field" multiple>
                <option value="sedative">Sedative</option>
                <option value="relaxing">Relaxing</option>
                <option value="sleepy">Sleepy</option>
                <option value="tingly">Tingly</option>
                <option value="calming">Calming</option>
                <option value="hungry">Hungry</option>
                <option value="happy">Happy</option>
                <option value="giggly">Giggly</option>
                <option value="energizing">Energizing</option>
                <option value="euphoric">Euphoric</option>
                <option value="focused">Focused</option>
                <option value="uplifting">Uplifting</option>
                <option value="alert">Alert</option>
                <option value="creative">Creative</option>
                <option value="talkative">Talkative</option>
                <option value="aroused">Aroused</option>
                <option value="aroused">None / Short Lived</option>
              </select>
            </div>
          </div>
        </div>
      `,
      key: "effects_explanation"
    },
  ];
  function adjustButtonSize() {
    if (window.matchMedia("(max-width: 767px)").matches) {
      const formElements = document.querySelectorAll('.form-select-lg');
      formElements.forEach(element => {
        element.classList.remove('form-select-lg');
      });
      const inputElements = document.querySelectorAll('.form-control-lg');
      inputElements.forEach(element => {
        element.classList.remove('form-control-lg');
      });
    } else {
      const formElements = document.querySelectorAll('.form-select');
      formElements.forEach(element => {
        element.classList.add('form-select-lg');
      });
      const inputElements = document.querySelectorAll('.form-control');
      inputElements.forEach(element => {
        element.classList.add('form-control-lg');
      });
    }
    if (window.matchMedia("(max-width: 510px)").matches) {
      const classLabels = document.querySelectorAll('.consume-label');
      classLabels.forEach(label => {
        label.classList.remove('fs-5');
        label.classList.add('fs-6');
      });
    } else {
      const classLabels = document.querySelectorAll('.consume-label');
      classLabels.forEach(label => {
        label.classList.add('fs-5');
        label.classList.remove('fs-6');
      });
    }
  }
  window.addEventListener('resize', adjustButtonSize);

  document.addEventListener("DOMContentLoaded", function() {
    var checkbox = document.getElementById('cannabisIndustryCheck');
    var employmentDiv = document.getElementById('employmentQuestions');
  
    checkbox.addEventListener('change', function() {
      if (checkbox.checked) {
        employmentDiv.style.display = 'block';
      } else {
        employmentDiv.style.display = 'none';
      }
    });
    
    const submitButton = document.getElementById("submitNewVoterBtn");
    const form = document.getElementById("newVoterForm");
        document.getElementById("newUserBackBtn").onclick = function() {
      $('#FlowerVoterInfoCaptureModal').modal('hide');
    };

    submitButton.addEventListener("click", function(event) {
      event.preventDefault();

      const formData = new URLSearchParams();
        const emailInput = document.getElementById("new_connoisseur").value
        const lowerCasedEmail = emailInput.toLowerCase()
        formData.append('voter_name', document.getElementById("connoisseur_name").value);
        formData.append('voter_email', lowerCasedEmail);
        formData.append('voter_phone', document.getElementById("connoisseur_phone").value);
        formData.append('voter_zip_code', document.getElementById("connoisseur_zip_code").value);
        formData.append('voter_industry_employer', document.getElementById("connoisseur_employer").value);
        formData.append('voter_industry_job_title', document.getElementById("connoisseur_job_title").value);

        fetch("/submit-new-voter", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: formData.toString()
        })
      .then(response => response.json())
      .then(data => {
        if (data.status === true) {
          $('#FlowerVoterInfoCaptureModal').modal('hide');
          step = 0;
          loadQuestion();
        } else {
          alert("Please ensure you have provided a valid email and try again.")
          return
        }
      })
      .catch(error => {
        console.error("Error:", error);
      });
    });

    async function checkVoterExists(email) {
      const lowerCaseEmail = email.toLowerCase();
      const root = window.location.origin;
      const url = new URL('/check-mystery-voter', root);
      url.searchParams.append('voter_email', lowerCaseEmail);

      const response = await fetch(url, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      });

      if (response.ok) {
          const data = await response.json();
          return data.exists;
      } else {
          console.log("Request failed:", response.status, response.statusText);
          return false;
      }
    }

    let step = 0;
    const formState = {
      "flower_id": "{{ flower_id }}",
      "cultivator": "{{ cultivator }}",
      "strain": "{{ strain }}",
    };
    const modalTitle = document.getElementById('modalTitle');
    const modalBody = document.getElementById('modalBody');
    const nextBtn = document.getElementById('nextBtn');
    const backBtn = document.getElementById('backBtn');

    async function submitForm(formState) {
      try {
        const response = await fetch('/flower_ranking/submit-flower-ranking', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formState)
        });
        if (response.ok) {
          const data = await response.json();
          if (formState.cultivator === "Connoisseur") {
            window.location.href = "/connoisseur_citrus_one";
          } else {
            window.location.href = "/success";
          }
        } else {
          console.log("Submission failed:", response.status, response.statusText);
        }
      } catch (error) {
        console.error("Error during submission:", error);
      }
    }

    function updatePageLabel() {
      const currentQuestionIndex = step+1
      const totalQuestions = questions.length;

      const currentPairIndex = Math.floor(currentQuestionIndex / 2);
      const totalPairs = Math.floor((totalQuestions+1) / 2);

      const pageNumElement = document.getElementById("page_num");
      const pageLabelElement = document.getElementById("page_label");

      pageNumElement.textContent = currentPairIndex + 1;
      pageLabelElement.innerHTML = `<span id="page_num" name="page_num">${currentPairIndex}</span> / ${totalPairs}`;
    }

    function loadQuestion() {
      const intKeys = [
        "appearance_rating",
        "flavor_rating",
        "effects_rating",
        "freshness_rating",
        "smell_rating",
        "harshness_rating",
      ];

      if (step < 0) {
        step = 0;
      }
      if (step < questions.length) {
        const question = questions[step];
        modalTitle.innerHTML = question.title;
        modalBody.innerHTML = question.content;


        const input = document.getElementById(question.key);

        document.addEventListener('keydown', function enterKeyHandler(event) {
          if (event.keyCode === 13) {
            event.preventDefault();
            nextBtn.click();
          }
        });

        nextBtn.onclick = async function () {
          if (input) {
            var inputVal = input.value;

            if (question.key === "connoisseur") {
              const voterExists = await checkVoterExists(input.value);
              if (!voterExists) {
                $('#FlowerVoterInfoCaptureModal').modal('show');
                return;
              }
              const lowerCaseEmail = input.value.toLowerCase();
              formState[question.key] = lowerCaseEmail;
            }
            else if (question.key === "effects_explanation") {
              const selectedOptions = Array.from(document.getElementById('effects_explanation').selectedOptions).map(option => option.value);
              if (selectedOptions.length <= 1) {
                alert("Please tell us two ways {{ strain }} made you feel.  On desktop you will need to hold the control key to highlight multiple selections.");
                return;
              }
              const combinedString = selectedOptions.join(' ');
              formState[question.key] = combinedString;
            }
            else {
              formState[question.key] = input.value;
            }
          } else {
            const radioCheck = Array.from(document.getElementsByName(question.key)).find(radio => radio.checked);
            const radioVal = radioCheck ? radioCheck.value : "0";
            if (radioVal === "0") {
              alert("{{ strain }} Ratings Must Have a Value!");
              return;
            }
            formState[question.key] = radioVal;
          }

          $('#FlowerVoterInfoCaptureModal').on('.bs.modal', function () {
            step++;
            loadQuestion();
            updatePageLabel()
            adjustButtonSize();
          });

          if (!$('#FlowerVoterInfoCaptureModal').hasClass('show')) {
            step++;
            loadQuestion();
            updatePageLabel()
            adjustButtonSize();
          }
        };
      } else {
        nextBtn.textContent = 'Submit';
        nextBtn.onclick = function () {
          formState['pack_code'] = document.getElementById('packCodeInput').value; // Add pack_code to formState
          console.log(formState);
          submitForm(formState);
        };
        modalTitle.textContent = 'All questions completed.';
        
        // Create pack_code input field
        const packCodeInput = document.createElement('input');
        packCodeInput.setAttribute('type', 'text');
        packCodeInput.setAttribute('id', 'packCodeInput');
        packCodeInput.setAttribute('name', 'pack_code');
        packCodeInput.setAttribute('placeholder', 'Enter Pack Code');
        packCodeInput.className = 'form-control my-5 mx-3'; // Add Bootstrap class for styling
      
        // Clear existing content and add new content
        modalBody.innerHTML = '';
        modalBody.appendChild(document.createTextNode('Your ratings for {{ strain }} are completed. Please enter your pack code:'));
        modalBody.appendChild(packCodeInput);
      }
      backBtn.onclick = function () {
        $('#FlowerVoterInfoCaptureModal').modal('hide');

        $('#FlowerVoterInfoCaptureModal').on('.bs.modal', function () {
          step--;
          loadQuestion();
          updatePageLabel()
          adjustButtonSize();
        });

        if (!$('#FlowerVoterInfoCaptureModal').hasClass('show')) {
          step--;
          loadQuestion();
          updatePageLabel()
          adjustButtonSize();
        }
      };
    }
    adjustButtonSize();
    loadQuestion();
    updatePageLabel()
    adjustButtonSize();
  });
</script>
{% endblock %}
