{% block footer %}
<footer class="text-center text-lg-start" style="background-color: rgba(48, 25, 52, 0.05);">
  <div class="row">
    <div class="col-auto mx-auto pt-5">
      <p style="color: rgba(48, 25, 52, 1.0)">Support Us with a Follow on Social Media</p>
    </div>
  </div>
  <div class="container d-flex justify-content-center pt-3 pb-5">
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #301934;">
      <a class="text-white" href="https://www.reddit.com/r/thecannabiscult/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-reddit-alien fa-lg"></i>
      </a>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #301934;">
      <a class="text-white" href="https://www.facebook.com/100089202138069" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook-f fa-lg"></i>
      </a>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #301934;">
      <a class="text-white" href="https://www.instagram.com/missouricannabisreviews" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #301934;">
      <a class="text-white" href="https://twitter.com/TheCannabisCvlt" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter fa-lg"></i>
      </a>
    </button>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3 text-white" style="background-color: rgba(48, 25, 52, 1.0);">
    © 2024 The Social Outfit. All Rights Reserved
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}
