{% block footer %}

<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted" style="padding-bottom: 1em">
      Vist our social media pages and connect with us today
    </span>
    <div class="row align-items-center" style="padding: 1em">
      <div class="col">
        <a href="https://www.facebook.com/100089202138069">
          <img 
            src="{{ url_for('static', path='images/Facebook.png') }}"
            target="_blank" 
            rel="noopener noreferrer"
          >
        </a>
      </div>
      <div class="col">
        <a href="https://www.instagram.com/missouricannabisreviews/">
          <img 
            src="{{ url_for('static', path='images/Instagram.png') }}"
            target="_blank" 
            rel="noopener noreferrer"
          >
        </a>
      </div>
      <div class="col">
        <a href="https://twitter.com/TheCannabisCvlt">
          <img 
            src="{{ url_for('static', path='images/Twitter.png') }}"
            target="_blank" 
            rel="noopener noreferrer"
          >
        </a>
      </div>
    </div>
  </div>
  <div class="container text-center" style="padding-top:1em">
    <div class="row justify-content-end align-items-end">
      <div class="col-6">
        <span class="text-muted">© 2023 The Social Outfit. All Rights Reserved</span>
      </div>
      <div class="col-3">
        <a href="/unsubscribe" 
           target="_blank" 
           rel="noopener noreferrer"
           class="text-muted">
           Unsubscribe
        </a>
      </div>
    </div>
  </div>
</footer>
{% endblock %}