<div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
  <div class="modal-dialog" style="width: 300px;">
    <div class="modal-content text-center">
      <div class="modal-header h5 text-white bg-primary justify-content-center">
        Password Reset
      </div>
      <div class="modal-body px-5">
        <p class="py-2">
          Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline">
          <input type="email" id="typeEmail" class="form-control my-3" />
          <label class="form-label" for="typeEmail">Email input</label>
        </div>
        <a class="btn btn-primary w-100">Reset password</a>
        <div class="d-flex justify-content-between mt-4">
          <a class="" href="/login">Login</a>
          <a class="" href="/login">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>