<div class="card text-bg-light" style="width: 20rem;">
  <div class="card-body"
    <form method="post" action="/submit">
      <div class="row g-2">
        <div class="col-md-6 mb-1">
          <label for="name">Name:</label>
          <input type="text" class="form-control form-control-sm" id="name" name="name">
        </div>
        <div class="col-md-6">
          <label for="email">Email:</label>
          <input type="email" class="form-control form-control-sm" id="email" name="email" required>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md-6">
          <label for="phone">Phone:</label>
          <input type="tel" class="form-control form-control-sm" id="phone" name="phone">
        </div>
        <div class="col-md-6">
          <label for="zip_code">Zip:</label>
          <input type="text" class="form-control form-control-sm" id="zip_code" name="zip_code">
        </div>
      </div>
      <div class="col-md-12" style="padding-top:10px">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
<div>