<div background="{{ url_for('static', path='images/giveaway_bg.png') }}" class="card" style="max-width: 80rem;">
  <div class="card-body text-center">
    <form method="post" action="/submit">
      <div class="col-md-4">
      </div>
      <div class="row g-1">
        <div class="col-md-6 mb-2">
          <input 
            type="text" class="form-control form-control-sm" 
            id="name" name="name" placeholder="Your Name Here"
          >
        </div>
        <div class="col-md-6 mb-2">
          <input 
            type="email" class="form-control form-control-sm" 
            id="email" name="email" placeholder="Email Address Required" required
          >
        </div>
      </div>
      <div class="row g-1">
        <div class="col-md-6 mb-2">
          <input 
            type="tel" class="form-control form-control-sm" 
            id="phone" name="phone" placeholder="Phone Number"
          >
        </div>
        <div class="col-md-6 mb-2">
          <input 
            type="text" class="form-control form-control-sm" 
            id="zip_code" name="zip_code" placeholder="Zip Code"
          >
        </div>
      </div>
      <div class="col-md-12" style="padding-top:10px">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>