<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordSendLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordSendLabel">Forgot Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="forgot-password-form">
          <div class="mb-3">
            <label for="user-email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="user-email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll send a password reset link to this email.</div>
          </div>
          <button type="submit" class="btn btn-primary" id="forgotPasswordSendButton">Send Link</button>
        </form>
      </div>
    </div>
  </div>
</div>

<section class="container">
  <div class="card">
    <div class="card-header">
      <div class="container pb-3">
        <div class="row text-start justify-content-center">
          <div class="col-sm-12 col-md-9 col-lg-6">
            <!-- Pills navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
              <li class="nav-item" role="presentation">
                <a 
                  class="nav-link active" id="tab-login" 
                  data-mdb-toggle="pill" href="#pills-login" role="tab"
                  aria-controls="pills-login" aria-selected="true"
                >
                  Login
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-register" data-mdb-toggle="pill" 
                  href="#pills-register" role="tab"
                  aria-controls="pills-register" aria-selected="false"
                >
                  Register
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Pills navs -->  
        <!-- Pills content -->
        <div class="card-header">
          <div class="container pb-3">
            <div class="row text-start justify-content-center">
              <div class="col-sm-12 col-md-9 col-lg-6">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form id="log-in" name="log-in">
                      <div class="text-center mb-3">
                        <p>Sign in:</p>
                      </div>
                      <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input name="login_email" type="email" id="login_email" class="form-control" />
                      <label class="form-label" for="login_email">Email</label>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <input type="password" id="login_password" name="login_password" class="form-control" />
                      <label class="form-label" for="login_password">Password</label>
                    </div>
                    <!-- 2 column grid layout -->
                    <div class="row mb-4">
                      <div class="col-md-6 d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-3 mb-md-0">
                          <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                          <label class="form-check-label" for="loginCheck"> Remember me </label>
                        </div>
                      </div>
                      <div class="col-md-6 d-flex justify-content-center">
                        <!-- Simple link -->
                        <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Forgot password?</a>
                      </div>
                    </div>
                    <!-- Submit button -->
                    <button name="login-submit" type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                  <form class="pb-5" id="sign-up" name="sign-up">
                    <div class="text-center mb-3">
                      <p>Sign up:</p>
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="register_username" name="register_username" class="form-control" />
                      <label class="form-label" for="register_username">Username</label>
                    </div>
                    
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" id="register_email" name="register_email" class="form-control" />
                      <label class="form-label" for="register_email">Email</label>
                    </div>
                    
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="register_name" name="register_name" class="form-control" />
                      <label class="form-label" for="register_name">Name</label>
                    </div>
                    
                    <!-- Zip Code input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="register_zip_code" name="register_zip_code" class="form-control" />
                      <label class="form-label" for="register_zip_code">Zip Code</label>
                    </div>
                  
                  
                    <!-- Phone input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="register_phone" name="register_phone" class="form-control" />
                      <label class="form-label" for="register_phone">Phone</label>
                    </div>
                  
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <input type="password" id="register_password" name="register_password" class="form-control" />
                      <label class="form-label" for="register_password">Password</label>
                    </div>
                  
                    <!-- Repeat Password input -->
                    <div class="form-outline mb-4">
                      <input type="password" id="register_repeat_password" name="register_repeat_password" class="form-control" />
                      <label class="form-label" for="register_repeat_password">Repeat password</label>
                    </div>
                  
                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                      <input class="form-check-input me-2" type="checkbox" value="" id="register_check" name="register_check" checked
                        aria-describedby="registerCheckHelpText" />
                      <label class="form-check-label" for="register_check">
                        I have read and agree to the terms
                      </label>
                    </div>
                    <!-- Submit button -->
                    <button id="register-submit" name="register-submit" type="submit" class="btn btn-primary btn-block mb-3">Sign Up</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
async function handleLoginFormSubmission() {
    const loginForm = document.getElementById('log-in');
    if (!loginForm) {
        return;
    }
    loginForm.addEventListener('submit', async function(event) {
        event.preventDefault();
        const email = document.getElementById('login_email').value;
        const password = document.getElementById('login_password').value;
        try {
            const { user, session, error } = await window.supabaseClient.signInWithEmail(email, password);
            if (error) throw error;
            window.location.href = "/voting-home";
        } catch (error) {
            console.error('Login error:', error.message);
            alert('Login failed: ' + error.message);
        }
    }, false);
}

async function submitRegistrationForm() {
  const registerForm = document.getElementById('sign-up');
  registerForm.addEventListener('submit', async function(event) {
    event.preventDefault();
    const formData = new FormData(registerForm);
    const userDetails = {
        email: formData.get('register_email'),
        password: formData.get('register_password'),
        confirmPassword: formData.get('register_repeat_password'),
        username: formData.get('register_username'),
        zip_code: formData.get('register_zip_code'),
        phone: formData.get('register_phone'),
    };

    const user = await window.supabaseClient.registerUser(userDetails);
    alert('Registration successful. Check your email to confirm your registration details.');

  });
}

async function handlePasswordReset() {
  var myModal = new bootstrap.Modal(document.getElementById('forgotPasswordModal'));
  var email = document.getElementById('user-email').value;
  try {
    await window.supabaseClient.sendResetPassword(email);
    alert('Password reset email sent successfully, be sure to log in and reset your password from the same device.');
  } catch (error) {
    console.error('Error:', error.message);
  } finally {
    myModal.hide();
  }
}
window.addEventListener('load', function() {
  handleLoginFormSubmission();
  submitRegistrationForm();
}, false);

$(document).ready(function() {
  const forgotPasswordForm = document.getElementById('forgot-password-form');
  
  forgotPasswordForm.addEventListener('submit', async function(event) {
    event.preventDefault();
    const email = document.getElementById('user-email').value;
    if (email) {
      handlePasswordReset();
    }
  });
  
  document.addEventListener('DOMContentLoaded', function () {
    var tabEl = document.querySelector('a[data-mdb-toggle="pill"]')
    if (tabEl) {
      var tab = new mdb.Tab(tabEl)
      tab.show()
    }
  });
});
</script>
