<!-- Modal Structure Template -->
<div class="modal fade w-100" id="questionModal" tabindex="-1" aria-labelledby="questionModalLabel" aria-hidden="true" style="min-width:100%">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content overflow-auto">
      <form method="POST" action="/myster_flower_review/submit-mystery-review" id="submit-mystery-vote" name="submit-mystery-vote">
        <div class="container text-center pt-1 pb-1">
          <div class="row align-content-center justify-content-center pt-4">
              <u><h5 class="modal-title fs-3" id="modalTitle">Question</h5></u>
          </div>
          <div class="container text-center align-content-center align-items-center justify-content-center w-100 px-0 pt-2 pb-0">
            <div class="col-12 justify-content-center text-center p-0">
              <div class="modal-body text-center align-content-center justify-content-center pb-2 px-0 mx-0" id="modalBody">
                <!-- Dynamic Content will be loaded here -->
              </div>
            </div>
          </div>
          <div class="container"> 
            <div class="col-12">
              <div class="row justify-content-center pt-4 px-4">
                <div class="col-6">
                  <button type="button" class="btn btn-lg btn-error w-100" style="border: 2px solid black;" id="backBtn">Back</button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-lg btn-info w-100" style="border: 2px solid black;" id="nextBtn" name="nextBtn">Next</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-4 col-md-5 col-6">
              <img class="img-fluid" src="https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/logos/Small%20C%20image%20Logo.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL2xvZ29zL1NtYWxsIEMgaW1hZ2UgTG9nby5zdmciLCJpYXQiOjE2OTU1NjY4OTgsImV4cCI6MTcyNzEwMjg5OH0.KhSW1ZSuU_eRovc9ycELDUS2HVA-QekQBr_UhI04kuQ&t=2023-09-24T14%3A48%3A18.833Z" />
            </div>
          </div>
          <div class="position-absolute bottom-0 end-0 p-3 fs-4" id="page_label" name="page_label"><span id="page_num" name="page_num">1</span> / 7</div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Voter Info Capture Modal -->
<div class="modal fade" id="voterInfoCaptureModal" tabindex="-1" aria-labelledby="voterInfoCaptureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container text-center">
          <div class="row text-center">
            <h5 class="modal-title" id="voterInfoCaptureModalLabel">New Connoisseur Information</h5>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <form id="newVoterForm" class="container">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter Your Name" id="voter_name" name="voter_name" autocomplete="name">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control email-input-field" placeholder="Enter Your Email" id="new_voter_email" name="voter_email" autocomplete="email" required>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter Your Phone Number" id="voter_phone" name="voter_phone" autocomplete="phone">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter Your Zip Code" id="voter_zip_code" name="voter_zip_code" autocomplete="on">
          </div>
          <div class="conainer ps-1">
            <div class="form-check ps-4">
              <input class="form-check-input me-2" type="checkbox" value="" id="register_check" name="register_check" checked
                aria-describedby="registerCheckHelpText" />
              <label class="form-check-label" for="register_check">
                I have read and agree to the <a href="/privacy-policy" style="color:#301934" target="_blank" rel="noopener noreferrer">privacy policy</a> & <a href="/terms-of-use" style="color:#301934" target="_blank" rel="noopener noreferrer">user agreement</a>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="container text-center"> 
          <div class="row g-2 p-1">
            <div class="col-6">
              <button type="button" class="btn btn-lg btn-error w-100" style="border: 2px solid black;" name="newUserBackBtn" id="newUserBackBtn">Back</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-lg btn-info w-100" style="border: 2px solid black;" name="submitNewVoterBtn" id="submitNewVoterBtn">Submit</button>
            </div>
          </div>
          <div class="row pb-3 pt-4">
            <h6 id="voterInfoCaptureModalLabel">Submit once to rate all strains.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const termsCheckbox = document.getElementById('register_check');
  const submitButton = document.getElementById('submitNewVoterBtn');
  
  function toggleSubmitButtonState() {
      submitButton.disabled = !termsCheckbox.checked;
  }

  termsCheckbox.addEventListener('change', toggleSubmitButtonState);

  toggleSubmitButtonState();
</script>


{% block scripts %}  
<script>
  const questions = [
    {
      title: "Connoisseur Email",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
            <input class="form-control text-center email-input-field" id="voter_email" name="voter_email" placeholder="Your email is required to rate strains" />
         </div>
        </div>`,
      key: "voter_email"
    },
    {
      title: "Method of Consumption for {{ strain }}",
      content: `
        <div class="container ps-lg-3">
          <div class="row align-items-center justify-content-center g-1">
            <div class="col-auto d-flex align-items-center text-start">
              <label class="pe-3 consume-label" for="method_of_consumption">How did you consume {{ strain }}:</label>
            </div>
            <div class="col-auto d-flex align-items-center text-start"> 
              <div class="single-width-outline">
                <select class="form-select ps-2 pe-2" id="method_of_consumption" name="method_of_consumption" aria-label="Method of Consumption Dropdown Field">
                  <option value="blunt">Blunt</option>
                  <option value="bong">Bong</option>
                  <option value="joint">Joint</option>
                  <option value="one_hitter">One-Hitter</option>
                  <option value="pipe">Pipe</option>
                  <option value="steamroller">Steamroller</option>
                  <option value="vaporizer">Vaporizer</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      `,
      key: "method_of_consumption"
    },
    {
      title: "{{ strain }} - Bud Size Rating",
      content: `
        <div class="container">
          <div class="btn-group" role="group" aria-label="Connoisseur Sight Vote">
            <input type="radio" class="btn-check btn-outline-dark" name="mystery_size_vote" id="mystery_size_vote1" value="1" autocomplete="off">
            <label class="btn btn-outline-dark" for="mystery_size_vote1" id="sight_1_point">1</label>
          
            <input type="radio" class="btn-check" name="mystery_size_vote" id="mystery_size_vote2" value="2" autocomplete="off">
            <label class="btn btn-outline-dark" for="mystery_size_vote2">2</label>
          
            <input type="radio" class="btn-check" name="mystery_size_vote" id="mystery_size_vote3" value="3" autocomplete="off">
            <label class="btn btn-outline-dark" for="mystery_size_vote3">3</label>
          
            <input type="radio" class="btn-check" name="mystery_size_vote" id="mystery_size_vote4" value="4" autocomplete="off">
            <label class="btn btn-outline-dark" for="mystery_size_vote4">4</label>
          
            <input type="radio" class="btn-check" name="mystery_size_vote" id="mystery_size_vote5" value="5" autocomplete="off">
            <label class="btn btn-outline-dark" for="mystery_size_vote5">5</label>
          
            <input type="radio" class="btn-check" name="mystery_size_vote" id="mystery_size_vote6" value="6" autocomplete="off">
            <label class="btn btn-outline-dark" for="mystery_size_vote6">6</label>
          
            <input type="radio" class="btn-check" name="mystery_size_vote" id="mystery_size_vote7" value="7" autocomplete="off">
            <label class="btn btn-outline-dark" for="mystery_size_vote7">7</label>
          
            <input type="radio" class="btn-check" name="mystery_size_vote" id="mystery_size_vote8" value="8" autocomplete="off">
            <label class="btn btn-outline-dark" for="mystery_size_vote8">8</label>
          
            <input type="radio" class="btn-check" name="mystery_size_vote" id="mystery_size_vote9" value="9" autocomplete="off">
            <label class="btn btn-outline-dark" for="mystery_size_vote9">9</label>
          
            <input type="radio" class="btn-check" name="mystery_size_vote" id="mystery_size_vote10" value="10" autocomplete="off">
            <label class="btn btn-outline-dark" for="mystery_size_vote10" id="size_10_point">10</label>
          </div>
          <div class="row pt-1">
            <div class="col text-start">
              <label class="ps-2  modal-info-shadow" for="size_1_point">Small Buds</label> 
            </div>
            <div class="col text-end">
              <label class="pe-2  modal-info-shadow" for="size_10_point">Single Bud</label> 
            </div>
          </div>
        </div>
      `,
      key: "mystery_size_vote"
    },
    {
      title: "{{ strain }} - Bud Size Rating Explation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
            <input class="form-control text-center" type="text" id="mystery_size_explanation" name="mystery_size_explanation" placeholder="Explain your Bud Size rating for {{ strain }}" aria-label="Size Vote Explantion Field" />
          </div>
        </div>
      `,
      key: "mystery_size_explanation"
    },
    {
      title: "{{ strain }} - Buds Structure Rating",
      content: `
      <div class="container align-items-center text-center">
        <div class="btn-group" role="group" aria-label="Connoisseur Bud Structure Rating">
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote1" value="1" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_structure_vote1" id="structure_1_point">1</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote2" value="2" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_structure_vote2">2</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote3" value="3" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_structure_vote3">3</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote4" value="4" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_structure_vote4">4</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote5" value="5" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_structure_vote5">5</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote6" value="6" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_structure_vote6">6</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote7" value="7" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_structure_vote7">7</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote8" value="8" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_structure_vote8">8</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote9" value="9" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_structure_vote9">9</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote10" value="10" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_structure_vote10" id="structure_10_point">10</label>
        </div>
        <div class="row pt-1">
          <div class="col text-start">
            <label class="ps-2 modal-info-shadow long-voting-label" for="structure_1_point">Larfy, Stemmy, Leafy</label> 
          </div>
          <div class="col text-end">
            <label class="pe-2 modal-info-shadow long-voting-label" for="structure_10_point">Dense, Clean Trim</label> 
          </div>
        </div>
      </div>
      `,
      key: "mystery_structure_vote"
    },
    {
      title: "{{ strain }} - Bud Structure Rating Explanation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
            <input class="form-control text-center" type="text" id="mystery_structure_explanation" name="mystery_structure_explanation" placeholder="Explain your Bud Structure Rating for {{ strain }}" aria-label="Structure Vote Explantion Field" />
          </div>
        </div>
      `,
      key: "mystery_structure_explanation"
    },
    {
      title: "{{ strain }} - Aroma Rating",
      content: `
      <div class="container align-items-center text-center">
        <div class="btn-group" role="group" aria-label="Connoisseur Smell Vote">
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote1" value="1" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smell_vote1" id="smell_1_point">1</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote2" value="2" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smell_vote2">2</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote3" value="3" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smell_vote3">3</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote4" value="4" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smell_vote4">4</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote5" value="5" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smell_vote5">5</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote6" value="6" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smell_vote6">6</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote7" value="7" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smell_vote7">7</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote8" value="8" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smell_vote8">8</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote9" value="9" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smell_vote9">9</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote10" value="10" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smell_vote10" id="smell_10_point">10</label>
        </div>
        <div class="row pt-1">
          <div class="col text-start">
            <label class="ps-2 modal-info-shadow" for="smell_1_point">Bad<span class="long-voting-label"> or </span>No Aroma</label> 
          </div>
          <div class="col text-end">
            <label class="pe-2 modal-info-shadow" for="smell_10_point">Good, Strong Aroma</label> 
          </div>
        </div>
      </div>
      `,
      key: "mystery_smell_vote"
    },
    {
      title: "{{ strain }} - Aroma Rating Explanation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
            <input class="form-control text-center" type="text" id="mystery_smell_explanation" name="mystery_smell_explanation" placeholder="Explain your Aroma Rating for {{ strain }}" aria-label="Smell Vote Explantion Field" />
          </div>
        </div>
      `,
      key: "mystery_smell_explanation"
    },
    {
      title: "{{ strain }} - Stickiness & Moisture Rating",
      content: `
      <div class="container align-items-center text-center">
        <div class="btn-group" role="group" aria-label="Connoisseur Freshness Vote">
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote1" value="1" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_freshness_vote1" id="freshness_1_point">1</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote2" value="2" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_freshness_vote2">2</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote3" value="3" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_freshness_vote3">3</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote4" value="4" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_freshness_vote4">4</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote5" value="5" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_freshness_vote5">5</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote6" value="6" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_freshness_vote6">6</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote7" value="7" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_freshness_vote7">7</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote8" value="8" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_freshness_vote8">8</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote9" value="9" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_freshness_vote9">9</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote10" value="10" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_freshness_vote10" id="freshness_10_point">10</label>
        </div>
        <div class="row pt-1">
          <div class="col text-start">
            <label class="ps-2 modal-info-shadow" for="freshness_1_point">Dry & Dusty</label> 
          </div>
          <div class="col text-end">
            <label class="pe-2 modal-info-shadow" for="freshness_10_point">Dank & Sticky</label> 
          </div>
        </div>
      </div>
      `,
      key: "mystery_freshness_vote"
    },
    {
      title: "{{ strain }} - Stickiness & Moisture Rating Explanation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
            <input class="form-control text-center" type="text" id="mystery_freshness_explanation" name="mystery_freshness_explanation" placeholder="Explain your Stickiness Rating for {{ strain }}" aria-label="Freshness Vote Explantion Field" />
          </div>
        </div>
      `,
      key: "mystery_freshness_explanation"
    },
    {
      title: "{{ strain }} - Flavor Rating",
      content: `
      <div class="container align-items-center text-center">
        <div class="btn-group" role="group" aria-label="Connoisseur Flavor Vote">
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote1" value="1" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_flavor_vote1" id="flavor_1_point">1</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote2" value="2" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_flavor_vote2">2</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote3" value="3" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_flavor_vote3">3</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote4" value="4" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_flavor_vote4">4</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote5" value="5" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_flavor_vote5">5</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote6" value="6" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_flavor_vote6">6</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote7" value="7" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_flavor_vote7">7</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote8" value="8" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_flavor_vote8">8</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote9" value="9" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_flavor_vote9">9</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote10" value="10" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_flavor_vote10" id="flavor_10_point">10</label>
        </div>
        <div class="row pt-1">
          <div class="col text-start">
            <label class="ps-2 modal-info-shadow" for="flavor_1_point">Bad<span class="long-voting-label"> or </span>No Flavor</label> 
          </div>
          <div class="col text-end">
            <label class="pe-2 modal-info-shadow" for="flavor_10_point">Tasty Flavor</label> 
          </div>
        </div>
      </div>
      `,
      key: "mystery_flavor_vote"
    },
    {
      title: "{{ strain }} - Flavor Rating Explanation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
            <input class="form-control text-center" type="text" id="mystery_flavor_explanation" name="mystery_flavor_explanation" placeholder="Explain your Flavor Rating for {{ strain }}" aria-label="Flavor Vote Explantion Field" />
          </div>
        </div>
      `,
      key: "mystery_flavor_explanation"
    },
    {
      title: "{{ strain }} -Smoothness of Smoke Rating",
      content: `
      <div class="container align-items-center text-center">
        <div class="btn-group" role="group" aria-label="Connoisseur Smoothness Vote">
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote1" value="1" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smoothness_vote1" id="smoothness_1_point">1</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote2" value="2" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smoothness_vote2">2</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote3" value="3" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smoothness_vote3">3</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote4" value="4" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smoothness_vote4">4</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote5" value="5" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smoothness_vote5">5</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote6" value="6" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smoothness_vote6">6</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote7" value="7" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smoothness_vote7">7</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote8" value="8" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smoothness_vote8">8</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote9" value="9" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smoothness_vote9">9</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote10" value="10" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_smoothness_vote10" id="smoothness_10_point">10</label>
        </div>
        <div class="row pt-1">
          <div class="col text-start">
            <label class="ps-2 modal-info-shadow long-voting-label" for="smoothness_1_point">Harsh, Causes Cough</label> 
          </div>
          <div class="col text-end">
            <label class="pe-2 modal-info-shadow long-voting-label" for="smoothness_10_point">Smooth, Relaxing</label> 
          </div>
        </div>
      </div>
      `,
      key: "mystery_smoothness_vote"
    },
    {
      title: "{{ strain }} - Smoothness of Smoke Explanation",
      content: `
        <div class="container px-4">
          <div class="row px-4 py-2 py-lg-3">
            <input class="form-control text-center" type="text" id="mystery_smoothness_explanation" name="mystery_smoothness_explanation" placeholder="Explain your 'Smooth Smoke' Rating for {{ strain }}" aria-label="Smoothness of Smoke Vote Explantion Field" />
          </div>
        </div>
      `,
      key: "mystery_smoothness_explanation"
    },
    {
      title: "{{ strain }} - Effects Rating",
      content: `
      <div class="container align-items-center text-center">
        <div class="btn-group" role="group" aria-label="Connoisseur Effects Vote">
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote1" value="1" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_effects_vote1" id="effects_1_point">1</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote2" value="2" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_effects_vote2">2</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote3" value="3" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_effects_vote3">3</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote4" value="4" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_effects_vote4">4</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote5" value="5" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_effects_vote5">5</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote6" value="6" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_effects_vote6">6</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote7" value="7" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_effects_vote7">7</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote8" value="8" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_effects_vote8">8</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote9" value="9" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_effects_vote9">9</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote10" value="10" autocomplete="off">
          <label class="btn btn-outline-dark" for="mystery_effects_vote10" id="effects_10_point">10</label>
        </div>
        <div class="row pt-1">
          <div class="col-6 text-start">
            <label class="ps-2 modal-info-shadow long-voting-label" for="effects_1_point">Short-Lived, No Effects</label> 
          </div>
          <div class="col-6 text-end">
            <label class="pe-2 modal-info-shadow long-voting-label" for="effects_10_point">Strong, Lasting Effects</label> 
          </div>
        </div>
      </div>
      `,
      key: "mystery_effects_vote"
    },
    {
      title: "{{ strain }} - Effects Rating Explanation",
      content: `
        <div class="container align-content-center align-items-center justify-content-center text-center">
          <div class="row align-items-center">
            <div class="col-7">
              <label class="pb-3 ps-2 fs-5 text-start" for="mystery_effects_explanation">Please pick a minimum of two (2) to explain how {{ strain }} made you feel:</label>
            </div>
            <div class="col-5 align-content-center align-items-center justify-content-center ">
              <select class="form-select px-3 px-lg-4" id="mystery_effects_explanation" name="mystery_effects_explanation" aria-label="Effects Vote Explanation Field" multiple>
                <option value="sedative">Sedative</option>
                <option value="relaxing">Relaxing</option>
                <option value="sleepy">Sleepy</option>
                <option value="tingly">Tingly</option>
                <option value="calming">Calming</option>
                <option value="hungry">Hungry</option>
                <option value="happy">Happy</option>
                <option value="giggly">Giggly</option>
                <option value="energizing">Energizing</option>
                <option value="euphoric">Euphoric</option>
                <option value="focused">Focused</option>
                <option value="uplifting">Uplifting</option>
                <option value="alert">Alert</option>
                <option value="creative">Creative</option>
                <option value="talkative">Talkative</option>
                <option value="aroused">Aroused</option>
                <option value="aroused">None / Short Lived</option>
              </select>
            </div>
          </div>
        </div>
      `,
      key: "mystery_effects_explanation"
    },
  ];
  function adjustButtonSize() {
    if (window.matchMedia("(max-width: 767px)").matches) {
      const elements = document.querySelectorAll('.btn-group-lg');
      elements.forEach(element => {
        element.classList.remove('btn-group-lg');
      });
      
      const formElements = document.querySelectorAll('.form-select-lg');
      formElements.forEach(element => {
        element.classList.remove('form-select-lg');
      });
      const inputElements = document.querySelectorAll('.form-control-lg');
      inputElements.forEach(element => {
        element.classList.remove('form-control-lg');
      });
    } else {
      const elements = document.querySelectorAll('.btn-group');
      elements.forEach(element => {
        element.classList.add('btn-group-lg');
      });
      const formElements = document.querySelectorAll('.form-select');
      formElements.forEach(element => {
        element.classList.add('form-select-lg');
      });
      const inputElements = document.querySelectorAll('.form-control');
      inputElements.forEach(element => {
        element.classList.add('form-control-lg');
      });
    }
    if (window.matchMedia("(max-width: 510px)").matches) {
      const classLabels = document.querySelectorAll('.consume-label');
      classLabels.forEach(label => {
        label.classList.remove('fs-5');
        label.classList.add('fs-6');
      });
    } else {
      const classLabels = document.querySelectorAll('.consume-label');
      classLabels.forEach(label => {
        label.classList.add('fs-5');
        label.classList.remove('fs-6');
      });
    }
  }
  window.addEventListener('resize', adjustButtonSize);
  
  document.addEventListener("DOMContentLoaded", function() {
    const submitButton = document.getElementById("submitNewVoterBtn");
    const form = document.getElementById("newVoterForm");
        document.getElementById("newUserBackBtn").onclick = function() {
      $('#voterInfoCaptureModal').modal('hide');
    };
  
    submitButton.addEventListener("click", function(event) {
      event.preventDefault();
  
      const formData = new URLSearchParams();
        const emailInput = document.getElementById("new_voter_email").value
        const lowerCasedEmail = emailInput.toLowerCase()
        formData.append('voter_name', document.getElementById("voter_name").value);
        formData.append('voter_email', lowerCasedEmail);
        formData.append('voter_phone', document.getElementById("voter_phone").value);
        formData.append('voter_zip_code', document.getElementById("voter_zip_code").value);
    
        fetch("/submit-new-voter", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: formData.toString()
        })
      .then(response => response.json())
      .then(data => {
        if (data.status === true) {
          $('#voterInfoCaptureModal').modal('hide');
          step = 0;
          loadQuestion();
        } else {
          alert("Please ensure you have provided a valid email and try again.")
          return
        }
      })
      .catch(error => {
        console.error("Error:", error);
      });
    });
      
    async function checkVoterExists(email) {
      const lowerCaseEmail = email.toLowerCase();
      const root = window.location.origin;
      const url = new URL('/check-mystery-voter', root);
      url.searchParams.append('voter_email', lowerCaseEmail);
      
      const response = await fetch(url, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      });
  
      if (response.ok) {
          const data = await response.json();
          return data.exists;
      } else {
          console.log("Request failed:", response.status, response.statusText);
          return false;
      }
    }
      
    let step = 0;
    const formState = {
      "cultivator": "{{ cultivator }}",
      "strain": "{{ strain }}",
    };
    const modalTitle = document.getElementById('modalTitle');
    const modalBody = document.getElementById('modalBody');
    const nextBtn = document.getElementById('nextBtn');
    const backBtn = document.getElementById('backBtn');
    
    async function submitForm(formState) {
      try {
        const response = await fetch('/mystery_flower_review/submit-mystery-review', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formState)
        });
        if (response.ok) {
          const data = await response.json();
          window.location.href = "https://cannabiscult.co/connoisseur_ranking_success";
        } else {
          console.log("Submission failed:", response.status, response.statusText);
        }
      } catch (error) {
        console.error("Error during submission:", error);
      }
    }
    
    function updatePageLabel() {
      const currentQuestionIndex = step
      const totalQuestions = questions.length;
    
      const currentPairIndex = Math.floor(currentQuestionIndex / 2);
      const totalPairs = Math.floor(totalQuestions / 2);
    
      const pageNumElement = document.getElementById("page_num");
      const pageLabelElement = document.getElementById("page_label");
    
      pageNumElement.textContent = currentPairIndex + 1;
      pageLabelElement.innerHTML = `<span id="page_num" name="page_num">${currentPairIndex + 1}</span> / ${totalPairs}`;
    }
  
    function loadQuestion() {
      const intKeys = [
        "mystery_size_vote",
        "mystery_structure_vote", 
        "mystery_smell_vote",
        "mystery_freshness_vote",
        "mystery_flavor_vote",
        "mystery_effects_vote",
        "mystery_smoothness_vote",
      ];
      
      if (step < 0) {
        step = 0;
      }
      if (step < questions.length) {
        const question = questions[step];
        modalTitle.innerHTML = question.title;
        modalBody.innerHTML = question.content;
        
    
        const input = document.getElementById(question.key);
        
        document.addEventListener('keydown', function enterKeyHandler(event) {
          if (event.keyCode === 13) {
            event.preventDefault();
            nextBtn.click();
          }
        });
    
        nextBtn.onclick = async function () {
          if (input) {
            var inputVal = input.value;
              
            if (question.key === "voter_email") {
              const voterExists = await checkVoterExists(input.value);
              if (!voterExists) {
                $('#voterInfoCaptureModal').modal('show');
                return;
              }
              const lowerCaseEmail = input.value.toLowerCase();
              formState[question.key] = lowerCaseEmail;
            }
            else if (question.key === "mystery_effects_explanation") {
              const selectedOptions = Array.from(document.getElementById('mystery_effects_explanation').selectedOptions).map(option => option.value);
              if (selectedOptions.length <= 1) {
                alert("Please tell us two ways {{ strain }} made you feel.  On desktop you will need to hold the control key to highlight multiple selections."); 
                return;
              }
              const combinedString = selectedOptions.join(' ');
              formState['mystery_effects_explanation'] = combinedString;
            } 
            else {
              formState[question.key] = input.value;
            }
          } else {
            const radioCheck = Array.from(document.getElementsByName(question.key)).find(radio => radio.checked);
            const radioVal = radioCheck ? radioCheck.value : "0";
            if (radioVal === "0") {
              alert("Connoisseur Scoring Reviews Must Have a Value!"); 
              return;
            }
            formState[question.key] = radioVal;
          }
           
          $('#voterInfoCaptureModal').on('hidden.bs.modal', function () {
            step++;
            loadQuestion();
            updatePageLabel()
            adjustButtonSize();
          });
    
          if (!$('#voterInfoCaptureModal').hasClass('show')) {
            step++;
            loadQuestion();
            updatePageLabel()
            adjustButtonSize();
          }
        };
      } else {
        nextBtn.textContent = 'Submit';
        nextBtn.onclick = function () {
          submitForm(formState);
        };
        modalTitle.textContent = 'All questions completed.';
        modalBody.textContent = 'Your ratings for {{ strain }} are completed.';
      }
      backBtn.onclick = function () {
        $('#voterInfoCaptureModal').modal('hide');
        
        $('#voterInfoCaptureModal').on('hidden.bs.modal', function () {
          step--;
          loadQuestion();
          updatePageLabel()
          adjustButtonSize();
        });
        
        if (!$('#voterInfoCaptureModal').hasClass('show')) {
          step--;
          loadQuestion();
          updatePageLabel()
          adjustButtonSize();
        }
      };
    }
    adjustButtonSize();
    loadQuestion();
    updatePageLabel()
    adjustButtonSize();
  });
</script>
{% endblock %}
