<section class="container" id="mystery-voting" {% if not strain %} style="display: none !important;"{% endif %}>
  <div class="row g-0 d-lg-flex justify-content-center">
    <div class="container col-lg-6 text-center d-flex vote-template ps-lg-5 pe-0 me-0 g-0 me-0 align-items-end" id="vote-template">
      <div class="row mx-auto">
        <div class="container-fluid mb-5 text-center mx-auto col-md-8 col-lg-11">
          <div class="card rounded-5">
            <div class="row justify-content-center text-center">
              <div class="col-12 text-center mx-auto pt-3">
                <h1 class="card-title">
                  <strong>{{ strain }}</strong>
                </h1>
                <h3 class="card-subtitle mb-2">
                  <u>{{ cultivator }}</u>
                </h3>
              </div>
              <div class="container col-11 col-xl-10 pt-2">
                <div class="row mx-auto justify-content-center">
                  <div class="mx-auto">
                    <img 
                      src="data:image/png;base64, {{ card_path }}"
                      class="img-fluid rounded-5" 
                      alt="Mystery {{ strain }} Cultivar Review Card"
                    />
                  </div>
                </div>
              </div>            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-flex col-md-8 col-lg-4 pb-5 mt-lg-4 mt-xl-5 ps-lg-0 ms-lg-0 align-items-start justify-content-center align-content-center" id="voting-form">
      <div class="card rounded-5 shadow-5">
        <div class="card-body">
          <div class="row align-content-center justify-content-center d-flex">
            <form method="post" action="/submit-vote"> 
              <div class="row mx-auto">
                <input type="hidden" name="cultivator_selected" value="{{ cultivator }}" />
                <input type="hidden" name="strain_selected" value="{{ strain }}" />
                <label for="structure_vote" class="form-label fs-3">
                  Structure
                </label>
                <div class="range pt-lg-1">
                  <input type="range" class="form-range" min="5" max="10" step="0.5" id="structure_vote" name="structure_vote" />
                  <div class="pt-3">
                    <input class="form-control pt-2" type="text" id="structure_explanation" name="structure_explanation" placeholder="Explain your Structure Rating" aria-label="Structure Vote Explantion Field" />
                  </div>
                </div>
                <label for="nose_vote" class="form-label pt-5 pt-lg-4 fs-3">
                  Nose
                </label>
                <div class="range pt-lg-1">
                  <input type="range" class="form-range" min="5" max="10" step="0.5" id="nose_vote" name="nose_vote" />
                  <div class="pt-3">
                    <input class="form-control pt-2" id="structure_explanation" name="nose_explanation" type="text" placeholder="Explain your Nose Rating" aria-label="Nose Vote Explantion Field" />
                  </div>
                </div>
                <label for="flavor_vote" class="form-label pt-5 pt-lg-4 fs-3">
                  Flavor
                </label>
                <div class="range pt-lg-1">
                  <input type="range" class="form-range" min="5" max="10" step="0.5" id="flavor_vote" name="flavor_vote" />
                  <div class="pt-3">
                    <input class="form-control pt-2" type="text" id="flavor_explanation" name="flavor_explanation" placeholder="Explain your Flavor Rating" aria-label="Flavor Vote Explantion Field" />
                  </div>
                </div>
                <label for="effects_vote" class="form-label pt-5 pt-lg-4 fs-3">
                  Effects
                </label>
                <div class="range pt-lg-1">
                  <input type="range" class="form-range" min="5" max="10" step="0.5" id="effects_vote" name="effects_vote" />
                  <div class="pt-3">
                    <input class="form-control" type="text" id="effects_explanation" name="effects_explanation" placeholder="Explain your Effects Rating" aria-label="Effects Vote Explantion Field" />
                  </div>
                </div>
                <div class="row mx-auto g-3 m-1 pt-3">
                  <button type="submit" id="vote" name="vote" class="btn btn-danger" {% if not strain or not cultivator %}disabled{% endif %}>Vote</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 pb-5">
      <div class="container text-center fs-5">
        <p>Issues or Suggestions?</p>
        <a class="link-offset-2 link-underline link-underline-opacity-0 link-danger" href="mailto:contact@thesocialoutfitus.com">Send us an email.</a>
      </div>
    </div> 
  </div>
  
</section>