<!-- Modal Structure Template -->
<div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="questionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form method="POST" action="/myster_flower_review/submit-mystery-review" id="submit-mystery-vote" name="submit-mystery-vote">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Question</h5>
        </div>
        <div class="modal-body" id="modalBody">
          <!-- Dynamic Content will be loaded here -->
        </div>
        <div class="modal-footer container">
          <div class="row g-2 p-1">
            <div class="col-6 align-items-start">
              <button type="button" class="btn btn-error" id="backBtn">Back</button>
            </div>
            <div class="col-6 align-items-end">
              <button type="button" class="btn btn-info" id="nextBtn" name="nextBtn">Next</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Voter Info Capture Modal -->
<div class="modal fade" id="voterInfoCaptureModal" tabindex="-1" aria-labelledby="voterInfoCaptureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="voterInfoCaptureModalLabel">New Voter Information</h5>
      </div>
      <div class="modal-body">
        <form id="newVoterForm">
          <div class="mb-3">
            <label for="newVoterName" class="form-label">Name</label>
            <input type="text" class="form-control" id="voter_name" name="voter_name">
          </div>
          <div class="mb-3">
            <label for="newVoterEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="voter_email" name="voter_email" required>
          </div>
          <div class="mb-3">
            <label for="newVoterPhone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="voter_phone" name="voter_phone">
          </div>
          <div class="mb-3">
            <label for="newVoterZipCode" class="form-label">Zip Code</label>
            <input type="text" class="form-control" id="voter_zip_code" name="voter_zip_code">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="row g-2 p-1">
          <div class="col-6 align-items-start">
            <button type="button" class="btn btn-error" id="newUserBackBtn">Back</button>
          </div>
          <div class="col-6 align-items-end">
            <button type="button" class="btn btn-info" id="submitNewVoterBtn">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% block scripts %}  
<script>
  const questions = [
    {
      title: "Connoisseur Email",
      content: `<input class="form-control pt-3" id="voter_email" name="voter_email" placeholder="Email Address Required" />`,
      key: "voter_email"
    },
    {
      title: "Your Method of Consumption",
      content: `
        <label for="method_of_consumption">Select Your Method of Smoking {{ strain }}</label>
        <select class="form-select" id="method_of_consumption" name="method_of_consumption" aria-label="Method of Consumption Dropdown Field">
          <option value="blunt">Blunt</option>
          <option value="bong">Bong</option>
          <option value="joint">Joint</option>
          <option value="one_hitter">One-Hitter</option>
          <option value="pipe">Pipe</option>
          <option value="steamroller">Steamroller</option>
          <option value="vaporizer">Vaporizer</option>
        </select>
      `,
      key: "method_of_consumption"
    },
    {
      title: "{{ strain }} Sight Vote",
      content: `
      <div class="container align-items-center text-center">
        <div class="btn-group" role="group" aria-label="Connoisseur Sight Vote">
          <input type="radio" class="btn-check" name="mystery_sight_vote" id="mystery_sight_vote1" value="1" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_sight_vote1">1</label>
        
          <input type="radio" class="btn-check" name="mystery_sight_vote" id="mystery_sight_vote2" value="2" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_sight_vote2">2</label>
        
          <input type="radio" class="btn-check" name="mystery_sight_vote" id="mystery_sight_vote3" value="3" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_sight_vote3">3</label>
        
          <input type="radio" class="btn-check" name="mystery_sight_vote" id="mystery_sight_vote4" value="4" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_sight_vote4">4</label>
        
          <input type="radio" class="btn-check" name="mystery_sight_vote" id="mystery_sight_vote5" value="5" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_sight_vote5">5</label>
        
          <input type="radio" class="btn-check" name="mystery_sight_vote" id="mystery_sight_vote6" value="6" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_sight_vote6">6</label>
        
          <input type="radio" class="btn-check" name="mystery_sight_vote" id="mystery_sight_vote7" value="7" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_sight_vote7">7</label>
        
          <input type="radio" class="btn-check" name="mystery_sight_vote" id="mystery_sight_vote8" value="8" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_sight_vote8">8</label>
        
          <input type="radio" class="btn-check" name="mystery_sight_vote" id="mystery_sight_vote9" value="9" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_sight_vote9">9</label>
        
          <input type="radio" class="btn-check" name="mystery_sight_vote" id="mystery_sight_vote10" value="10" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_sight_vote10">10</label>
        </div>
      </div>
      `,
      key: "mystery_sight_vote"
    },
    {
      title: "{{ strain }} Sight Explanation",
      content: `<input class="form-control pt-2" type="text" id="mystery_sight_explanation" name="mystery_sight_explanation" placeholder="Explain your Sight Rating" aria-label="Sight Vote Explantion Field" />`,
      key: "mystery_sight_explanation"
    },
    {
      title: "{{ strain }} Structure Vote",
      content: `
      <div class="container align-items-center text-center">
        <div class="btn-group" role="group" aria-label="Connoisseur Structure Vote">
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote1" value="1" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_structure_vote1">1</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote2" value="2" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_structure_vote2">2</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote3" value="3" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_structure_vote3">3</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote4" value="4" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_structure_vote4">4</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote5" value="5" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_structure_vote5">5</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote6" value="6" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_structure_vote6">6</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote7" value="7" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_structure_vote7">7</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote8" value="8" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_structure_vote8">8</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote9" value="9" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_structure_vote9">9</label>
        
          <input type="radio" class="btn-check" name="mystery_structure_vote" id="mystery_structure_vote10" value="10" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_structure_vote10">10</label>
        </div>
      </div>
      `,
      key: "mystery_structure_vote"
    },
    {
      title: "{{ strain }} Structure Explanation",
      content: `<input class="form-control pt-2" type="text" id="mystery_structure_explanation" name="mystery_structure_explanation" placeholder="Explain your Structure Rating" aria-label="Structure Vote Explantion Field" />`,
      key: "mystery_structure_explanation"
    },
    {
      title: "{{ strain }} Smell Vote",
      content: `
      <div class="container align-items-center text-center">
        <div class="btn-group" role="group" aria-label="Connoisseur Smell Vote">
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote1" value="1" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smell_vote1">1</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote2" value="2" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smell_vote2">2</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote3" value="3" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smell_vote3">3</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote4" value="4" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smell_vote4">4</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote5" value="5" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smell_vote5">5</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote6" value="6" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smell_vote6">6</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote7" value="7" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smell_vote7">7</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote8" value="8" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smell_vote8">8</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote9" value="9" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smell_vote9">9</label>
        
          <input type="radio" class="btn-check" name="mystery_smell_vote" id="mystery_smell_vote10" value="10" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smell_vote10">10</label>
        </div>
      </div>
      `,
      key: "mystery_smell_vote"
    },
    {
      title: "{{ strain }} Smell Explanation",
      content: `<input class="form-control pt-2" type="text" id="mystery_smell_explanation" name="mystery_smell_explanation" placeholder="Explain your Smell Rating" aria-label="Smell Vote Explantion Field" />`,
      key: "mystery_smell_explanation"
    },
    {
      title: "{{ strain }} Freshness Vote",
      content: `
      <div class="container align-items-center text-center">
        <div class="btn-group" role="group" aria-label="Connoisseur Freshness Vote">
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote1" value="1" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_freshness_vote1">1</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote2" value="2" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_freshness_vote2">2</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote3" value="3" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_freshness_vote3">3</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote4" value="4" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_freshness_vote4">4</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote5" value="5" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_freshness_vote5">5</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote6" value="6" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_freshness_vote6">6</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote7" value="7" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_freshness_vote7">7</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote8" value="8" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_freshness_vote8">8</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote9" value="9" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_freshness_vote9">9</label>
        
          <input type="radio" class="btn-check" name="mystery_freshness_vote" id="mystery_freshness_vote10" value="10" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_freshness_vote10">10</label>
        </div>
      </div>
      `,
      key: "mystery_freshness_vote"
    },
    {
      title: "{{ strain }} Freshness Explanation",
      content: `<input class="form-control pt-2" type="text" id="mystery_freshness_explanation" name="mystery_freshness_explanation" placeholder="Explain your Freshness Rating" aria-label="Smell Vote Explantion Field" />`,
      key: "mystery_freshness_explanation"
    },
    {
      title: "{{ strain }} Flavor Vote",
      content: `
      <div class="container align-items-center text-center">
        <div class="btn-group" role="group" aria-label="Connoisseur Flavor Vote">
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote1" value="1" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_flavor_vote1">1</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote2" value="2" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_flavor_vote2">2</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote3" value="3" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_flavor_vote3">3</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote4" value="4" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_flavor_vote4">4</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote5" value="5" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_flavor_vote5">5</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote6" value="6" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_flavor_vote6">6</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote7" value="7" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_flavor_vote7">7</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote8" value="8" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_flavor_vote8">8</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote9" value="9" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_flavor_vote9">9</label>
        
          <input type="radio" class="btn-check" name="mystery_flavor_vote" id="mystery_flavor_vote10" value="10" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_flavor_vote10">10</label>
        </div>
      </div>
      `,
      key: "mystery_flavor_vote"
    },
    {
      title: "{{ strain }} Flavor Explanation",
      content: `<input class="form-control pt-2" type="text" id="mystery_flavor_explanation" name="mystery_flavor_explanation" placeholder="Explain your Flavor Rating" aria-label="Smell Vote Explantion Field" />`,
      key: "mystery_flavor_explanation"
    },
    {
      title: "{{ strain }} Effects Vote",
      content: `
      <div class="container align-items-center text-center">
        <div class="btn-group" role="group" aria-label="Connoisseur Effects Vote">
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote1" value="1" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_effects_vote1">1</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote2" value="2" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_effects_vote2">2</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote3" value="3" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_effects_vote3">3</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote4" value="4" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_effects_vote4">4</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote5" value="5" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_effects_vote5">5</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote6" value="6" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_effects_vote6">6</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote7" value="7" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_effects_vote7">7</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote8" value="8" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_effects_vote8">8</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote9" value="9" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_effects_vote9">9</label>
        
          <input type="radio" class="btn-check" name="mystery_effects_vote" id="mystery_effects_vote10" value="10" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_effects_vote10">10</label>
        </div>
      </div>
      `,
      key: "mystery_effects_vote"
    },
    {
      title: "{{ strain }} Effects Explanation",
      content: `
        <label for="mystery_effects_explanation">Explain your Effects Rating</label>
        <select class="form-select" id="mystery_effects_explanation" name="mystery_effects_explanation" aria-label="Effects Vote Explanation Field" multiple>
          <option value="sedative">Sedative</option>
          <option value="relaxing">Relaxing</option>
          <option value="energizing">Energizing</option>
          <option value="euphoric">Euphoric</option>
          <option value="focused">Focused</option>
          <option value="uplifting">Uplifting</option>
          <option value="creative">Creative</option>
          <option value="talkative">Talkative</option>
          <option value="calming">Calming</option>
          <option value="happy">Happy</option>
          <option value="tingly">Tingly</option>
          <option value="giggly">Giggly</option>
          <option value="hungry">Hungry (Induces Appetite)</option>
          <option value="sleepy">Sleepy</option>
          <option value="aroused">Aroused</option>
        </select>
      `,
      key: "mystery_effects_explanation"
    },
    {
      title: "{{ strain }} Smoothness Vote",
      content: `
      <div class="container align-items-center text-center">
        <div class="btn-group" role="group" aria-label="Connoisseur Smoothness Vote">
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote1" value="1" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smoothness_vote1">1</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote2" value="2" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smoothness_vote2">2</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote3" value="3" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smoothness_vote3">3</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote4" value="4" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smoothness_vote4">4</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote5" value="5" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smoothness_vote5">5</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote6" value="6" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smoothness_vote6">6</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote7" value="7" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smoothness_vote7">7</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote8" value="8" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smoothness_vote8">8</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote9" value="9" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smoothness_vote9">9</label>
        
          <input type="radio" class="btn-check" name="mystery_smoothness_vote" id="mystery_smoothness_vote10" value="10" autocomplete="off">
          <label class="btn btn-outline-primary" for="mystery_smoothness_vote10">10</label>
        </div>
      </div>
      `,
      key: "mystery_smoothness_vote"
    },
    {
      title: "{{ strain }} Smoothness Explanation",
      content: `<input class="form-control pt-2" type="text" id="mystery_smoothness_explanation" name="mystery_smoothness_explanation" placeholder="Explain your Smoothness Rating" aria-label="Smell Vote Explantion Field" />`,
      key: "mystery_smoothness_explanation"
    },
  ];
  document.addEventListener("DOMContentLoaded", function() {
    const submitButton = document.getElementById("submitNewVoterBtn");
    const form = document.getElementById("newVoterForm");
        document.getElementById("newUserBackBtn").onclick = function() {
      $('#voterInfoCaptureModal').modal('hide');
    };
  
    submitButton.addEventListener("click", function(event) {
      event.preventDefault();
  
      const formData = new URLSearchParams();
        formData.append('voter_name', document.getElementById("voter_name").value);
        formData.append('voter_email', document.getElementById("voter_email").value);
        formData.append('voter_phone', document.getElementById("voter_phone").value);
        formData.append('voter_zip_code', document.getElementById("voter_zip_code").value);
    
        fetch("/submit-new-voter", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: formData.toString()
        })
      .then(response => response.json())
      .then(data => {
        console.log(data.status)
        if (data.status === true) {
          $('#voterInfoCaptureModal').modal('hide');
          step = 0;
          loadQuestion();
        } else {
          return
        }
      })
      .catch(error => {
        console.error("Error:", error);
      });
    });
      
    async function checkVoterExists(email) {
      const root = window.location.origin;
      const url = new URL('/check-mystery-voter', root);
      url.searchParams.append('voter_email', email);
      
      const response = await fetch(url, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      });
  
      if (response.ok) {
          const data = await response.json();
          return data.exists;
      } else {
          console.log("Request failed:", response.status, response.statusText);
          return false;
      }
    }
      
    let step = 0;
    const formState = {
      "cultivator": "{{ cultivator }}",
      "strain": "{{ strain }}",
    };
    const modalTitle = document.getElementById('modalTitle');
    const modalBody = document.getElementById('modalBody');
    const nextBtn = document.getElementById('nextBtn');
    const backBtn = document.getElementById('backBtn');
    
    async function submitForm(formState) {
      try {
        const response = await fetch('/mystery_flower_review/submit-mystery-review', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formState)
        });
        console.log(response)
        if (response.ok) {
          const data = await response.json();
          console.log("Submission successful:", data);
          window.location.href = "https://cannabiscult.co/voting-home";
        } else {
          console.log("Submission failed:", response.status, response.statusText);
        }
      } catch (error) {
        console.error("Error during submission:", error);
      }
    }
  
    function loadQuestion() {
      const intKeys = [
        "mystery_sight_vote", 
        "mystery_structure_vote", 
        "mystery_smell_vote",
        "mystery_freshness_vote",
        "mystery_flavor_vote",
        "mystery_effects_vote",
        "mystery_smoothness_vote"
      ];
      
      if (step < 0) {
        step = 0;
      }
      if (step < questions.length) {
        const question = questions[step];
        modalTitle.innerHTML = question.title;
        modalBody.innerHTML = question.content;
        
    
        const input = document.getElementById(question.key);
        
        document.addEventListener('keydown', function enterKeyHandler(event) {
          if (event.keyCode === 13) {
            event.preventDefault();
            nextBtn.click();
          }
        });
    
        nextBtn.onclick = async function () {
          if (input) {
            var inputVal = input.value;
            if (!inputVal) {
              alert("Connoisseur Reviews Must Have at Least a Brief Description!"); 
              return;
            }
            formState[question.key] = inputVal
    
            if (question.key === "voter_email") {
              const voterExists = await checkVoterExists(input.value);
              if (!voterExists) {
                $('#voterInfoCaptureModal').modal('show');
                return;
              }
            }
            else if (question.key === "mystery_effects_explanation") {
              const selectedOptions = Array.from(document.getElementById('mystery_effects_explanation').selectedOptions).map(option => option.value);
              const combinedString = selectedOptions.join(' ');
              formState['mystery_effects_explanation'] = combinedString;
            } 
          } else {
            const radioCheck = Array.from(document.getElementsByName(question.key)).find(radio => radio.checked);
            const radioVal = radioCheck ? radioCheck.value : "0";
            if (radioVal === "0") {
              alert("Connoisseur Scoring Reviews Must Have a Value!"); 
              return;
            }
            formState[question.key] = radioVal;
          }
           
          $('#voterInfoCaptureModal').on('hidden.bs.modal', function () {
            step++;
            loadQuestion();
          });
    
          if (!$('#voterInfoCaptureModal').hasClass('show')) {
            step++;
            loadQuestion();
          }
        };
      } else {
        nextBtn.textContent = 'Submit';
        nextBtn.onclick = function () {
          submitForm(formState);
        };
        modalTitle.textContent = 'All questions completed.';
        modalBody.textContent = 'Click submit to complete.';
      }
      backBtn.onclick = function () {
        $('#voterInfoCaptureModal').modal('hide');
        
        $('#voterInfoCaptureModal').on('hidden.bs.modal', function () {
          step--;
          loadQuestion();
        });
        
        if (!$('#voterInfoCaptureModal').hasClass('show')) {
          step--;
          loadQuestion();
        }
      };
    }
  
    loadQuestion();
  });
</script>
{% endblock %}