<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/#">Cannabis Cult</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a 
            class="nav-link" 
            href="https://thecannabiscult.myshopify.com/" 
            target="_blank" 
            rel="noopener noreferrer">
            Merch
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cult Picks
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a 
              class="dropdown-item" 
              href="https://myfeelstate.com/"
              target="_blank" 
              rel="noopener noreferrer">
                Feel State - STL
              </a>
            </li>
            <li>
              <a 
              class="dropdown-item" 
              href="https://naturemedmo.com/ofallon"
              target="_blank" 
              rel="noopener noreferrer">
                NatureMed Dispensary
              </a>
            </li>
            <li>
              <a 
              class="dropdown-item" 
              href="https://www.swadecannabis.com"
              target="_blank" 
              rel="noopener noreferrer">
                Swade Cannabis
              </a>
            </li>
            <li>
              <a 
              class="dropdown-item" 
              href="https://www.vividcannabis.com/"
              target="_blank" 
              rel="noopener noreferrer">
                Vivid Cannabis
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a 
              class="dropdown-item" 
              href="https://www.instagram.com/missouricannabisreviews/"
              target="_blank" 
              rel="noopener noreferrer">
                Cultivar Reviews
              </a>
            </li>
            {% if user_is_logged_in %}
            <li class="nav-item">
              <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
            </li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item">
          <a href="/voting-home" class="nav-link active">Vote Now</a>
        </li>
        {% if not user_is_logged_in %}
        <li class="nav-item">
          <a href="/login" class="nav-link active">Login/Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
      <img 
        src="{{ url_for('static', path='images/logo.png') }}" 
        alt="Cannabis Cult Brain Logo" 
        width="50" 
        height="45"
      >
  </div>
</nav>
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form action="/logout-submit" method="post">
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>
      </div>
    </div>
  </div>
</div>

