<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light navbar-light ">
  <!-- Container wrapper -->
  <div class="container-fluid">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/#">
      <img 
        src="{{ url_for('static', path='images/logo.png') }}" 
        alt="Cannabis Cult Brain Logo" 
        width="50" 
        height="45"
      >
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Link -->
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if user_is_logged_in %} active{% endif %}" href="/voting-home">Vote Now</a>
        </li>
        {% if user_is_logged_in %}
        <li class="nav-item">
          <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="/login" class="nav-link active">Login/Register</a>
        </li>
        {% endif %}

      </ul>

      <!-- Icons -->
      <ul class="navbar-nav d-flex flex-row me-1">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a 
            class="nav-link" 
            href="https://www.instagram.com/missouricannabisreviews/"
            target="_blank" 
            rel="noopener noreferrer"
          >
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </li>
      </ul>

      <!-- Search -->
      <div class="pe-lg-1">
      <form class="w-auto disabled">
        <input type="search" class="form-control" placeholder="Search Coming Soon" aria-label="Search">
      </form>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form action="/logout-submit" method="post">
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>
      </div>
    </div>
  </div>
</div>

