<div id="partnerCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <a 
        href="https://myfeelstate.com"
        target="_blank" 
        rel="noopener noreferrer">
      <img 
        src="{{ url_for('static', path='images/Feel State Logo Circle Color Transparent.png') }}" 
        class="d-block w-100" 
        alt="Feel State Circle Logo">
      </a>
    </div>
    <div class="carousel-item"  data-bs-interval="5000">
      <a 
        href="https://handwrapsco.com"
        target="_blank" 
        rel="noopener noreferrer">
      <img 
        src="{{ url_for('static', path='images/handwraps_logo.png') }}" 
        class="d-block w-100" 
        alt="Handwraps Paper Co. Logo">
      </a>
    </div>
    <div class="carousel-item"  data-bs-interval="5000">
      <a 
        href="https://naturemedmo.com/ofallon"
        target="_blank" 
        rel="noopener noreferrer">
      <img 
        src="{{ url_for('static', path='images/naturemedlogo(stack)2023.png') }}" 
        class="d-block w-100" 
        alt="NatureMed Dispensary Logo">
      </a>
    </div>
    <div class="carousel-item"  data-bs-interval="5000">
      <a 
        href="https://www.vividcannabis.com"
        target="_blank" 
        rel="noopener noreferrer">
      <img 
        src="{{ url_for('static', path='images/vivid_logo_no_background.png') }}" 
        class="d-block w-100" 
        alt="Vivid Cannabis Logo">
      </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#partnerCarousel" data-bs-slide="prev">
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#partnerCarousel" data-bs-slide="next">
    <span class="visually-hidden">Next</span>
  </button>
</div>