<section draggable="false" class="container pt-5" data-v-271253ee="">
  <section class="mb-10">
    <h1 class="mb-5 fs-1 text-center map-locator">
      <u><b>Top Rated Concentrates</b></u><br>
    </h1>
    <div class="container-fluid">
      <div class="col-12">
        <div id="concentrateContainer"></div>
      </div>
    </div>
  </section>
</section>


<script>
  async function fetchconcentrateData() {
    try {
      const response = await fetch('/concentrate_ranking/get_top_concentrate_strains');
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      const concentrateData = await response.json();

      updateconcentrateData(concentrateData);
    } catch (error) {
      console.error('Error fetching concentrate data:', error);
    }
  }

  function updateconcentrateData(data) {
    const container = document.getElementById('concentrateContainer');
    let htmlContent = '';

    data.forEach((concentrate, index) => {
      const strain = concentrate["strain"];
      const cultivator = concentrate["cultivator"];
      const score = concentrate["overall_score"];
      const url_path = concentrate["url_path"];
      const description_text = concentrate["description_text"];
      const effects = concentrate["effects"];
      const lineage = concentrate["lineage"];
      htmlContent += `
      <div class="container-fluid">
        <div class="row mb-4 my-auto">
          <div class="col-12 col-md-12 col-lg-12 col-xl-5 mb-4 mb-lg-0 ms-auto order-md-1">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded-4 mb-4" data-mdb-ripple-color="light">
              <a href="/concentrate-get-review?strain_selected=${strain}&cultivator_selected=${cultivator}">
                <img src=${url_path} class="w-100" alt="Cannabis Cult Review Image for ${strain}" loading="lazy">
              </a>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-12 col-xl-7 mb-4 mb-md-0 me-auto order-md-2">
            <div class="row my-auto">
              <div class="col-12 col-lg-5 my-auto">
                <a href="/get-review?strain_selected=${strain}&cultivator_selected=${cultivator}" class="text-decoration-none text-dark">
                  <h5 class="fs-2">${strain}</h5>
                </a>
                <div class="mb-2 text-info small">
                  <span class="fs-4">${cultivator}</span>
                  <i class="fas fa-cannabis me-2" aria-controls="#picker-editor"></i>
                </div>
                <p class="fs-2 text-dark">${score} <span class="fs-4">Overall</span></p>
              </div>
              <div class="col-12 col-lg-7 mx-auto my-auto pt-lg-3">
                <div class="vstack gap-0">
                  <hr class="hr d-lg-none" />
                  <p class="fs-4 text-muted text-uppercase">Effects:</p>
                  <p class="text-dark text-uppercase fw-bold">${effects}</p>
                  <hr class="hr" />
                  <p class="fs-4 text-muted text-uppercase">Lineage:</p>
                  <p class="text-dark text-uppercase fw-bold">${lineage}</p>
                  <hr class="hr d-lg-none" />
                  <p class="fs-4 text-muted text-uppercase d-lg-none">Notes:</p>
                  <p class="text-dark text-uppercase fw-bold d-lg-none pb-5">${description_text}</p>
                  <hr class="hr d-lg-none" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-auto">
          <div class="d-none d-lg-block pb-lg-5">
            <div class="row mx-auto text-start mb-lg-5">
              <p class="fs-4 text-muted text-uppercase ps-0">Notes:</p>
              <p class="text-dark text-uppercase fw-bold pb-5 ps-0">${description_text}</p>
              <hr class="hr" />
            </div>
          </div>
        </div>
      </div>`;
    });
    container.innerHTML = htmlContent;
  }

  fetchconcentrateData();
</script>
