<section draggable="false" class="container pt-5" data-v-271253ee="">
  <section class="mb-10">
    <h1 class="mb-5 fs-1 text-center map-locator">
      <u><b>Top Rated Concentrates</b></u><br>
    </h1>
    <div class="container-fluid">
      <div class="col-12">
        <div id="concentrateContainer"></div>
      </div>
    </div>
  </section>
</section>

{% block scripts %}
<script>
$(document).ready(function() {
  async function fetchconcentrateData() {
    try {
      const response = await fetch('/concentrate_ranking/get_top_rated_concentrate_strains');
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      const concentrateData = await response.json();

      updateconcentrateData(concentrateData);
    } catch (error) {
      console.error('Error fetching concentrate data:', error);
    }
  }

  async function updateconcentrateData(data) {
    const container = document.getElementById('concentrateContainer');
    let htmlContent = '';
    let username
    for (const concentrate of data) {
      try {
        const response = await fetch('/users/get_username?user_email=' + encodeURIComponent(concentrate["cultivar"]));
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        const usernameJson = await response.json();
        username = usernameJson["username"];
      } catch (error) {
        console.error('Fetch error:', error);
        username = "Ace Louie"; // Default username if fetch fails
      }

      const strain = concentrate["strain"];
      const cultivator = concentrate["cultivator"];
      const score = concentrate["overall_score"];
      const url_path = concentrate["url_path"];
      const description_text = concentrate["description_text"];
      const effects = concentrate["effects"];
      const lineage = concentrate["lineage"];
      htmlContent += `
      <div class="container-fluid col-12 col-sm-11 mx-auto">
        <div class="row my-auto">
          <div class="col-11 col-xl-5 mb-lg-0 ms-auto order-md-1 mx-auto pb-2 pb-lg-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded-4" data-mdb-ripple-color="light">
              <a href="/concentrate-get-review?strain_selected=${strain}&cultivator_selected=${cultivator}">
                <img src=${url_path} class="w-100" alt="Cannabis Cult Review Image for ${strain}" loading="lazy">
              </a>
            </div>
          </div>
          <div class="col-11 col-xl-7 mb-md-0 me-auto order-md-2 mx-auto align-items-top">
            <div class="row my-auto align-content-top align-items-top text-top">
              <div class="col-12 col-sm-6 col-md-5 my-auto pt-3 pt-sm-0">
                <a href="/get-review?strain_selected=${strain}&cultivator_selected=${cultivator}" class="text-decoration-none text-dark">
                  <h5 class="fs-4">${strain}</h5>
                </a>
                <div class="mb-1 text-info small">
                  <span class="fs-6">${cultivator}</span>
                  <i class="fas fa-cannabis me-2" aria-controls="#picker-editor"></i>
                </div>
                <p class="fs-4 text-dark">${score} <span class="fs-5">Overall</span></p>
              </div>
              <div class="col-12 col-sm-6 col-md-7 mx-auto my-auto pt-lg-3">
                <div class="vstack gap-0">
                  <hr class="hr d-sm-none" />
                  <p class="fs-5 text-muted text-uppercase pt-sm-2"><small>Effects:</small></p>
                  <p class="text-dark text-uppercase fw-bold"><small>${effects}</small></p>
                  <hr class="hr" />
                  <p class="fs-5 text-muted text-uppercase"><small>Lineage:</small></p>
                  <p class="text-dark text-uppercase fw-bold"><small>${lineage}</small></p>
                  <hr class="hr d-sm-none" />
                  <p class="fs-5 text-muted text-uppercase d-sm-none"><small>Notes by ${username}:</small></p>
                  <p class="text-dark text-uppercase fw-bold d-sm-none"><small>${description_text}</small></p>
                  <hr class="hr d-sm-none" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-auto">
          <div class="d-none d-sm-block pb-lg-3 col-11 col-xl-12 mx-auto pt-0">
            <div class="row mx-auto text-start mb-lg-5">
              <p class="fs-5 text-muted text-uppercase ps-0"><small>Notes by ${username}:</small></p>
              <p class="text-dark text-uppercase fw-bold pb-5 ps-0"><small>${description_text}</small></p>
              <hr class="hr" />
            </div>
          </div>
        </div>
      </div>`;
    }
    container.innerHTML = htmlContent;
  }
  fetchconcentrateData();
});

</script>
{% endblock %}
