<div class="container text-center d-flex">
  <div class="row mx-auto g-3">
    <div class="col-12 mx-auto g-3">
      <div class="row mx-auto text-center"> 
        <div class="col-auto mb-5 text-center mx-auto">
          <div class="card">
            <img 
              src="data:image/png;base64, {{ card_path }}"
              class="card-img-top" 
              alt="{{ cultivator }} {{ strain }} Cultivar Review Card"
            />
            <div class="card-body">
              <h4 class="card-title">
                {{ strain }}
              </h4>
              <h5 class="card-subtitle mb-2 text-muted">
                {{ cultivator }}
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                Overall:{{ overall }}
              </h6>
              <h6 class="card-subtitle mb-2 text-muted">
                Structure:{{ structure }}
              </h6>
              <h6 class="card-subtitle mb-2 text-muted">
                Nose:{{ nose }}
              </h6>
              <h6 class="card-subtitle mb-2 text-muted">
                Flavor:{{ flavor }}
              </h6>
              <h6 class="card-subtitle mb-2 text-muted">
                Effects: {{ effects }}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row mx-auto">
        <div class="col-sm-10 col-md-9 col-lg-8 mx-auto">
          <label for="customRange3" class="form-label">
            Structure
          </label>
          <div class="range">
            <input type="range" class="form-range" min="5" max="10" step="0.5" id="customRange3" />
          </div>
        </div>
      </div>
      <div class="row mx-auto g-3 m-1">
        <div class="col-sm-8 col-md-7 col-lg-6 mx-auto g-3">
          <button type="submit" class="btn btn-primary">Vote</button>
        </div>
      </div>
    </div>
  </div>
  <script>
      $(document).ready(function() {
          $('.star').on('click', function() {
              $(this).parent().children('.star').removeClass('selected');
              $(this).addClass('selected');
              var ratingValue = parseInt($(this).data('rating'));
              $(this).parent().children('.rating-value').val(ratingValue);
          });
      });
  </script>
</div>
