<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Manage Strain Images</h5>
    <form id="manageImagesForm">
      <!-- Product Type Select Box -->
      <div class="mb-3">
        <label for="productTypeSelectedImage" class="form-label">Product Type</label>
        <select class="form-select" id="productTypeSelectedImage" name="productTypeSelectedImage"></select>
      </div>
      <!-- Cultivator Select Box -->
      <div class="mb-3">
        <label for="cultivatorSelectedImage" class="form-label">Cultivator</label>
        <select class="form-select" id="cultivatorSelectedImage" name="cultivatorSelectedImage"></select>
      </div>
      <!-- Strain Select Box -->
      <div class="mb-3">
        <label for="strainSelectedImage" class="form-label">Strain</label>
        <select class="form-select" id="strainSelectedImage" name="strainSelectedImage"></select>
      </div>
      <!-- Submit Button -->
      <div class="d-grid gap-2 py-3">
        <button class="btn btn-info" type="submit" id="getImagesButton">Get Images</button>
      </div>
      <div id="imageSelectContainer" class="py-3 container"></div>
    </form>
  </div>
</div>


{% block scripts %}
<script>
window.addEventListener('DOMContentLoaded', function() {
  let productTypeSelectImage = document.getElementById('productTypeSelectedImage');
  let cultivatorSelect = document.getElementById('cultivatorSelectedImage');
  let strainSelect = document.getElementById('strainSelectedImage');
  let updateImagesForm = document.getElementById('manageImagesForm');

  function capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
  }

  function fetchAndPopulateSelectForImages(url, selectElement, callback) {
      fetch(url)
          .then(response => response.json())
          .then(data => {
              selectElement.innerHTML = '';
              data.sort((a, b) => a.localeCompare(b));
              data.forEach(item => {
                  let option = document.createElement('option');
                  option.value = item;
                  option.text = capitalizeFirstLetter(item);
                  selectElement.add(option);
              });
              if (callback) callback();
          })
          .catch(error => console.error('Error:', error));
  }
  function updateCultivatorOptionsForImages() {
      let selectedProductType = capitalizeFirstLetter(productTypeSelectImage.value);
      let url = '/search/cultivators/' + selectedProductType;
      fetchAndPopulateSelectForImages(url, cultivatorSelect, updateStrainOptionsForImages);
  }

  function updateStrainOptionsForImages() {
      let selectedProductType = capitalizeFirstLetter(productTypeSelectImage.value);
      let selectedCultivator = cultivatorSelect.value;
      let url = '/search/strains/' + selectedProductType + '/' + selectedCultivator;
      fetchAndPopulateSelectForImages(url, strainSelect);
  }
  productTypeSelectImage.addEventListener('change', updateCultivatorOptionsForImages);
  cultivatorSelect.addEventListener('change', updateStrainOptionsForImages);

  fetchAndPopulateSelectForImages('/search/product-types', productTypeSelectImage, function() {
      updateCultivatorOptionsForImages();
  });

  async function fetchProductImages(event) {
      if (event) { event.preventDefault() };
      const productType = document.getElementById('productTypeSelectedImage').value;
      const strain = document.getElementById('strainSelectedImage').value;
      const cultivator = document.getElementById('cultivatorSelectedImage').value;

      const url = `/images/get_all?product_type=${encodeURIComponent(productType)}&strain=${encodeURIComponent(strain)}&cultivator=${encodeURIComponent(cultivator)}`;

      try {
          const response = await fetch(url);
          if (!response.ok) {
              throw new Error(`Error: ${response.statusText}`);
          }
          const data = await response.json();
          let images = [];
          for (let type in data) {
              if (data.hasOwnProperty(type)) {
                  const productObj = data[type];
                  for (let productId in productObj) {
                      if (productObj.hasOwnProperty(productId)) {
                          const imageMap = productObj[productId];
                          for (let imagePath in imageMap) {
                              if (imageMap.hasOwnProperty(imagePath)) {
                                  images.push({
                                      productType: type,
                                      productId: productId,
                                      imagePath: imagePath,
                                      imageUrl: imageMap[imagePath]
                                  });
                              }
                          }
                      }
                  }
              }
          }
          const container = document.getElementById('imageSelectContainer');
          container.innerHTML = '';

          if (images.length === 0) {
              container.innerHTML = '<p>No images found.</p>';
              return;
          }

          const optionsRow = document.createElement('div');
          optionsRow.classList.add("row", "align-items-center", "g-2", "mb-3");

          const selectCol = document.createElement('div');
          selectCol.classList.add("col-12", "col-md-6", "col-lg-8");

          const select = document.createElement('select');
          select.id = 'imageSelect';
          select.classList.add("form-select");

          const defaultOption = document.createElement('option');
          defaultOption.value = '';
          defaultOption.text = 'Select an image';
          select.appendChild(defaultOption);
          images.forEach(image => {
              const option = document.createElement('option');
              option.value = image.imageUrl;
              option.text = image.imagePath;
              option.setAttribute('data-product-type', image.productType);
              option.setAttribute('data-product-id', image.productId);
              option.setAttribute('data-image-path', image.imagePath);
              select.appendChild(option);
          });

          selectCol.appendChild(select);
          optionsRow.appendChild(selectCol);

          const removeImageCol = document.createElement('div');
          removeImageCol.classList.add("col-6", "col-lg-3");

          const removeImageBtn = document.createElement('button');
          removeImageBtn.id = 'removeImageBtn';
          removeImageBtn.type = 'button';
          removeImageBtn.classList.add("btn", "btn-danger", "w-100");
          removeImageBtn.textContent = 'Remove Image';
          removeImageBtn.disabled = true;
          removeImageBtn.addEventListener('click', function() {
            alert('Remove Image action triggered!');
          });

          removeImageCol.appendChild(removeImageBtn);
          //optionsRow.appendChild(removeImageCol);

          const makePrimaryCol = document.createElement('div');
          makePrimaryCol.classList.add("col-12", "col-md-6", "col-lg-4");

          const makePrimaryBtn = document.createElement('button');
          makePrimaryBtn.id = 'makePrimaryBtn';
          makePrimaryBtn.type = 'button';
          makePrimaryBtn.classList.add("btn", "btn-warning", "w-100");
          makePrimaryBtn.textContent = 'Make Primary';
          makePrimaryBtn.disabled = true;
          makePrimaryBtn.addEventListener('click', updatePrimaryImage);

          makePrimaryCol.appendChild(makePrimaryBtn);
          optionsRow.appendChild(makePrimaryCol);

          container.appendChild(optionsRow);

          const imgContainer = document.createElement('div');
          imgContainer.classList.add("col-12", "col-lg-6", "mx-auto", "py-3");

          const imgPreview = document.createElement('img');
          imgPreview.id = 'imagePreview';
          imgPreview.style.maxWidth = '100%';
          imgPreview.style.display = 'none';
          imgPreview.className = 'mb-3';

          imgContainer.appendChild(imgPreview);
          container.appendChild(imgContainer);

          select.addEventListener('change', function() {
              const selectedUrl = select.value;
              if (selectedUrl) {
                  imgPreview.src = selectedUrl;
                  imgPreview.style.display = 'block';
                  makePrimaryBtn.disabled = false;
                  removeImageBtn.disabled = false;
              } else {
                  imgPreview.src = '';
                  imgPreview.style.display = 'none';
                  makePrimaryBtn.disabled = true;
                  removeImageBtn.disabled = true;
              }
          });
      } catch (error) {
          console.error('Error fetching images:', error);
      }
  }
  async function updatePrimaryImage() {
    const imageSelect = document.getElementById('imageSelect');
    if (!imageSelect) {
      alert("Image select element not found.");
      return;
    }
    const selectedOption = imageSelect.options[imageSelect.selectedIndex];
    if (!selectedOption || !selectedOption.getAttribute('data-image-path')) {
      alert("Please select an image.");
      return;
    }

    if (!confirm("Are you sure you wnat to update the primary image?")) {return; };

    const productType = document.getElementById('productTypeSelectedImage').value;
    const productId = selectedOption.getAttribute('data-product-id');
    const cardPath = selectedOption.getAttribute('data-image-path');

    const url = `/images/make_primary?product_type=${encodeURIComponent(productType)}&product_id=${encodeURIComponent(productId)}&card_path=${encodeURIComponent(cardPath)}`;

    try {
      const response = await fetch(url, { method: 'POST' });
      if (!response.ok) {
        throw new Error(`Error: ${response.statusText}`);
      }
      const result = await response.json();
      alert("Primary image updated successfully!");
      await fetchProductImages();
    } catch (error) {
      console.error("Error updating primary image:", error);
      alert("Failed to update primary image.");
    }
  }
  document.getElementById('getImagesButton').addEventListener('click', fetchProductImages);
});
</script>
{% endblock %}
