<div class="card d-none p-3" id="manageImagesFormCard">
  <div class="card-body p-3 col-12 mx-auto pt-3">
    <div class="row d-flex align-items-center justify-content-between pb-3 pt-5">
      <div class="col-auto">
        <h3 class="card-title" id="cardTitle">Manage Strain Images</h3>
      </div>
      <div class="col-auto align-conent-end">
        <button id="toggleStrainsFormButton" class="btn btn-link text-secondary btn-sm">Show Add a Strain Form</button>
      </div>
    </div>
    <form id="manageImagesForm">
      <!-- Product Type Select Box -->
      <div class="mb-3">
        <label for="productTypeSelectedImage" class="form-label">Product Type</label>
        <select class="form-select" id="productTypeSelectedImage" name="productTypeSelectedImage"></select>
      </div>
      <!-- Cultivator Select Box -->
      <div class="mb-3">
        <label for="cultivatorSelectedImage" class="form-label">Cultivator</label>
        <select class="form-select" id="cultivatorSelectedImage" name="cultivatorSelectedImage"></select>
      </div>
      <!-- Strain Select Box -->
      <div class="mb-3">
        <label for="strainSelectedImage" class="form-label">Strain</label>
        <select class="form-select" id="strainSelectedImage" name="strainSelectedImage"></select>
      </div>
      <!-- Submit Button -->
      <div class="d-grid gap-2 py-3">
        <button class="btn btn-info" type="submit" id="getImagesButton">Get Images</button>
      </div>
      <div id="imageSelectContainer" class="py-3 container"></div>
      <!-- Image Upload Row -->
      <div class="row align-items-bottom mt-4 g-3" id="uploadImagesRowContainer">
        <div class="col-12 col-sm-6 col-md-8">
          <label class="form-label" for="productImageUpload">Upload Strain Images (max 5)</label>
          <input class="form-control" type="file" id="productImageUpload" accept="image/*" multiple>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mt-auto pt-2 pt-sm-0">
          <button type="button" class="btn btn-success w-100" id="uploadProductImagesButton">Upload Images</button>
        </div>
      </div>
    </form>
  </div>
</div>


{% block scripts %}
<script type="module" src="{{ url_for('static', path='js/forms/manageImagesForm.js') }}" async></script>
{% endblock %}
