@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Hammersmith+One&display=swap');
@import './mdb.min.css';
@import './animate.min.css';


* {
  font-family: 'Hammersmith One', sans-serif;
}

h1 {
  font-family: 'Hammersmith One', sans-serif;
}

h4 {
  font-family: 'Balthazar', serif;
}


.navy-color-parent * {
    color: hsl(231, 52.6%, 20%);
}

.banner-image {
  background-position: center;
}


#formAccordion {
  background-color: transparent;
}
#formAccordionItem{
  background-color: transparent;
}
#formAccordionHeader {
  background-color: transparent;
}
#collapseOne {
  background-color: transparent;
}
.accordion-header {
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}


.cult-picks h1{
  font-family: 'Balthazar', serif;
  color: #301934;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 4rem + 1vw, 6.5rem);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding-top: 1.8rem;
  
}

.cult-picks a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.cult-picks a.ul {
  text-decoration: underline;
  color: inherit;
  background-color: transparent;
  font-weight: bold;
}

.custom-switch-width {
  width: 50px !important;
}

.custom-switch-width:checked::before {
  left: calc(100% - 2em) !important;
}

.container-glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 1px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
}

.wrapper-glass {
  width: auto;
  height: auto;
  
}

.container-glass h1{
  text-transform: uppercase;
  font-size: 2.4rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.container-glass h4 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


.map-locator {
  color: #301934;
}

.map-locator h1{
  text-transform: uppercase;
  font-size: clamp(1rem, 3rem + 1vw, 6rem);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding-top: 3rem;
}


.vote-template {
  background-color: transparent;
  color: #ffffff;
  max-width: 1000px;
  max-height: 100vh;
  
}

.vote-template .card {
  background: url("../img/card-assets/smoky-black-background.svg") no-repeat center center !important;
  background-size: cover;
  position: relative;
  min-height: 475px;
}


.vote-template .card-title {
  color: #ffffff;
  font-size: clamp(1rem, 2rem + 1vw, 3rem);

}

.vote-template .card-subtitle {
  color: #ffffff;
  font-size: clamp(0.8rem, 1.5rem + 1vw, 2rem);
}

.single-width-outline {
  border-width: 1px !important;
}

.modal-info-shadow {
  text-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.2),
    2px 2px 4px rgba(0, 0, 0, 0.2),
    3px 3px 6px rgba(0, 0, 0, 0.2);
}

.email-input-field {
  border: 1px solid black !important;
}

input,
select {
  border: 1px solid black !important;
}

/* Label text for low/high end of scale */
.rating-scale-label {
    font-family: 'Balthazar', serif;
    text-align: center; /* Center align the text */
    color: hsl(231, 52.6%, 20%); /* Navy color for consistency */
    font-size: smaller; /* Smaller font size for secondary text */
}

.btn-group-container {
  background-color: transparent; /* Makes the background transparent */
  /* Add additional styling to match the screenshot */
  border: none; /* Removes any border that might be present */
  box-shadow: none; /* Removes box shadow if any */
}

.btn-group-container .btn-group {
  background-color: transparent; /* Makes the background transparent */
  /* Add additional styling to match the screenshot */
  border: none; /* Removes any border that might be present */
  box-shadow: none; /* Removes box shadow if any */
}

.btn-group-container .btn-light {
  font-size: calc(1.0em);
  margin: 0.1rem; /* Adds space around the buttons */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  transition: box-shadow 0.3s;
}

.btn-group-container .btn-light:hover {
  background-color: transparent; /* Makes the background transparent */
  /* Add additional styling to match the screenshot */
  border: none; /* Removes any border that might be present */
}

.btn-check:checked + .btn-light {
  background-color: #343a40 !important;
  color: #fff !important;
  border-color: #343a40 !important;
}

.btn-check:checked + .btn-light {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}

@media (max-width: 485px) {
  .long-voting-label {
    font-size: 0.85rem;
  }

}

@media (max-width: 420px) {
  .long-voting-label {
    font-size: 0.7rem;
  }
}

@media (max-width: 360px) {
  .long-voting-label {
    font-size: 0.6rem;
  }
}

