@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Hammersmith+One&display=swap');

* {
  font-family: 'Hammersmith One', sans-serif;
}

h1 {
  font-family: 'Hammersmith One', sans-serif;
}

h4 {
  font-family: 'Balthazar', serif;
}



.banner-image {
  background-position: center;
}


#formAccordion {
  background-color: transparent;
}
#formAccordionItem{
  background-color: transparent;
}
#formAccordionHeader {
  background-color: transparent;
}
#collapseOne {
  background-color: transparent;
}
.accordion-header {
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.cult-picks h1{
  font-family: 'Balthazar', serif;
  color: "#301934";
  text-transform: uppercase;
  font-size: clamp(1.5rem, 4rem + 1vw, 6.5rem);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding-top: 1.8rem;
  
}

.cult-picks a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.cult-picks a.ul {
  text-decoration: underline;
  color: inherit;
  background-color: transparent;
  font-weight: bold;
}

.container-glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 1px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
}

.wrapper-glass {
  width: auto;
  height: auto;
  
}

.container-glass h1{
  text-transform: uppercase;
  font-size: 2.4rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.container-glass h4 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


.map-locator {
  color: "#301934";
}

.map-locator h1{
  text-transform: uppercase;
  font-size: clamp(1rem, 3rem + 1vw, 6rem);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding-top: 3rem;
}


.vote-template {
  background-color: transparent;
  color: #ffffff;  
  max-width: 1000px;
  max-height: 100%vh;
  
}

.vote-template .card {
  background: url("../img/card-assets/smoky-black-background.svg") no-repeat center center !important;
  background-size: cover;
  position: relative;
  min-height: 475px;
}


.vote-template .card-title {
  color: #ffffff;
  font-size: clamp(1rem, 2rem + 1vw, 3rem);

}

.vote-template .card-subtitle {
  color: #ffffff;
  font-size: clamp(0.8rem, 1.5rem + 1vw, 2rem);
}


.form-range::-webkit-slider-runnable-track {
  background: darkgray;
  height: 6px; 
}

.form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

/* Firefox */
.form-range::-moz-range-track {
  background: darkgray;
  height: 6px; 
}

.form-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

/* General styles to reset appearance */
.form-range {
  -webkit-appearance: none; /* Necessary to style Chrome */
  appearance: none;
  background: transparent; /* Remove default background */
  width: 100%; /* Full width */
  height: 6px; /* Match track height */
}
