@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.container-glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 1px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
}

.wrapper-glass {
  width: auto;
  height: auto;
  
}

.banner-image {
  background-position: center;
}

.container-glass h1{
  font-family: 'Righteous', sans-serif;
  color: "#301934";
  text-transform: uppercase;
  font-size: 2.4rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.container-glass h4 {
  color: "#301934";
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.map-locator h1{
  font-family: 'Righteous', sans-serif;
  color: "#301934";
  text-transform: uppercase;
  font-size: clamp(1rem, 3rem + 1vw, 6rem);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding-top: 3rem;
}

.partners-header h1{
  font-family: 'Righteous', sans-serif;
  color: "#301934";
  text-transform: uppercase;
  font-size: clamp(1.5rem, 4rem + 1vw, 6.5rem);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding-top: 1.8rem;
  
}
