{% extends "shared/base.html" %}

{% block title %}
  <title>Connoisseur Flower Pack October Transition</title>
{% endblock %}

{% block head %}
  <meta 
    property="og:image"
    content="https://members.cannabiscult.co/storage/v1/object/public/cannabiscult/webiste_assests/Connoisseur_Transitions/flower_tournament_2025/round_1/2025_flower_tournament_round_1.png"
  />
  <meta 
    property="twitter:image"
    content="https://members.cannabiscult.co/storage/v1/object/public/cannabiscult/webiste_assests/Connoisseur_Transitions/flower_tournament_2025/round_1/2025_flower_tournament_round_1.png"
  />
  <meta 
    property="og:description"
    content="The Cannabis Cult Flower Tournament 2025 release poster featuring Camp, illicit, Notorious, and Amaze who will compete with the winner earning their spot in the 2025 Cannabis Cult Flower Tournament Finals."
  />
  <meta 
    property="twitter:description"
    content="The Cannabis Cult Flower Tournament 2025 release poster featuring Camp, illicit, Notorious, and Amaze."
  />
  <meta 
    name="description"
    content="Join Cannabis Cult's Connoisseur Flower Tournament 2025 Round 1 starting April 11th. Get your flower pack, try exclusive strains, and cast your vote!"
  />
  <meta 
    property="og:title"
    content="Cannabis Cult 2025 Connoisseur Flower Tournament - Round 1"
  />
  <meta 
    name="twitter:card"
    content="summary_large_image"
  />
  <meta 
    property="twitter:url"
    content="https://cannabiscult.co"
  />
  <meta 
    property="twitter:title"
    content="Cannabis Cult 2025 Connoisseur Flower Tournament - Round 1"
  />
  <meta 
    name="twitter:site"
    content="https://cannabiscult.co/"
  />
  <meta 
    name="canonical"
    content="https://cannabiscult.co/2025-flower-round-1"
  />
{% endblock %}
{% block content %}
<style>
  #allContent {
    background-image: url('');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
  }
  #allContent::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    pointer-events: none;
    z-index: 1;
  }
 #content {
    position: relative;
    z-index: 2;
  }
  .cascading-right { margin-right: -50px; }

  @media ( max-width: 991.98px ){
    .cascading-right { margin-right: 0; }
  }
</style>
<div id="allContent">
  <div id="content">
    <div id="preview" class="preview pt-md-5" style="min-height: 100vh">
      <div>
        <div style="position: relative;" data-draggable="true" draggable="false">
          <section draggable="false" class="container pt-0" data-v-271253ee="">
            <section class="mb-5 text-center text-lg-start">
              <div class="container py-4 pt-lg-4 pb-lg-0">
                <div class="row g-0 align-items-center my-auto">
                  <div class="col-lg-6 mb-5 mb-lg-0 mx-auto-md">
                    <div class="card cascading-right" style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                      <div class="card-body px-4 pb-5 pt-md-0 px-md-5 shadow-5">
                        <h1 class="my-5 display-4 fw-bold ls-tight">
                          Flower Tournament Round 1
                        </h1>
                        <div class="row g-2">
                          <div class="col-6 col-lg-5 g-2">
                             <a
                              class="btn btn-dark btn-lg ripple-surface-info w-100 text-nowrap"
                              href="https://cannabiscult.co/get-review?strain_selected=R1CP1&cultivator_selected=Connoisseur"
                              data-ripple-color="primary"
                              role="button"
                              draggable="false"
                            >
                              CP 1
                            </a>
                          </div>
                          <div class="col-6 col-lg-5">
                            <a
                              class="btn btn-secondary btn-lg ripple-surface-primary w-100 text-nowrap"
                              data-ripple-color="primary"
                              href="https://cannabiscult.co/get-review?strain_selected=R1CP2&cultivator_selected=Connoisseur"
                              role="button"
                              draggable="false"
                            >
                              CP 2
                            </a>
                          </div>
                          <div class="col-6 col-lg-5">
                            <a
                              class="btn btn-info btn-lg ripple-surface-secondary w-100 text-nowrap"
                              data-ripple-color="primary"
                              href="https://cannabiscult.co/get-review?strain_selected=R1CP3&cultivator_selected=Connoisseur"
                              role="button"
                              draggable="false"
                            >
                              CP 3
                            </a>
                          </div>
                          <div class="col-6 col-lg-5">
                            <a
                              class="btn btn-warning btn-lg ripple-surface-dark w-100 text-nowrap"
                              data-ripple-color="primary"
                              href="https://cannabiscult.co/get-review?strain_selected=R1CP4&cultivator_selected=Connoisseur"
                              role="button"
                              draggable="false"
                            >
                              CP 4
                            </a>
                          </div>
                          <span class="display-6 py-5 mt-4">Get Your Pack and Cast Your Vote on April 11th!</span>
                          <div class="container-fluid text-start ps-0 mb-4">
                            <div class="row align-items-start align-content-stretch text-nowrap" id="packLocations">
                              <div class="col-6 align-content-stretch">
                                <p class="visually-hidden">Shop Greenlight:</p>
                                <img class="img-fluid rounded-5 pt-0 mb-3" src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/logos/greenlight/greenlight_g_dark.webp" />
                                <ul>
                                  <li>
                                    <a 
                                      href="https://greenlightdispensary.com/bannister-menu/?geo-redirected=true&dtche%5Bpath%5D=specials"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Bannister
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://greenlightdispensary.com/cape-girardeau-menu/?geo-redirected=true&dtche%5Bpath%5D=specials"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Cape Girardeau
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://greenlightdispensary.com/independence-menu/?geo-redirected=true&dtche%5Bpath%5D=specials"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Independence
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://greenlightdispensary.com/springfield-menu/?geo-redirected=true&dtche%5Bpath%5D=specials"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Springfield
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-6 align-content-stretch">
                                <p class="visually-hidden">Shop Sunrise:</p>
                                <img class="img-fluid pt-0 mb-1 mb-md-0" src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/logos/sunrise/Sunrise.webp" />
                                <ul>
                                  <li>
                                    <a 
                                      href="https://showmesunrise.com/clinton-adult-use-menu/"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Clinton
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://showmesunrise.com/st-louis-adult-use-menu/"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Florissant
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://showmesunrise.com/kansas-city-adult-use-menu/"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Kansas City
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://showmesunrise.com/maryville-adult-use-menu/"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Maryville
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://showmesunrise.com/sunrise-beach-adult-use-menu/"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Sunrise Beach
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-5 mb-lg-0">
                    <div id="carouselSuccessImages" class="carousel slide carousel-fade pb-5" data-mdb-ride="carousel" data-mdb-carousel-init>
                      <div class="carousel-inner rounded-5 shadow-4-strong">
                        <div class="carousel-item active">
                          <img src="https://members.cannabiscult.co/storage/v1/object/public/cannabiscult/webiste_assests/Connoisseur_Transitions/flower_tournament_2025/round_1/2025_flower_tournament_round_1.webp"
                            class="d-block w-100 rounded-4 shadow-4"
                            alt="The Cannabis Cult Flower Tournament 2025 release poster featuring Camp, illicit, Notorious, and Amaze who will compete with the winner earning their spot in the 2025 Cannabis Cult Flower Tournament Finals"
                            aria-controls="#carouselSuccessImages"
                            data-mdb-interval="5000"
                          >
                        </div>
                        
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/cannabiscult/webiste_assests/Connoisseur_Transitions/flower_tournament_2025/round_1/2025_flower_round_1_strains.webp"
                            class="d-block w-100 rounded-4 shadow-4"
                            alt="Promotional poster for Cannabis Cult’s 2025 Connoisseur Flower Tournament Round 1 featuring four exclusive strains releasing April 11th—Camp, Illicit, Notorious, and Amaze—available in dispensary packs across Missouri."
                            aria-controls="#carouselSuccessImages"
                            style="cover"
                            data-mdb-interval="5000"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/cannabiscult/webiste_assests/Connoisseur_Transitions/flower_tournament_2025/round_1/2025_flower_round_1_locations.webp"
                            class="d-block w-100 rounded-4 shadow-4"
                            alt="Map highlighting Missouri dispensary locations participating in the April 11th release of the Cannabis Cult 2025 Connoisseur Flower Tournament Round 1 packs, featuring exclusive strains from Camp, Illicit, Notorious, and Amaze."
                            aria-controls="#carouselSuccessImages"
                            style="cover"
                            data-mdb-interval="5000"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
    <div class="container align-items-center justify-items-center py-4">
      {% include "components/homepage_elements/homepage_features.html" %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
