{% extends "shared/base.html" %}

{% block title %}
  <title>Connoisseur Flower Tournament Round 1</title>
{% endblock %}

{% block head %}
  <meta 
    property="og:image"
    content="https://members.cannabiscult.co/storage/v1/object/public/cannabiscult/webiste_assests/Connoisseur_Transitions/flower_tournament_2025/round_1/2025_flower_tournament_round_1.png"
  />
  <meta 
    property="twitter:image"
    content="https://members.cannabiscult.co/storage/v1/object/public/cannabiscult/webiste_assests/Connoisseur_Transitions/flower_tournament_2025/round_1/2025_flower_tournament_round_1.png"
  />
  <meta 
    property="og:description"
    content="The Cannabis Cult Flower Tournament 2025 release poster featuring Camp, illicit, Notorious, and Amaze who will compete with the winner earning their spot in the 2025 Cannabis Cult Flower Tournament Finals."
  />
  <meta 
    property="twitter:description"
    content="The Cannabis Cult Flower Tournament 2025 release poster featuring Camp, illicit, Notorious, and Amaze."
  />
  <meta 
    name="description"
    content="Join Cannabis Cult's Connoisseur Flower Tournament 2025 Round 1 starting April 11th. Get your flower pack, try exclusive strains, and cast your vote!"
  />
  <meta 
    property="og:title"
    content="Cannabis Cult 2025 Connoisseur Flower Tournament - Round 1"
  />
  <meta 
    name="twitter:card"
    content="summary_large_image"
  />
  <meta 
    property="twitter:url"
    content="https://cannabiscult.co"
  />
  <meta 
    property="twitter:title"
    content="Cannabis Cult 2025 Connoisseur Flower Tournament - Round 1"
  />
  <meta 
    name="twitter:site"
    content="https://cannabiscult.co/"
  />
  <meta 
    name="canonical"
    content="https://cannabiscult.co/2025-flower-round-1"
  />
{% endblock %}
{% block content %}
<style>
  #allContent {
    background-image: url('');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
  }
  #allContent::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    pointer-events: none;
    z-index: 1;
  }
 #content {
    position: relative;
    z-index: 2;
  }
  .cascading-right { margin-right: -50px; }

  @media ( max-width: 991.98px ){
    .cascading-right { margin-right: 0; }
  }
</style>
<div id="allContent">
  <div id="content">
    <div id="preview" class="preview pt-md-5" style="min-height: 100vh">
      <div>
        <div style="position: relative;" data-draggable="true" draggable="false">
          <section draggable="false" class="container pt-0" data-v-271253ee="">
            <section class="mb-5 text-center text-lg-start">
              <div class="container py-4 pt-lg-4 pb-lg-0">
                <div class="row g-0 align-items-center my-auto">
                  <div class="col-lg-6 mb-5 mb-lg-0 mx-auto-md">
                    <div class="card cascading-right" style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                      <div class="card-body px-4 pb-5 pt-md-0 px-md-5 shadow-5">
                        <h1 class="my-5 display-4 fw-bold ls-tight">
                          Flower Tournament Round 1
                        </h1>
                        <div class="row g-2">
                          <div class="col-6 col-lg-5 g-2">
                             <a
                              class="btn btn-dark btn-lg ripple-surface-info w-100 text-nowrap"
                              href="https://cannabiscult.co/get-review?strain_selected=Bull+Dance&cultivator_selected=Amaze"
                              data-ripple-color="primary"
                              role="button"
                              draggable="false"
                            >
                              Bull Dance
                            </a>
                          </div>
                          <div class="col-6 col-lg-5">
                            <a
                              class="btn btn-secondary btn-lg ripple-surface-primary w-100 text-nowrap"
                              data-ripple-color="primary"
                              href="https://cannabiscult.co/get-review?strain_selected=California+10&cultivator_selected=Camp"
                              role="button"
                              draggable="false"
                            >
                              California #10
                            </a>
                          </div>
                          <div class="col-6 col-lg-5">
                            <a
                              class="btn btn-info btn-lg ripple-surface-secondary w-100 text-nowrap"
                              data-ripple-color="primary"
                              href="https://cannabiscult.co/get-review?strain_selected=Chem+Butter&cultivator_selected=Illicit"
                              role="button"
                              draggable="false"
                            >
                              Chem Butter
                            </a>
                          </div>
                          <div class="col-6 col-lg-5">
                            <a
                              class="btn btn-warning btn-lg ripple-surface-dark w-100 text-nowrap"
                              data-ripple-color="primary"
                              href="https://cannabiscult.co/get-review?strain_selected=Coal+Creek+Kush&cultivator_selected=Notorious"
                              role="button"
                              draggable="false"
                            >
                              Coal Creek Kush
                            </a>
                          </div>
                          <span class="display-6 py-5 mt-4">Get Your Pack and Cast Your Vote!</span>
                          <div class="container-fluid text-start ps-0 mb-4">
                            <div class="row align-items-start align-content-stretch text-nowrap" id="packLocations">
                              <div class="col-6 align-content-stretch">
                                <p class="visually-hidden">Shop Greenlight:</p>
                                <img class="img-fluid rounded-5 pt-0 mb-3" src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/logos/greenlight/greenlight_g_dark.webp" />
                                <ul>
                                  <li>
                                    <a 
                                      href="https://greenlightdispensary.com/bannister-menu/?geo-redirected=true&dtche%5Bproduct%5D=cannabis-cult-connoisseur-4-pack-74474"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Bannister
                                    </a>
                                  </li>
                                  
                                  <li>
                                    <a 
                                      href="https://greenlightdispensary.com/independence-menu/?geo-redirected=true&dtche%5Bproduct%5D=cannabis-cult-connoisseur-4-pack-86252"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Cape Girardeau
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://greenlightdispensary.com/ferguson-menu/?geo-redirected=true&dtche%5Bproduct%5D=cannabis-cult-connoisseur-4-pack"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Ferguson
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://greenlightdispensary.com/independence-menu/?geo-redirected=true&dtche%5Bproduct%5D=cannabis-cult-connoisseur-4-pack-86252"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Independence
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://greenlightdispensary.com/joplin-menu/?geo-redirected=true&dtche%5Bproduct%5D=cannabis-cult-connoisseur-4-pack-70000"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Ferguson
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://greenlightdispensary.com/springfield-menu/?geo-redirected=true&dtche%5Bproduct%5D=cannabis-cult-connoisseur-4-pack-69565"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Springfield
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-6 align-content-stretch">
                                <p class="visually-hidden">Shop Sunrise:</p>
                                <img class="img-fluid pt-0 mb-1 mb-md-0" src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/logos/sunrise/Sunrise.webp" />
                                <ul>
                                  <li>
                                    <a 
                                      href="https://showmesunrise.com/clinton-adult-use-menu/"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Clinton
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://showmesunrise.com/st-louis-adult-use-menu/"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Florissant
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://showmesunrise.com/kansas-city-adult-use-menu/"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Kansas City
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://showmesunrise.com/maryville-adult-use-menu/"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Maryville
                                    </a>
                                  </li>
                                  <li>
                                    <a 
                                      href="https://showmesunrise.com/sunrise-beach-adult-use-menu/"
                                      class="text-info"
                                      target="_blank"
                                    >
                                      Sunrise Beach
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-5 mb-lg-0">
                    <div id="carouselSuccessImages" class="carousel slide carousel-fade pb-5" data-mdb-ride="carousel" data-mdb-carousel-init>
                      <div class="carousel-inner rounded-5 shadow-4-strong">
                        <div class="carousel-item active">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/flower_2025_round_1/round_1_rankings.webp"
                            alt="A graphic announcing the results of the 2025 Connoisseur Pack strain reveal. The winner is "Bull Dance" by Amaze Cannabis, followed by "Coal Creek Kush" in second place, "Chem Butter" in third, and "California #10" in fourth. Each strain is accompanied by its respective brand logo."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/flower_2025_round_1/round_1_chart.webp"
                            alt="A chart displaying the rankings of cannabis strains in the 2025 Connoisseur Pack Flower Tournament Series, featuring strain names, scores for structure, aroma, flavor, effects, and overall ratings. The top strain is 'Bull Dance' with an overall score of 8.4, followed by 'Coal Creek Kush' and 'Chem Butter."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/flower_2025_round_1/amaze_1.webp"
                            alt="Detailed overview of the Bull Dance cannabis strain featuring tasting notes, aroma descriptions, and terpene profile. Highlights include a total THC of 27.02% and a vibrant, fruity flavor profile with hints of citrus and pine."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/flower_2025_round_1/amaze_bull_dance_2.webp"
                            alt="Detailed overview of the Bull Dance cannabis strain featuring tasting notes, aroma descriptions, and terpene profile. Highlights include a total THC of 27.02% and a vibrant, fruity flavor profile with hints of citrus and pine."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/flower_2025_round_1/notorious_coal_creek_cush_1.webp"
                            alt="Close-up of a dense cannabis bud labeled 'Coal Creek Kush' with details including total THC content of 25.35%, indica strain classification, and descriptive charts showing aroma, flavor notes, and effects such as relaxing, happy, and calming."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/flower_2025_round_1/notorious_coal_creek_cush_2.webp"
                            alt="Detailed description of Coal Creek Kush, an indica strain with a total THC content of 25.35%. Highlights connoisseur notes praising its appearance, smooth smoke, and savory flavor profile with earthy, musky, and sweet notes. Lists top terpenes: B-Caryophyllene, D-Limonene, and B-Myrcene."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/flower_2025_round_1/illicit_chem_butter.webp"
                            alt="A detailed infographic displaying Chem Butter cannabis strain information, featuring a close-up of the flower, along with its total THC content (28.05%) and sativa-hybrid classification. The infographic includes aroma and flavor profiles, highlighting fruity and citrus notes, and lists effects such as relaxation and happiness, ideal for customers seeking quality cannabis products."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/flower_2025_round_1/illicit_chem_butter_2.webp"
                            alt="A detailed infographic displaying Chem Butter cannabis strain information, featuring a close-up of the flower, along with its total THC content (28.05%) and sativa-hybrid classification. The infographic includes aroma and flavor profiles, highlighting fruity and citrus notes, and lists effects such as relaxation and happiness, ideal for customers seeking quality cannabis products."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#carouselSuccessImages"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/flower_2025_round_1/camp_cali_10_1.webp"
                            alt="A graphic showcasing connoisseur notes for a cannabis strain, highlighting flavor descriptions like 'strong fruit with garlic undertones' and 'smoothest strain in the pack.' It lists top terpenes, including caryophyllene, limonene, and myrcene, along with strain details: California #10, total THC of 30.08%, and labeled as a hybrid from Camp Cannabis."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#flowerTournament2025Round1"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                        <div class="carousel-item">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/partner_images/events/flower_2025_round_1/camp_cali_10_2.webp"
                            alt="A visual description of CP2 cannabis strain from Camp Cannabis, showcasing its characteristics. The image includes a close-up of the cannabis bud, with infographics detailing the aroma (fruity, funky, garlic, citrus, earthy), flavor (garlic, cheese, citrus, earthy), effects (relaxing, calming, sedative, tingly, focused), and a total THC content of 30.08%. The strain is labeled as California #10 and classified as a hybrid."
                            class="d-block w-100 rounded-4 shadow-4"
                            aria-controls="#flowerTournament2025Round1"
                            draggable="false"
                            data-mdb-interval="5000"
                            style="cover"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
    <div class="container align-items-center justify-items-center py-4">
      {% include "components/homepage_elements/homepage_features.html" %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
