{% extends "shared/base.html" %}

{% block title %} 
  <title>Connoisseur Rosin Pack Voting Success</title>
{% endblock %}

{% block head %}
  <meta 
    property="og:image" 
    content="https://members.cannabiscult.co/storage/v1/object/public/cannabiscult/webiste_assests/Connoisseur_Transitions/resin_pack_2025/Live-Resin-Pack-Transition.webp"
  />
  <meta 
    content="The Cannbis Cult is bringing the Live Resin Pack to 2025. More details coming soon!" 
    name="description"
  />
  <meta 
    property="og:description"
    content="The Cannbis Cult is bringing the Live Resin Pack to 2025. More details coming soon!" 
  />
  <meta 
    property="og:title" 
    content="The Cannabis Cult"
  />
  <meta 
    name="twitter:card" 
    content="summary_large_image"
  />
  <meta 
    property="twitter:url" 
    content="https://cannabiscult.co"
  />
  <meta 
    property="twitter:title" 
    content="The Cannabis Cult Connoisseur Concentrates Ranking Success"
  />
  <meta 
    property="twitter:description" 
    content="The Cannbis Cult is bringing the Live Resin Pack to 2025. More details coming soon!" 
  />
  <meta 
    name="twitter:site" 
    content="https://cannabiscult.co/"
  />
  <meta 
    property="twitter:image" 
    content="https://members.cannabiscult.co/storage/v1/object/public/cannabiscult/webiste_assests/Connoisseur_Transitions/resin_pack_2025/Live-Resin-Pack-Transition.webp"
  />
{% endblock %}
{% block content %}
<style> 
  #allContent {
    background-image: url('https://tahksrvuvfznfytctdsl.supabase.co/storage/v1/object/sign/cannabiscult/webiste_assests/Connoisseur_Transitions/transition412.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjYW5uYWJpc2N1bHQvd2ViaXN0ZV9hc3Nlc3RzL0Nvbm5vaXNzZXVyX1RyYW5zaXRpb25zL3RyYW5zaXRpb240MTIud2VicCIsImlhdCI6MTcxMjg5MDk3NiwiZXhwIjoxNzQ0NDI2OTc2fQ.HeWdiY0eVPBYqjUBmrUvW7oplzQwASu11lN6OXhavnI&t=2024-04-12T03%3A02%3A57.012Z');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
  }
  
  #allContent::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    pointer-events: none;
    z-index: 1;
  }

 #content {
    position: relative;
    z-index: 2;
  }
  .cascading-right { margin-right: -50px; } 
  
  @media ( max-width: 991.98px ){ 
    .cascading-right { margin-right: 0; } 
  }
</style>
<div id="allContent" class="bg-dark">
  <div id="content">
    <div id="preview" class="preview" style="min-height: 100vh">
      <div style="display: none;"></div>
      <div>
        <div style="position: relative;" data-draggable="true" draggable="false">
          <section draggable="false" class="container pt-0" data-v-271253ee="">
            <section class="mb-5 text-center text-lg-start"> 
              <div class="container py-4">
                <div class="row g-0 align-items-center my-auto">
                  <div class="col-lg-6 mb-5 mb-lg-0 mx-auto-md">
                    <div class="card cascading-right" style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                      <div class="card-body px-4 pb-5 pt-md-0 px-md-5 shadow-5">
                        <h1 class="my-5 display-5 fw-bold ls-tight flex-shrink">
                          <span class="text-dark">Resin Division</span><br><span class="display-6">Select a Resin to Rate</span>
                        </h1>
                        <div class="row g-0 g-sm-2 my-auto px-3 d-flex">
                          <div class="col-9 col-sm-6 mx-auto">
                            <a 
                              class="btn btn-dark btn-lg py-3 px-5 mb-2 mb-md-0 me-md-1 mb-lg-2 ripple-surface-info w-100 flex-shrink-1" 
                              href="/concentrate-get-review?strain_selected=LRCP1&cultivator_selected=Connoisseur&product_type_selected=contest" 
                              data-ripple-color="primary" 
                              role="button" 
                              aria-controls="#picker-editor" 
                              draggable="false"
                              style="min-width: fit-content; flex: 1;"
                            >
                              CP 1
                            </a>
                          </div>
                          <div class="col-9 col-sm-6 mx-auto">
                            <a 
                              class="btn btn-secondary btn-lg shadow-5 py-3 px-5 mb-2 mb-md-0 me-md-1 mb-lg-2 ripple-surface-primary w-100 flex-shrink-1" 
                              data-ripple-color="primary" 
                              href="/concentrate-get-review?strain_selected=LRCP2&cultivator_selected=Connoisseur&product_type_selected=contest" 
                              role="button" 
                              aria-controls="#picker-editor" 
                              draggable="false"
                              style="min-width: fit-content; flex: 1;"
                            >
                              CP 2
                            </a>
                          </div>
                          <div class="col-9 col-sm-6 mx-auto">
                            <a 
                              class="btn btn-info btn-lg py-3 px-5 mb-2 mb-md-0 me-md-1 mb-xl-2 ps-ls-4 ripple-surface-secondary w-100 flex-shrink-1" 
                              data-ripple-color="primary" 
                              href="/concentrate-get-review?strain_selected=LRCP3&cultivator_selected=Connoisseur&product_type_selected=contest" 
                              role="button" 
                              aria-controls="#picker-editor" 
                              draggable="false"
                              style="min-width: fit-content; flex: 1;"
                            >
                              CP 3
                            </a>
                          </div> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-5 mb-lg-0 my-auto">
                    <div id="carouselSuccessImages" class="carousel slide carousel-fade pb-5" data-mdb-ride="carousel" data-mdb-carousel-init>
                      <div class="carousel-inner rounded-5 shadow-4-strong">
                        <div class="carousel-item active">
                          <img 
                            src="https://members.cannabiscult.co/storage/v1/object/public/cannabiscult/webiste_assests/Connoisseur_Transitions/resin_pack_2025/Live-Resin-Pack-Transition.webp"
                            class="d-block w-100 rounded-4 shadow-4"
                            alt="Cannabis Cult Live Resin Division Limited Edition Pack guide for judges, detailing steps to create an account, rate strains, and enter a giveaway. The guide includes instructions for scanning a QR code, rating categories, and completing the review process."
                            aria-controls="#picker-editor"
                            draggable="false"
                            data-mdb-interval="5000"
                            loading="lazy"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}  

{% block footer %}
{% endblock %}
  
{% block scripts %}
{% endblock %}
